<!-- Header START-->
  <header class="main uninav-header uninav-default uninav-push">
    <div class="header-fixed">
      <div class="header-bar push-lock">
        <button class="navbar-toggle collapsed header-nav-toggle" type="button" data-toggle="collapse" data-target="#header-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <div class="header-bar-inner">
          <h1 class="logo"><a href="index.html"><img src="/assets/theme/images/push-logo.png" alt="ABS-CBN"><span class="retinaContainer"></span></a></h1>
          <div class="header-text"><img src="/assets/theme/images/push-logo-text.png" alt="ABS-CBN">
          </div>
          <ul class="header-social list-unstyled">
            <li class="search-container-lg"></li>
            <li class="search"><a href="javascript:return false;"><span id="text">Search...</span><i class="uninav-icon uninav-icon-search"></i><span class="sr-only">search</span></a></li>
            <li class="divider"></li>
            <li class="follow">Follow:</li>
            <li class="fb"><a href="//www.facebook.com/starcinemaofficial/" target="_blank"><i class="uninav-icon uninav-icon-fb"></i><span class="sr-only">facebook</span></a></li>
            <li class="tw"><a href="//twitter.com/StarCinema" target="_blank"><i class="uninav-icon uninav-icon-tw"></i><span class="sr-only">twitter</span></a></li>
            <li class="ig"><a href="//www.instagram.com/starcinema" target="_blank"><i class="uninav-icon uninav-icon-ig"></i><span class="sr-only">instagram</span></a></li>
            <li class="yt"><a href="//www.youtube.com/user/ABSstarcinema" target="_blank"><i class="uninav-icon uninav-icon-yt"></i><span class="sr-only">youtube</span></a></li>
          </ul>
        </div>
      </div>
      <nav class="header-collapse collapse push-lock" id="header-collapse">
        <div class="header-nav">
          <div class="search-container">
            <div class="search-form" autocomplete="off">
              <input type="text" name="search" placeholder="Search">
              <input class="uninav-icon uninav-icon-search" type="button" value="Search">
            </div>
          </div>
          <ul class="list-unstyled clearfix">
            <li routerLink="/home" routerLinkActive="active"><a routerLink="/home" routerLinkActive="active">HOME</a></li>
            <!--<li class="tooltip" data-tooltip-content="#fresh-scoops"><a [routerLink]="['/landing-page']">FRESH SCOOPS</a></li>-->
            <li class="tooltip" data-tooltip-content="#photos" routerLink="/photos" routerLinkActive="active"><a routerLink="/photos" routerLinkActive="active">PHOTOS</a></li>
            <!--<li class="tooltip" data-tooltip-content="#videos" routerLink="/photos" routerLinkActive="active"><a routerLink="/photos" routerLinkActive="active">VIDEOS</a></li>-->
            <!--EXTRA PAGES ONLY-->
            <!--<li routerLink="/photos" routerLinkActive="active"><a routerLink="/photos" routerLinkActive="active">65th Miss Universe</a></li>-->
            <!--<li routerLink="/photos" routerLinkActive="active"><a routerLink="/photos" routerLinkActive="active">SKINNED HOME</a></li>-->
            <li routerLink="/admin" routerLinkActive="active"><a routerLink="/admin" routerLinkActive="active">ADMIN</a></li>
          </ul>
          <!--TOOLTIPS -->
          <div class="tooltip_templates">
            <div class="tooltip_content" id="fresh-scoops">
              <div class="push-articles">
                <ul></ul>
              </div>
            </div>
            <div class="tooltip_content push-lock" id="photos">
              <div class="push-articles">
                <ul></ul>
              </div>
            </div>
            <div class="tooltip_content push-lock" id="videos">
              <div class="push-articles">
                <ul></ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div id="mobile-uninav">
      <section id="mobile-icons">
        <div class="pull-right mobile-menu"><a class="link-uninav" href="javascript:void(0);"><span class="icon uninav-icon-dashboard" id="mobile-icon"></span></a></div>
        <div class="pull-right"><a class="link-uninav" href="javascript:void(0);"><span class="icon uninav-icon-new" id="mobile-icon"></span></a></div>
        <div class="pull-left"><a class="link-uninav" href="http://staging-kapamilyaaccounts.abs-cbn.com/profile"><span class="icon uninav-icon-login-new" id="mobile-icon">
          <p></p></span></a></div>
        <div class="pull-right"><a class="link-uninav" href="javascript:void(0);"><span class="icon uninav-icon-search-new" id="mobile-icon"></span></a></div>
        <div class="pull-left site-logo"><a class="link-uninav" href="javascript:void(0);"><span class="icon news" id="mobile-icon"></span></a></div>
      </section>
    </div>
  </header>
<!-- Header END-->