//ADS - START
section.ads
    //- img(src=SAMPLES+'ads.png')
    //PLACEHOLDER ONLY
    picture
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        source(srcset=SAMPLES+'ads.png', media='(min-width: 960px)')
        source(srcset=SAMPLES+'ads-468-60.png', media='(max-width: 961px)')
        <!--[if IE 9]></video><![endif]-->
        img(srcset=SAMPLES+'ads.png', alt='Image')
    //PLACEHOLDER ONLY
//ADS - END