mixin aside
    //.push-container-right - START
    aside.push-container-right
        //PUSH POLL - START
        //- .push-poll
        //-     #title * PUSH POLL *
        //-     .push-poll-img
        //-         img(src=SAMPLES+'poll-img.png' alt='TITLE')
        .push-poll
            //- img(src=SAMPLES+'poll.png' alt='TITLE')                        
            //- //PLACEHOLDER ONLY
            //- picture
            //-   <!--[if IE 9]><video style="display: none;"><![endif]-->
            //-   source(srcset=SAMPLES+'poll.png', media='(min-width: 960px)')
            //-   source(srcset=SAMPLES+'poll-s.png', media='(max-width: 961px)')
            //-   <!--[if IE 9]></video><![endif]-->
            //-   img(srcset=SAMPLES+'poll.png', alt='Image')
            //- //PLACEHOLDER ONLY
            #title.
                #[i.fa.fa-star(aria-hidden='true')] PUSH POLL #[i.fa.fa-star(aria-hidden='true')]
            // SAMPLE GENERATED POLL FROM KENTICO
            #ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_sys_pnlUpdate
                #ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_pnlControl.PollControl(onkeypress="javascript:return false;")
                    span#ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_lblTitle.PollTitle Baron Geisler, may pag-asa pa kayang magbago?
                    //- span#ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_lblQuestion.PollQuestion Saan ka pinaka-excited sa KathNiel movie na "Can't Help Falling In Love"?
                    #ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_pnlAnswer.PollAnswers
                    table(cellpadding='0', cellspacing='0', width='100%')
                        tr
                            td.PollAnswer(colspan='2')
                                span.PollAnswerCheck.checkbox
                                    input#ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_chk4(type='checkbox', name='ctl00$plcMain$plcZonePollItem$lt$zonePollItem$Poll$plcUp$viewPoll$chk4')
                                    label(for='ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_chk4') Oo naman, may awa pa ang Diyos!
                        tr
                            td(style='width: 100%;')
                                .PollGraph
                                    .PollGraph0(style='width:100%')  
                            td.PollCount(style='white-space: nowrap;') 67%
                        tr
                            td.PollAnswer(colspan='2')
                                span.PollAnswerCheck.checkbox
                                    input#ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_chk5(type='checkbox', name='ctl00$plcMain$plcZonePollItem$lt$zonePollItem$Poll$plcUp$viewPoll$chk5')
                                    label(for='ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_chk5') Hindi. Wala na. Period. No Erasures!
                        tr
                            td(style='width: 100%;')
                                .PollGraph
                                    .PollGraph1(style='width:28%')  
                            td.PollCount(style='white-space: nowrap;') 19%
                        //- tr
                        //-     td.PollAnswer(colspan='2')
                        //-         span.PollAnswerCheck.checkbox
                        //-         input#ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_chk6(type='checkbox', name='ctl00$plcMain$plcZonePollItem$lt$zonePollItem$Poll$plcUp$viewPoll$chk6')
                        //-         label(for='ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_chk6') Gustung-gusto ko nang makita 'yung mga magaganda nilang locations like Cebu!
                        //- tr
                        //-     td(style='width: 100%;')
                        //-         .PollGraph
                        //-         .PollGraph2(style='width:19%')  
                        //-     td.PollCount(style='white-space: nowrap;') 13%
                    #ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_pnlFooter.PollFooter
                        input#ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_btnVote.PollVoteButton.btn.btn-default(type='submit', name='ctl00$plcMain$plcZonePollItem$lt$zonePollItem$Poll$plcUp$viewPoll$btnVote', value='Vote')
            // SAMPLE GENERATED POLL FROM KENTICO
        //PUSH POLL - START
        if (config.devtest)
            .push-title TEST
        //LATEST PHOTOS - START                          
        .push-container
            .push-title LATEST PHOTOS
            .push-articles.type-1
                ul
                    - for(i=1;i<=5;i++)
                        li.photo
                            a(href='photos-inner.html')
                                .push-articles-img
                                    img(src=SAMPLES+'lp-'+i+'.png' alt='TITLE')
                                .push-articles-info-container
                                    .push-articles-info
                                        #title Sam Concepcion's Cover of `Make Believe`
                //SEE MORE PHOTOS
                a(href='photos-landing.html')
                    button SEE MORE PHOTOS
        //LATEST PHOTOS - END
        //MREC AD 300x250
        .push-ads
            .push-ads-img
                //- img(src=SAMPLES+'mrec-300-250.png')
                //PLACEHOLDER ONLY
                picture
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    source(srcset=SAMPLES+'mrec-300-250.png', media='(min-width: 960px)')
                    source(srcset=SAMPLES+'ads-468-60.png', media='(max-width: 961px)')
                    <!--[if IE 9]></video><![endif]-->
                    img(srcset=SAMPLES+'mrec-300-250.png', alt='Image')
                //PLACEHOLDER ONLY
        //
        //LATEST VIDEOS - START
        .push-container
            .push-title LATEST VIDEOS
            .push-articles.type-1
                ul
                    - for(i=1;i<=5;i++)
                        li.video
                            a(href='videos-inner.html')
                                .push-articles-img
                                    img(src=SAMPLES+'lp-'+i+'.png' alt='TITLE')
                                .push-articles-info-container
                                    .push-articles-info
                                        if (config.devtest)
                                            #title.
                                                Sam Concepcion's Cover of `Make Believe`
                                                Sam Concepcion's Cover of `Make Believe`
                                                Sam Concepcion's Cover of `Make Believe`
                                                Sam Concepcion's Cover of `Make Believe`
                                                Sam Concepcion's Cover of `Make Believe`
                                                Sam Concepcion's Cover of `Make Believe`
                                                Sam Concepcion's Cover of `Make Believe`
                                        else
                                            #title Sam Concepcion's Cover of `Make Believe`
                //SEE MORE VIDEOS
                a(href='videos-landing.html')
                    button SEE MORE VIDEOS
        //LATEST VIDEOS - END
        //PUSH ALERT - START
        .push-alert
            #title PUSH ALERT!
            //PLACEHOLDER ONLY
            picture
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                source(srcset=SAMPLES+'crowdy.png', media='(min-width: 960px)')
                source(srcset=SAMPLES+'crowdy-l.png', media='(max-width: 961px)')
                <!--[if IE 9]></video><![endif]-->
                img(srcset=SAMPLES+'crowdy.png', alt='Image')
            //PLACEHOLDER ONLY
        //PUSH ALERT - END
    //.push-container-right - END