mixin _social(d)
    // .social-save-container
    .social-save-container
        if (typeof d == 'undefined')
            - var d = {}
        if (typeof d.class == 'undefined')
            // .social
            .social(class=typeof d.class == 'undefined' ? '' : d.class)
                if (config.devtest)
                    i.icon-fb(data-url='123' data-nodeid="123" data-type="1234" data-title="TITLE" data-image=SAMPLES+'ai-1.png') #[img(src=IMAGES+'social-fb.png')]
                else
                    i.icon-fb(data-url='123' data-nodeid="123" data-type="1234" data-title="TITLE" data-description="DESCRIPTION" data-image=SAMPLES+'ai-1.png') #[img(src=IMAGES+'social-fb.png')]
                i.icon-tw(data-nodeid="123" data-type="1234" data-title="TESTING") #[img(src=IMAGES+'social-tw.png')]
                i.icon-gplus(data-nodeid="123" data-type="1234") #[img(src=IMAGES+'social-gplus.png')]
            // / .social
            // SAVE FOR LATER
            article
                meta(itemprop='headline', content='Jr. NBA PH 2016 All-Stars visit Shanghai for Global Games')
                meta(itemprop='description', content='Jr. NBA/Jr. WNBA PH 2016 All-Stars experience hoops and sights in Shanghai')
                meta(itemprop='thumbnailUrl', content='http://data-sports.abs-cbn.com/dev/articles/1476779354_photo-250x250-dscf0287small.jpg')
                meta(itemprop='url', content='http://staging-dev.abs-cbn.com/sports/basketball/news/2016/10/18/jr-nba-ph-2016-all-stars-visit-shanghai-global-games-2081')
                meta(property='og:site_name', content='ABS-CBN SPORTS')
                .bookmarked-saved-container.landscape
                    button.bookmarked
                        span Save
            // / SAVE FOR LATER
    // / .social-save-container

mixin breadcrumbs(d)
    // .push-breadcrumbs
    ul.push-breadcrumbs
        li #[span #[a(href='index.html') Home]]
        if (typeof d == 'undefined')
            li #[span Test1]
            li #[span #[a(href='index.html'+d) Test2]]
        else
            each v, k in d
                if(v.link)
                    li #[span #[a(href=v.link)=v.text]]
                else
                    li #[span=v.text+(config.devtest ? 'Test Test Test Test Test Test Test Test Test Test Test ' : '')]
        if (typeof d == 'undefined' && config.devtest)
            li #[span Test1]
            li #[span #[a(href='index.html') Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 Test2 ] ]
    // / .push-breadcrumbs

mixin article(d)
    - d = typeof d === 'undefined' ? {} : d
    //- - d.type = typeof(d.type) === 'undefined' ? false : d.type
    // ARTICLE - START
    article(class=d.type == 'fs' ? 'article-data active' : '')
        +breadcrumbs(d.bc)
        #title=d.title || "'Mater Dolorosa' Tops Digital Movie Purchases"
        #details=d.details || "The Cinema One Originals film is a hit among netizens!"
        #writer
            .push-container-left
                #profile-name-caption
                    .push-container-left#profile
                        img(src=SAMPLES+'author.png')
                    .push-container-right#name-caption
                        #name BY JOAN LEARY
                        #caption Follow me on Twitter: #[a(href="#") @IamJoanL]
            .push-container-right
                #category-time-container
                    #category-time
                        #category #[a(href=d.from_a ? d.from_a : "fresh-scoops-landing.html")=d.from ? d.from : "FRESH SCOOPS"]
                        #time 4 Hours Ago
        +_social
            //- i.g-plus.icon-gplus(data-action='share') #[img(src=IMAGES+'social-gplus.png')]
            //- script(src='https://apis.google.com/js/platform.js', async='', defer='')
        //- FRESH SCOOPS
        if (d.type == 'fs')
            //ARTICLE - START
            #article-img
                img(src=SAMPLES+'ai-1.png' alt='TITLE')
            #source Image via <b>ABS-CBN News</b>
            #html.article-content.
                <p>MANILA - "Mater Dolorosa," a Cinema One Originals film about the matriarch of a crime group, has become the top Filipino movie released on iTunes since its  January 2014 on the digital media store. </p><p>"I am proud that Cinema One is able to provide an alternative lineup of movies that suits the taste of our audience," said channel head Ronald Arguelles of the Adolf Alix, Jr. film, which is the first Cinema One Originals title made available on iTunes.</p> <p>Arguelles added: "'Mater Dolorosa' is an edgy family drama that is well-received locally and has bagged major awards in various prestigious local award giving bodies. Its success does not surprise me because the film's story is impeccable. It is what viewers enjoy."</p>
            // ADS (468x58) - START
            #ads
                img(src=SAMPLES+'ads-468-58.png')
            // ADS (468x58) - END
            #html.
                <p>Starring Gina Alajar as the titular character, "Mater Dolorosa" follows a woman as takes over her husband's crime empire while trying to keep her family intact.</p> <p>While she tries to manage the issues enveloping her family, a new mayor steps in, forcing her to change the way she runs her business and how she deals with ghosts from the past.</p> <p>Among "Mater Dolorosa's" recognitions were the 2013 Gawad Urian Best Director for Alix, the 2013 Golden Screen Awards Best Actress award for Alajar, and the 2013 Star Awards for Movies Best Supporting Actor for Carlo Aquino.</p>
            // ADS (468x58) - START
            #ads
                img(src=SAMPLES+'ads-468-58.png')
            // ADS (468x58) - END
            #html.article-content.
                <p>You can watch the trailer from below:</p> <p style="text-align:center">#[img(src=SAMPLES+'video.png')]</p>
            //ARTICLE - END
        //- VIDEOS
        else if (d.type == 'v')
            // VIDEOS - START
            #article-video
                //placeholder only
                img(src=SAMPLES+'vi-1.png')
                //placeholder only
            // VIDEOS - END
            // ADS (468x58) - START
            #ads
                img(src=SAMPLES+'ads-468-58.png')
            // ADS (468x58) - END
        //- PHOTOS
        else if (d.type == 'p')
            //GALLERY - START
            .push-gallery
                //SHOULD BE EQUAL LENGTH TO .pg-big and .pg-thumbnails
                //LARGE IMAGES
                .pg-big
                    ul
                        - for(i=1;i<=10;i++)
                            li
                                .social
                                    i.icon-fb(data-nodeid='test'+i) #[img(src=IMAGES+'social-fb-2.png')]
                                    i.icon-tw(data-nodeid='test'+i) #[img(src=IMAGES+'social-tw-2.png')]
                                .img-container
                                    //- img.placeholder(options='size='+(i==5 ? '333x333' : '660x414')+'&text=IMG#'+i+' (660x414)&bgcolor=gray')
                                    img(src='https://unsplash.it/600/' + (414 + i) alt="TITLE")
                                    #img-info
                                        #ii-title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        #ii-caption Photo by: <b>Juan Dela Cruz</b>
                //THUMBNAIL IMAGES
                .pg-thumbnails
                    ul
                        - for(i=1;i<=10;i++)
                            li
                                .img-container
                                    //- img.placeholder(options='size='+(i==5 ? '55x55' : '113x113')+'&text=IMG#'+i+' (113x113)&bgcolor=gray')
                                    img(src='https://unsplash.it/113/' + (113 + i) alt="TITLE")
            //GALLERY - END
            // ADS (468x58) - START
            #ads
                img(src=SAMPLES+'ads-468-58.png')
            // ADS (468x58) - END
        +_social({
            class:'bottom-social'
        })
        #tags
            label Tags:
            #tag-container
                span #[a(href="#") Movie,] 
                span #[a(href="#") Lorna Tolentino,] 
                span #[a(href="#") Boy Abunda,] 
                span #[a(href="#") Cinema One]
        // COMMENTS BUTTON (add .active)
        .comments#button
            button.orange(type="button") #[span#counts 1.2K] SHOW COMMENTS #[i#arrow]
        //CLEARFLOAT
        .u-cf
        // COMMENTS (UNIQUEID should be unique. Change all "123456UNIQUEID")
        .comments#commentsDiv-123456UNIQUEID(data-cid='tPush' data-streamid='t123456UNIQUEID' data-containerid='tcommentsDiv-123456UNIQUEID')
            //PLACEHOLDER ONLY
            img(src=SAMPLES+'comments.png')
            //PLACEHOLDER ONLY
            script(type='text/javascript').
                function onGigyaServiceReady() {
                    var params = {
                        categoryID: 'Push',
                        streamID: "123456UNIQUEID",
                        version: 2,
                        containerID: 'commentsDiv-123456UNIQUEID',
                        cid: '',
                        enabledShareProviders: 'facebook',
                        disabledShareProviders: 'facebook',
                        useSiteLogin: true,
                        onSiteLoginClicked: function () {
                            var goLogin = confirm('You must login first. Do you want to go to login page now.');
                            if (goLogin) {
                                window.location.href = 'http://staging-kapamilyaaccounts.abs-cbn.com/login';
                            }
                        }
                    }
                    PushInitComments(params);
                }
        // NEXT PAGE (THIS IS HIDDEN BY DEFAULT. THIS TAG WILL BE USE FOR INFINITE SCROLL.)
        //- .next #[a(href=CONFIG_next_page ? CONFIG_next_page : "infinite-scroll-test-1.html")]
        .next(data-urls=(config.devtest ? '_test/' : '')+'infinite-scroll-test-1.html?test=1;'+(config.devtest ? '_test/' : '')+'infinite-scroll-test-2.html?test=1;'+(config.devtest ? '_test/' : '')+'infinite-scroll-test-3.html?test=1;'+(config.devtest ? '_test/' : '')+'infinite-scroll-test-1.html?test=1'+(config.devtest ? ';' : ''))
        //- .next(data-urls='123;')
        // NEXT PAGE (THIS IS HIDDEN BY DEFAULT. THIS TAG WILL BE USE FOR INFINITE SCROLL.)

    // ARTICLE - END