mixin pusharticles(d)
    - var type = false
    - if (d.type == 'v') type = 'video'
    - if (d.type == 'p') type = 'photo'
    ul
        - for(i=1;i<=10;i++)
            | <!-- li#{type ? '.' + type : ''} -->
            li(class=type)
                a(href=d.link)
                    .push-articles-img
                        img(src=SAMPLES+'a-'+i+'.png' alt='TITLE')
                    .push-articles-info-container
                        .push-articles-info
                            if (config.devtest == false)
                                #title Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover
                            else
                                #title. 
                                    Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover
                                    Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover
                                    Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover
                            #person-date
                                #person by Jhai Ho
                                #date #[i.fa.fa-clock-o(aria-hidden='true')]2 minutes ago
                            #responses-shares
                                #responses #[i.fa.fa-comment(aria-hidden='true')] #[span.counts 1.2K] comments
                                #shares #[i.fa.fa-share(aria-hidden='true')] 7.5K shares

                    #commentsDiv-1165.scm-container.comments(data-cid='Push', data-streamid='1165', data-containerid='commentsDiv-1165')
                        //- script(type='text/javascript').
                            var commentInterval#{i} = setInterval(function () {
                                if (typeof gigya !== "undefined") {
                                    var params = {
                                        categoryID: 'Push',
                                        streamID: "1165",
                                        version: 2,
                                        containerID: 'commentsDiv-1165',
                                        cid: '',
                                        enabledShareProviders: 'facebook',
                                        disabledShareProviders: 'facebook',
                                        useSiteLogin: true,
                                        onSiteLoginClicked: function () {
                                            var goLogin = confirm('You must login first. Do you want to go to login page now.');
                                            if (goLogin) {
                                                window.location.href = 'http://staging-kapamilyaaccounts.abs-cbn.com/login';
                                            }
                                        }
                                    }
                                    PushInitComments2(params);
                                    clearInterval(commentInterval#{i});
                                }
                            }, 300);
            | <!-- /li#{type ? '.' + type : ''} -->