//- - var IMAGES = 'http://localhost:8081/theme/images/';
- var IMAGES = 'theme/images/';
- var SAMPLES = IMAGES+'_samples/';
//- - if (typeof config == 'undefined') {var config = {};}

- var data_lsn = new Array();
- data_lsn.push({a:'LOOK: Boy shows us his newly-built 5-story mansion',b:'DZMM ChisMax',c:'5 minutes ago'});
- data_lsn.push({a:'LOOK:Jessy Mendiola’s reveals her ‘smokin’ hot’ summer body',b:'ABS-CBN News',c:'20 minutes ago'});
- data_lsn.push({a:'The ‘Blind Item’that made all the girls curious',b:'ABS-CBN Entertainment',c:'1 hour ago'});