include ./_config
include ./../mixins/_global

block CONFIG

doctype html
html.no-js(lang='en')
  form#aspnetForm(action="index.html")
    head
      if(config.devtest)
        base(href='../')
      meta(charset='utf-8')
      meta(http-equiv='x-ua-compatible', content='ie=edge')
      meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
      if (CONFIG_page == 'home')
        title Home - PUSH
      else if (CONFIG_page == 'fs')
        title Fresh Scoops - PUSH
      else if (CONFIG_page == 'p')
        title Photos - PUSH
      else if (CONFIG_page == 'v')
        title Videos - PUSH
      else if (CONFIG_title)
        title=CONFIG_title + ' - PUSH'
      else
        title TITLE - PUSH
      meta(name='keywords', content='')
      meta(name='rights', content='All rights reserved by ABS-CBN Corporation')
      meta(name='description', content='')
      meta(name='author', content='ABS-CBN Corp.')
      link(rel='apple-touch-icon', href='apple-icon.png')
      link(rel='icon', href='favicon.png')
      <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
      meta(name='msapplication-TileColor', content='#ffffff')
      meta(name='msapplication-TileImage', content='ms-icon.png')
      link(type='text/plain', rel='author', href='humans.txt')
      // OPEN GRAPH META DATA START
      meta(name='og:title', content='')
      meta(name='og:type', content='Website')
      meta(name='og:image', content='')
      meta(name='og:url', content='')
      meta(name='og:site_name', content='')
      meta(name='og:description', content='')
      // OPEN GRAPH META DATA END
      // TWITTER CARDS
      meta(name='twitter:card', content='summary_large_image')
      meta(name='twitter:site', content='@abscbndotcom')
      meta(name='twitter:creator', content='@abscbndotcom')
      meta(name='twitter:title', content='')
      meta(name='twitter:description', content='')
      meta(name='twitter:image:src', content='')
      // TWITTER CARDS
      meta(name='fb:app_id', content='TESTING')
      // FONTS
      link(href='https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700', rel='stylesheet')
      //- link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
      // STYLES START
      script(src='https://code.jquery.com/jquery-1.12.4.min.js', integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=', crossorigin='anonymous')
      script.
        window.jQuery || document.write('<script src="theme/scripts/vendor/jquery.min.js"><\\/script>')
      if (config.devtest)
      script(type='text/javascript', src='http://assets.abs-cbn.com/universalnav/uninav-v4.js')
      link(rel='stylesheet', href='http://assets.abs-cbn.com/universalnav/uninav-v4.css')
      link(rel='stylesheet', href='theme/build/styles/master.css')
      script(type='text/javascript', src='theme/scripts/vendor/modernizr-custom.min.js')
      //- script(type='text/javascript', src='theme/scripts/vendor/picturefill.js')
      <!--[if lte IE 8]><style type="text/css"> .cssie { behavior: url(theme/scripts/pie.htc); } </style><![endif]-->
      //- script.
      //-   var timestamp = new Date().getTime();
      //-   var src = "http://assets.abs-cbn.com/universalnav/uninav-v4.js?update="+timestamp;
      //-   // for dev purposes
      //-   document.write('<script src="'+src+'"><\\/script>');
      if (config.devtest)
        script.
          (function (w, d, s, l, i) {
              w[l] = w[l] || []; w[l].push({
                  'gtm.start':
                  new Date().getTime(), event: 'gtm.js'
              }); var f = d.getElementsByTagName(s)[0],
              j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
              'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
          })(window, document, 'script', 'dataLayer', 'GTM-MHGDQS6');
    body
      // GTM START
      // GTM END
      .wrapper
        // Header START
        header.main.uninav-header.uninav-default.uninav-push
          .header-fixed
            .header-bar.push-lock
              button.navbar-toggle.collapsed.header-nav-toggle(type='button', data-toggle='collapse', data-target='#header-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              .header-bar-inner
                h1.logo
                  a(href='index.html')
                    img(src=IMAGES+'push-logo.png', alt='ABS-CBN')
                    span(class="retinaContainer")
                .header-text
                  if(config.devtest)
                    | TESTING
                  else
                    img(src=IMAGES+'push-logo-text.png', alt='ABS-CBN')
                ul.header-social.list-unstyled
                  li.search-container-lg
                  li.search
                    a(href='javascript:return false;')
                      span#text Search...
                      i.uninav-icon.uninav-icon-search
                      span.sr-only search
                  li.divider
                  li.follow Follow:
                  li.fb
                    a(href='//www.facebook.com/starcinemaofficial/', target='_blank')
                      i.uninav-icon.uninav-icon-fb
                      span.sr-only facebook
                  li.tw
                    a(href='//twitter.com/StarCinema', target='_blank')
                      i.uninav-icon.uninav-icon-tw
                      span.sr-only twitter
                  li.ig
                    a(href='//www.instagram.com/starcinema', target='_blank')
                      i.uninav-icon.uninav-icon-ig
                      span.sr-only instagram
                  li.yt
                    a(href='//www.youtube.com/user/ABSstarcinema', target='_blank')
                      i.uninav-icon.uninav-icon-yt
                      span.sr-only youtube
            nav#header-collapse.header-collapse.collapse.push-lock
              .header-nav
                .search-container
                  .search-form(autocomplete='off')
                    input(type='text', name='search', placeholder='Search')
                    input.uninav-icon.uninav-icon-search(type='button', value='Search')
                ul.list-unstyled.clearfix
                  li(class=CONFIG_page=='home' && withSkin !== true ? 'active' : '') #[a(href='index.html') HOME]
                  li(class="tooltip", data-tooltip-content='#fresh-scoops', class=CONFIG_page=='fs' ? 'active' : '') #[a(href='fresh-scoops-landing.html') FRESH SCOOPS]
                  li(class="tooltip", data-tooltip-content='#photos', class=CONFIG_page=='p' ? 'active' : '') #[a(href='photos-landing.html') PHOTOS]
                  li(class="tooltip", data-tooltip-content='#videos', class=CONFIG_page=='v' ? 'active' : '') #[a(href='videos-landing.html') VIDEOS]
                  if (CONFIG_page == 'home' || CONFIG_page == 'special')
                    //EXTRA PAGES ONLY
                    li(class=CONFIG_page == 'special' ? 'active' : '') #[a(href='special-page.html') 65th Miss Universe]
                    li(class=(withSkin === true) ? 'active' : '') #[a(href='index-skin.html') SKINNED HOME]
                //TOOLTIPS 
                .tooltip_templates
                  .tooltip_content#fresh-scoops
                    .push-articles
                      ul
                          //- - for(i=1;i<=5;i++)
                              +tooltip({
                                link:'fresh-scoops-inner.html',
                                img:SAMPLES+'tt-'+i+'.png',
                                title:'Dawn Zulueta -- Excited',
                                date:'23 minutes ago'
                              })
                              //- li
                              //-     a(href='fresh-scoops-inner.html')
                              //-         .push-articles-img
                              //-             img(src=SAMPLES+'tt-'+i+'.png' alt='TITLE')
                              //-         .push-articles-info-container
                              //-             .push-articles-info
                              //-               #title-container
                              //-                 #title Dawn Zulueta -- Excited
                              //-               #person-date
                              //-                   #date 2 minutes ago
                  .tooltip_content.push-lock#photos
                    .push-articles
                      ul
                          //- - for(i=1;i<=5;i++)
                              li.photo
                                  a(href='photos-inner.html')
                                      .push-articles-img
                                          img(src=SAMPLES+'tt-'+i+'.png' alt='TITLE')
                                      .push-articles-info-container
                                          .push-articles-info
                                            #title-container
                                              #title Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover
                                            #person-date
                                                #date 2 minutes ago
                  .tooltip_content.push-lock#videos
                    .push-articles
                      ul
                          //- - for(i=1;i<=5;i++)
                              li.video
                                  a(href='videos-inner.html')
                                      .push-articles-img
                                          img(src=SAMPLES+'tt-'+i+'.png' alt='TITLE')
                                      .push-articles-info-container
                                          .push-articles-info
                                            #title-container
                                              #title Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover
                                            #person-date
                                                  #date 2 minutes ago
          #mobile-uninav
            section#mobile-icons
              .pull-right.mobile-menu
                a.link-uninav(href='javascript:void(0);')
                  span#mobile-icon.icon.uninav-icon-dashboard
              .pull-right
                a.link-uninav(href='javascript:void(0);')
                  span#mobile-icon.icon.uninav-icon-new
              .pull-left
                a.link-uninav(href='http://staging-kapamilyaaccounts.abs-cbn.com/profile')
                  span#mobile-icon.icon.uninav-icon-login-new
                    p
              .pull-right
                a.link-uninav(href='javascript:void(0);')
                  span#mobile-icon.icon.uninav-icon-search-new
              .pull-left.site-logo
                a.link-uninav(href='javascript:void(0);')
                  span#mobile-icon.icon.news
        // Header END
        script.
          //- $(document).ready(function(){
              var UNINAV_CONFIG = {
                  type: "default", //required 
                  uninav: true, //required
                  oldsearch: false,
                  domainKey:'starcinema'
              };
              //UNINAV
              $('header').uninav(UNINAV_CONFIG);
          //- });
        block CONTENT
          //- p
          //-   | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id omnis quaerat odio maiores, hic iste, cumque, ad error modi quos debitis fugit! Commodi sit enim autem voluptate quasi incidunt facere.
          //- h1 H1 Tag
          //- h2 H2 Tag
          //- h3 H3 Tag
          //- h4 H4 Tag
          //- h5 H5 Tag
          //- h6 H6 Tag
          //- p
          //-   | Lorem ipsum dolor sit amet, 
          //-   a(href='#') Regular link
          //-   |  consectetur adipisicing elit. Id omnis quaerat odio maiores, hic iste, cumque, ad error modi quos debitis fugit! Commodi sit enim autem voluptate quasi incidunt facere.
          //- ul
          //-   li
          //-     span.text-primary .text-primary
          //-   li
          //-     span.text-secondary .text-secondary
          //- p
          //-   a.btn.btn-default(href='#') .btn-default
          //-   a.btn.btn-primary(href='#') .btn-primary
          //-   a.btn.btn-secondary(href='#') .btn-secondary
          //- picture
          //-   //if IE 9
          //-     video(style='display: none;')
          //-   source(srcset='http://placehold.it/960x150', media='(min-width: 960px)')
          //-   source(srcset='http://placehold.it/728x150', media='(min-width: 728px)')
          //-   source(srcset='http://placehold.it/568x150', media='(min-width: 568px)')
          //-   source(srcset='http://placehold.it/320x150', media='(min-width: 320px)')
          //-   //if IE 9
          //-   img(srcset='http://placehold.it/320x150', alt='Image')
        footer.main
          .push-container.push-container-lock
            #logo
              a(href='index.html')
                #logo-img
                  img(src=IMAGES+'footer-logo.png' alt="PUSH")
            .mobile-line
              .push-f-links
                ul
                  li(class=CONFIG_page=='home' ? 'active' : '') #[a(href='index.html') HOME]
                  li(class=CONFIG_page=='fs' ? 'active' : '') #[a(href='fresh-scoops-landing.html') FRESH SCOOPS]
                  li(class=CONFIG_page=='p' ? 'active' : '') #[a(href='photos-landing.html') PHOTOS]
                  li(class=CONFIG_page=='v' ? 'active' : '') #[a(href='videos-landing.html') VIDEOS]
                  if (CONFIG_page == 'home' || CONFIG_page == 'special')
                    //EXTRA PAGES ONLY
                    li(class=CONFIG_page == 'special' ? 'active' : '') #[a(href='special-page.html') 65th Miss Universe]
                    li(class=(withSkin === true) ? 'active' : '') #[a(href='index-skin.html') SKINNED HOME]
              //- .push-f-links
              //-   ul
              //-     li(class=CONFIG_page=='p' ? 'active' : '') #[a(href='photos-landing.html') PHOTOS]
              //-     li(class=CONFIG_page=='v' ? 'active' : '') #[a(href='videos-landing.html') VIDEOS]
            .push-f-links
              ul
                li #[a(href='http://corporate.abs-cbn.com/careers/', target='_blank') CONTACT US]
                li #[a(href='http://www.abs-cbn.com/terms.aspx', target='_blank') TERMS OF USE]
                li #[a(href='http://www.abs-cbn.com/privacy.aspx', target='_blank') PRIVACY POLICY]
          p © 2016 ABS-CBN Corporation. All Rights Reserved.
          //- p
          //-   a(href='http://www.abs-cbn.com/privacy.aspx', target='_blank') Privacy Statement
          //-   a(href='http://www.abs-cbn.com/terms.aspx', target='_blank') Terms of Use
          //-   a(href='http://corporate.abs-cbn.com/careers/', target='_blank') Contact Us
          //-   a(href='http://marketportal.abs-cbn.com', target='_blank') Advertise With Us
          //- p © 2016 ABS-CBN Corporation. All Rights Reserved.
      // .wrapper
      // TYPEKIT
      script(type='text/javascript', src='http://use.typekit.net/hkd3jik.js')
      script(type='text/javascript').
        try{Typekit.load();}catch(e){}
      // SCRIPTS START
      //- script(src='https://code.jquery.com/jquery-1.12.4.min.js', integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=', crossorigin='anonymous')
      //- script.
      //-   window.jQuery || document.write('<script src="theme/scripts/vendor/jquery.min.js"><\\/script>')
      if (config.devtest)
        script(type="text/javascript").
          var TEST = true;
      script(type='text/javascript', src='theme/build/scripts/test/master.js')
      //- script(type='text/javascript', src='http://assets.abs-cbn.com/universalnav/uninav-v4.js')
      script(type='text/javascript').
          var InsertUpdatePageShareCount = function InsertUpdatePageShareCount() {
            alert('working')
          }
      // SCRIPTS END
