@media (max-width: $screen-md - 1)
    header.uninav-push.uninav-default 
        &:not(.header-sticky) .logo a > img
            height: 40px
            margin-top: 0px

        .header-text 
            display: none

        .search-container
            display: none !important

        .header-bar
            @include background(linear-gradient(to right, darken($VIOLET, 8), darken($VIOLET, 4) 30%, lighten($VIOLET,5) 50%, darken($VIOLET, 4) 70%, darken($VIOLET, 8)))       

        .header-nav 
            padding: 0px

            > ul
                @include background(linear-gradient(to right, darken($VIOLET, 8), darken($VIOLET, 4) 30%, darken($VIOLET,1) 50%, darken($VIOLET, 4) 70%, darken($VIOLET, 8)))       
                padding-left: 0px

    .push-container > .push-title,
    .push-container > .sc-sticky-container > .push-title,
        font-size: get-vw(30.9px,$screen-sm2)

    footer.main
        // font-size: get-vw(13px,$screen-sm2)
        // line-height: get-vw(23px,$screen-sm2)

        .mobile-line
            // display: block
            // width: 100%
            // padding-top: 0px

        > p
            // font-size: get-vw(14px,$screen-sm2)

        .push-container.push-container-lock
            // padding: 0px
            // text-align: center
            // width: get-vw(357px,$screen-sm2)
            // padding: get-vw(15px,$screen-sm2)

        #logo
            display: none

        .push-f-links
            float: none
            display: inline
            width: auto
            line-height: normal
            padding: 0px

            ul 
                display: inline

                li
                    display: inline
                    padding: 0px get-vw(4.5px,$screen-sm2)

    main.main
        // font-size: +get-vw(18.8px)

        .jscroll-added
            border-top: none
            position: relative
            padding-top: get-vw(35px,$screen-sm2)

            &:before
                content: ' '
                display: block
                position: absolute
                height: 1px
                width: get-vw(690px,$screen-sm2)
                background: lighten($GRAY, 25)
                top: 0
                left: 0
                right: 0
                margin: auto

        button
            &:not(.unskin)
                font-size: +get-vw(26px)

        .push-pagination
            font-size: get-vw(24px,$screen-sm2)

        .push-container-left, .push-container-right
            float: none
            width: 100%

        .push-container-right 
            .push-poll 
                margin-bottom: percentage(36px / $screen-md-without-padding)

                img
                    width: 100%

            .push-articles ul
                margin-bottom: percentage(28px / $screen-md-without-padding)                

            .push-alert 
                > img, iframe
                    width: 100%

                #title
                    font-size: get-vw(31px,$screen-sm2)
                    margin-bottom: get-vw(10px,$screen-sm2)

        .push-articles 
            &.type-1 ul 
                +clearfloat

                li
                    float: left
                    width: 50%
                    padding-top: 0px
                    padding-bottom: percentage(10px / $screen-md-without-padding)

                    .push-articles-img
                        width: percentage(121px / ($screen-md-without-padding / 2))

                    .push-articles-info-container
                        width: percentage((($screen-md-without-padding / 2) - 121px) / ($screen-md-without-padding / 2))
                        +aspect-ratio((($screen-md-without-padding / 2) - 121px), 67px)

                    &:nth-child(5n+5)
                        display: none

            ul li 
                .push-articles-img
                    width: percentage(241px / $screen-md-without-padding)

                    &:before
                        width: percentage(23px / 120px)
                        height: percentage(22px / 67px)
                        width: get-vw(23px,$screen-sm2)
                        height: get-vw(22px,$screen-sm2)
                        top: percentage(6px / 67px)
                        right: percentage(6px / 120px)

                .push-articles-info-container
                    width: percentage(($screen-md-without-padding - 241px) / $screen-md-without-padding)
                    // +aspect-ratio(($screen-md-without-padding - 241px), 155px)
                    font-size: +get-vw(25px)

                    .push-articles-info
                        padding-left: percentage(16px / ($screen-md-without-padding - 241px))

                        #person-date
                            margin-top: percentage(19px / ($screen-md-without-padding - 241px))

        //HOME PAGE
        &#homepage 
            .contents 
                #push-skinning-container
                    #push-skinning-mobile
                        display: none
                        margin-bottom: get-vw(26px,$screen-sm2)

                        img
                            width: 100%

                    &.with-skin
                        +box-shadow(none)
                        background-image: none !important
                        padding-top: 0px

                        #push-skinning-mobile
                            display: block

                        .push-container#push-container-left-and-right
                            +box-shadow(none)

                // .push-lsn 
                //     margin-bottom: percentage(40px / $screen-sm)
                //     padding-bottom: percentage(40px / $screen-sm) 

                //     $_w: (690px / 2)
                //     .push-lsn-img
                //         width: percentage(179px / $_w) 

                //     .push-lsn-info-container 
                //         width: percentage(($_w - 179px) / $_w)                         
                //         +aspect-ratio(166px, 116px)

                //         .push-lsn-info
                //             font-size: +get-vw(25px)

                //     ul li
                //         width: 50%

                //         &:nth-child(3n+3)
                //             display: none

                .push-container
                    &#push-home-top-container > .push-container
                        padding: percentage(20px / $screen-sm)
                        padding-top: percentage(39px / $screen-sm)
                    
                    &#push-container-left-and-right
                        padding: percentage(20px / $screen-sm)
                        padding-top: 0px

                        .push-container-scroll .push-container-left 
                            padding-bottom: get-vw(20px,$screen-sm)

                            > .push-title,
                            > .sc-sticky-container > .push-title
                                font-size: +get-vw(47.8px)

                            .push-trending-latest 
                                width: percentage(234px / $screen-md-without-padding)

                                ul li #text
                                    font-size: +get-vw(20px)

        &#inner-pages, &#landing-pages, &#search-page
            .contents 
                > .push-container
                    padding: percentage(39px / $screen-md-without-padding) percentage(19px / $screen-md-without-padding) percentage(39px / $screen-md-without-padding) percentage(19px / $screen-md-without-padding)

                .push-container-scroll 
                    .push-container 
                        > .push-title, > .sc-sticky-container > .push-title
                            font-size: get-vw(50px)

                    > .push-container-left
                        padding-bottom: percentage(30px / $screen-md-without-padding)

                    > .push-container-right 
                        .push-articles
                            margin-bottom: percentage(30px / $screen-md-without-padding)

                        .push-ads
                            margin-bottom: percentage(37px / $screen-md-without-padding)

                    .push-container-left
                        .push-articles ul li
                            padding-top: 0px
                            padding-bottom: percentage(19.5px / $screen-md-without-padding)
                            margin-bottom: percentage(19.5px / $screen-md-without-padding)

                            .push-articles-img:before
                                height: percentage(30px / 155px)
                                width: percentage(30px / 240px)
                                top: percentage(11px / 155px)
                                right: percentage(11px / 240px)

                    .push-container-right
                        width: 100%

                        > .push-container
                            position: relative

                        .push-articles.type-1
                            button
                                position: absolute
                                top: get-vw(16px,$screen-sm2)
                                right: 0px
                                width: get-vw(255px,$screen-sm2)
                                border-color: lighten($GRAY,5)
                                color: lighten($GRAY,5)
                                font-size: get-vw(11.5px,$screen-sm2)
        
        &#inner-pages
            .contents 
                > .push-container
                    padding-left: 0px
                    padding-right: 0px

                %padding
                    padding-left: get-vw(20px,$screen-sm2)
                    padding-right: get-vw(20px,$screen-sm2)

                %margin
                    margin-left: get-vw(20px,$screen-sm2)
                    margin-right: get-vw(20px,$screen-sm2)

                article 
                    .push-breadcrumbs
                        @extend %padding                        

                    #title
                        font-size: get-vw(38.2px,$screen-sm2)
                        line-height: get-vw(44px,$screen-sm2)
                        margin-bottom: get-vw(22px,$screen-sm2)
                        @extend %padding

                    #details
                        font-size: get-vw(16.1px,$screen-sm2)
                        @extend %padding

                    #writer 
                        @extend %padding
                        > .push-container-left
                            font-size: get-vw(14px,$screen-sm2)
                            width: percentage(448px / 688px)
                            float: left

                        > .push-container-right
                            width: percentage((688px - 448px) / 688px)
                            font-size: get-vw(14px,$screen-sm2)
                            float: right

                    .social
                        @extend %padding
                        width: get-vw(240px,$screen-sm2)

                        &.bottom-social i[class*="icon-"]
                            margin: get-vw(27px,$screen-sm2) 0px get-vw(19px,$screen-sm2) get-vw(13px,$screen-sm2)

                    #article-img img
                        width: 100%

                    #article-video
                        @extend %margin
                        margin-bottom: get-vw(27px,$screen-sm2)

                        img
                            width: 100%

                    #source
                        @extend %padding
                        font-size: get-vw(13.5px,$screen-sm2)
                        font-style: normal
                        color: lighten($GRAY, 5)
                        margin-bottom: get-vw(28px,$screen-sm2)
                        b
                            color: $ORANGE

                    #html
                        @extend %padding
                        +clearfloat
                        font-size: get-vw(16px,$screen-sm2)

                        p
                            margin-bottom: get-vw(28px,$screen-sm2)

                            &:last-child
                                margin-bottom: 0px

                    #ads
                        padding: get-vw(9px,$screen-sm2)

                    #tags
                        padding-left: get-vw(20px,$screen-sm2)
                        font-size: get-vw(13px,$screen-sm2)

                    .comments
                        &#button
                            padding-right: get-vw(20px,$screen-sm2)
                            font-size: get-vw(14px,$screen-sm2)

                            + .u-cf + .comments
                                margin-top: get-vw(40px,$screen-sm2)

                            button
                                margin: 0px
                                height: get-vw(38px,$screen-sm2)
                                line-height: get-vw(38px,$screen-sm2)

                            #arrow
                                right: get-vw(35px,$screen-sm2)
                                top: 50%
                                +transform(translateY(-50%))
                                width: get-vw(16px,$screen-sm2)
                                height: get-vw(12px,$screen-sm2)
                            #counts
                                left: get-vw(10px,$screen-sm2)
                                top: get-vw(4px,$screen-sm2)
                                top: 50%
                                +transform(translateY(-50%))
                                height: get-vw(25px,$screen-sm2)
                                line-height: get-vw(25px,$screen-sm2)
                                width: get-vw(25px,$screen-sm2)
                                padding: get-vw(6px,$screen-sm2)
                                font-size: get-vw(8px,$screen-sm2)

                        img
                            width: 100%

                #push-ftw
                    @extend %padding
                    font-size: get-vw(14.2px,$screen-sm2)

                .push-gallery 
                    @extend %margin
                    margin-bottom: get-vw(10px,$screen-sm2)

                    .social
                        width: get-vw(139px,$screen-sm2)
                        padding: 0px get-vw(20px,$screen-sm2)
                        right: get-vw(20px,$screen-sm2)

                        i[class*="icon-"]
                            margin: get-vw(9px,$screen-sm2) get-vw(6px,$screen-sm2)

                    .pg-big 
                        .pg-prev, .pg-next
                            top: 50%
                            +transform(translateY(-50%))
                            bottom: get-vw(47px,$screen-sm2)
                            height: 70%

                        .pg-prev
                            left: get-vw(18px,$screen-sm2)

                        .pg-next
                            right: get-vw(18px,$screen-sm2)

                        .img-container #img-info
                            font-size: get-vw(14.7px,$screen-sm2)
                            line-height: get-vw(18px,$screen-sm2)

                    .pg-thumbnails
                        .slick-slider
                            padding: get-vw(10px,$screen-sm2) get-vw(30px,$screen-sm2)

                        .pg-prev, .pg-next
                            background-size: 50%

        &#search-page
            .contents 
                .push-container-scroll > .push-container-left
                    .push-articles
                        ul li 
                            .push-articles-img
                                width: percentage(166px / 688px)

                            .push-articles-info-container
                                width: percentage((688px - 166px) / 688px)
                                +aspect-ratio((688px - 166px), 107px)

                                .push-articles-info 
                                    padding-left: percentage(10px / 688px)

                                    #title
                                        font-size: get-vw(14px,$screen-sm2)

                                    #caption
                                        font-size: get-vw(12px,$screen-sm2)

                                    // #readmore
                                    //     display: inline

                .search-header
                    font-size: get-vw(11.4px,$screen-sm2)
                    padding-bottom: get-vw(15px,$screen-sm2)
                    margin-bottom: get-vw(20px,$screen-sm2)

                    #title
                        font-size: get-vw(30px,$screen-sm2)
                        padding-bottom: get-vw(20px,$screen-sm2)

                    #results 
                        label
                            line-height: get-vw(80px,$screen-sm2)
                            width: percentage(205px / 688px)

                        #results-input
                            // width: percentage((688px - 205px) / 688px)
                            // font-size: get-vw(20px,$screen-sm2)
                            // margin: get-vw(16px,$screen-sm2) 0px

                    #filter
                        font-size: get-vw(14.4px,$screen-sm2)
                        margin-top: get-vw(7px,$screen-sm2)

                        #filter-container
                            width: 100% - 18.4%

                        label
                            color: darken($GRAY,50)
                            width: 18.4%
                            padding-right: get-vw(5px,$screen-sm2)

                        #box-1
                            // padding: percentage(6px / 688px) 0px
                            padding-right: percentage(30px / 560px)
                            width: percentage(180px / 560px)

                        #box-2
                            // padding: percentage(6px / 688px) 0px
                            padding-right: percentage(70px / 560px)
                            width: percentage(320px / 560px)

                        #go
                            width: 100%

        &#landing-pages
            .contents 
                .push-container-scroll .push-container-left > .push-container .push-articles ul li 
                    .push-articles-img:before
                        width: get-vw(28px,$screen-sm2)
                        height: get-vw(28px,$screen-sm2)

                    &.video
                        .push-articles-img:before
                            width: get-vw(33px,$screen-sm2)
                            height: get-vw(37px,$screen-sm2)

                .push-sort-by
                    font-size: get-vw(14px,$screen-sm2)
                    width: get-vw(240px,$screen-sm2)

                    label
                        +font-regular

                article 
                    #details
                        font-size: get-vw(31px)
                        color: darken($GRAY, 25)

                    #title
                        font-size: get-vw(39px)
                        +font-medium

                    #article-img:before
                        right: get-vw(21px,$screen-sm2)
                        top: get-vw(20px,$screen-sm2)
                        width: get-vw(28px,$screen-sm2)
                        height: get-vw(28px,$screen-sm2)

                    #bottom-container 
                        .info-container
                            font-size: get-vw(30px)

                        .push-container-left, .push-container-right
                            float: left

                        $_w: 197px
                        .push-container-right.social 
                            width: percentage($_w / $screen-md-without-padding)
                            
                            i[class*="icon-"]
                                margin: percentage(21px / $_w) 0px percentage(24px / $_w) percentage(20px / $_w)

                        .push-container-left
                            width: percentage(($screen-md-without-padding - $_w) / $screen-md-without-padding)
                            +aspect-ratio(($screen-md-without-padding - $_w),93px)
                    

