@media (max-width: $screen-sm)
    .push-container 
        > .push-title, > .sc-sticky-container > .push-title
            font-size: get-vw(30.5px,$screen-xs)
            line-height: get-vw(75px,$screen-xs)

    footer.main
        font-size: get-vw-(10px,sm)
        line-height: get-vw(23px,$screen-xs)

        > p
            font-size: get-vw-(9px,sm)

        .push-container.push-container-lock
            width: get-vw(370px,$screen-xs)

    main.main
        .push-pagination
            font-size: get-vw(22.2px,$screen-xs)

        button:not(.unskin)
            font-size: get-vw(15px,$screen-xs)

        .push-container-right 
            .push-articles
                margin-bottom: get-vw(38px,$screen-xs)

            .push-ads
                margin-bottom: get-vw(37px,$screen-xs)

            .push-poll
                margin-bottom: get-vw(38px,$screen-xs)

            .push-alert #title
                font-size: get-vw(30px,$screen-xs)
    
        .push-articles 
            &.type-1 
                ul li 
                    .push-articles-img
                        width: percentage(121px / (548px / 2))

                    .push-articles-info-container 
                        width: percentage(((548px / 2) - 121px) / (548px / 2))

                        .push-articles-info #title
                            font-size: get-vw(14px,$screen-xs)

                    &.video .push-articles-img:before
                        right: 0px
                        top: 0px

            > a button
                display: block
                width: get-vw(210px,$screen-xs)
                margin-left: auto
                margin-right: auto
                border-color: darken($GRAY,5)
                color: lighten($GRAY,1)

            ul li 
                .push-articles-img
                    width: percentage(275px / 548px)

                    &:before
                        width: get-vw(23px,$screen-xs)
                        height: get-vw(22px,$screen-xs)

                .push-articles-info-container
                    width: percentage((548px - 275px) / 548px)
                    // +aspect-ratio(273px, 177px)                

                    .push-articles-info 
                        #title
                            font-size: get-vw(23px,$screen-xs)

                        #person-date
                            font-size: get-vw(13px,$screen-xs)

                        #responses-shares
                            font-size: get-vw(15px,$screen-xs)

        &#homepage .contents 

            #push-skinning-container.with-skin
                #push-skinning-mobile
                    margin-bottom: get-vw(29px,$screen-xs)
        
            .push-container
                &#push-home-top-container > .push-container
                    padding: get-vw(9px,$screen-xs)
                    padding-top: get-vw(39px,$screen-xs)

                &#push-container-left-and-right
                    padding: get-vw(10px,$screen-xs)
                    padding-top: get-vw(28px,$screen-xs)
                    padding-bottom: 0px

                    .push-container-scroll .push-container-left 
                        > .push-title,
                        > .sc-sticky-container > .push-title
                            font-size: get-vw(30px,$screen-xs)

                        .push-trending-latest
                            width: get-vw(230px,$screen-xs)
                            // margin-top: get-vw(11px,$screen-xs)

            .push-headlines ul 
                &.slick-initialized .slick-dots li
                    height: get-vw(7px,$screen-xs)
                    width: get-vw(7px,$screen-xs)
                    margin: 0px 0px 0px get-vw(6px,$screen-xs)
                    right: get-vw(-5px,$screen-xs)

                li .push-headlines-info
                    padding: 0px get-vw(16px,$screen-xs) get-vw(25px,$screen-xs) get-vw(16px,$screen-xs)

                    .ph-title
                        line-height: get-vw(27px,$screen-xs)

            // $_w: (550px / 2)
            // .push-lsn 
            //     margin-bottom: get-vw(20px,$screen-xs)
            //     padding-bottom: get-vw(50px,$screen-xs)

            //     .push-lsn-img
            //         width: percentage(136px / $_w)

            //     .push-lsn-info-container
            //         width: percentage(($_w - 136px) / $_w)                    
            //         +aspect-ratio(139px,88px)

            //         .push-lsn-info
            //             font-size: get-vw(13px,$screen-xs)

            //             #source-date
            //                 font-size: get-vw(14px,$screen-xs)

        &#inner-pages, &#landing-pages, &#search-page
            .contents
                > .push-container
                    padding: get-vw(33px,$screen-xs) get-vw(9px,$screen-xs) get-vw(33px,$screen-xs) get-vw(9px,$screen-xs)

                .push-container-scroll 
                    .push-container 
                        > .push-title,
                        > .sc-sticky-container > .push-title
                            font-size: get-vw(30px,$screen-xs)

                    > .push-container-left
                        padding-bottom: get-vw(32px,$screen-xs)

                    .push-container-left 
                        .push-articles ul li
                            padding-bottom: get-vw(19px,$screen-xs)
                            margin-bottom: get-vw(21px,$screen-xs)

                    .push-container-right 
                        .push-ads
                            margin-bottom: get-vw(38px,$screen-xs)
                    
                        .push-articles
                            margin-bottom: get-vw(39px,$screen-xs)

                            &.type-1 button
                                position: inherit
                                top: auto
                                right: auto
                                width: get-vw(210px,$screen-xs)
                                font-size: get-vw(11px,$screen-xs)

        &#inner-pages
            .contents 
                #push-ftw
                    padding-left: 0px
                    padding-right: 0px

                    li
                        width: 50%
                        padding-right: 0px
                        margin-bottom: get-vw(10px,$screen-xs)

                        .push-articles-img
                            width: percentage(119px / (550px / 2))
                            float: left

                        .push-articles-info-container
                            float: left
                            width: percentage(((550px / 2) - 119px) / (550px / 2))
                            margin: 0px
                            padding-left: get-vw(12px,$screen-xs)
                            font-size: get-vw(14px,$screen-xs)

                            #source
                                display: none

                article 
                    %padding1
                        padding-left: 0px
                        padding-right: 0px

                    %margin1
                        margin-left: 0px
                        margin-right: 0px

                    %margin-nega
                        margin-left: get-vw(-9px,$screen-xs)
                        margin-right: get-vw(-9px,$screen-xs)

                    #article-video
                        @extend %margin1
                        margin-bottom: get-vw(10px,$screen-xs)

                    .push-gallery
                        @extend %margin1
                        @extend %margin-nega

                        .social
                            width: get-vw(114px,$screen-xs)
                            padding: 0px get-vw(20px,$screen-xs)
                            right: 0px
                            padding-right: 0px
                            margin-top: 0px

                        .pg-big .img-container #img-info
                            font-size: get-vw(14.2px,$screen-xs)
                            line-height: get-vw(25px,$screen-xs)

                        .pg-thumbnails 
                            .slick-slider
                                padding: get-vw(21px,$screen-sm2) 0px
                                padding-bottom: get-vw(23px,$screen-xs)

                            .slick-slide
                                margin: 0px get-vw(14px,$screen-xs) 0px 0px

                    .push-breadcrumbs
                        @extend %padding1

                    #title
                        @extend %padding1
                        font-size: get-vw(33px,$screen-xs)
                        line-height: get-vw(43px,$screen-xs)
                        margin-bottom: get-vw(23px,$screen-xs)

                    #details
                        @extend %padding1
                        font-size: get-vw(16.15px,$screen-xs)

                    .social-save-container article
                        margin-top: get-vw(11px,$screen-xs)

                    .social
                        @extend %padding1
                        width: get-vw(200px,$screen-xs)
                        margin-top: get-vw(11px,$screen-xs)

                        &.bottom-social 
                            margin-top: 0px
                            margin-bottom: get-vw(5px,$screen-xs)

                            & + article
                                margin-top: 0px
                                margin-bottom: get-vw(5px,$screen-xs)

                            i[class*="icon-"]
                                margin: get-vw(18px,$screen-xs) get-vw(19px,$screen-xs) get-vw(18px,$screen-xs) 0px

                    #article-img
                        @extend %margin-nega

                    #tags
                        font-size: get-vw(14px,$screen-xs)
                        width: percentage(335px / 550px)
                        padding: 0px get-vw(10px,$screen-xs)
                        padding-left: 0px

                        label
                            width: percentage(40px / 335px)
                            margin-right: percentage(5px / 335px)

                        #tag-container
                            width: percentage((335px - 45px) / 335px)

                    .comments
                        &#button
                            width: percentage((550px - 335px) / 550px)
                            padding-right: 0px
                            font-size: get-vw(13px,$screen-xs)

                            + .u-cf + .comments
                                margin-top: get-vw(40px,$screen-xs)

                            button
                                height: get-vw(38px,$screen-xs)
                                line-height: get-vw(38px,$screen-xs)

                            #arrow
                                right: get-vw(8px,$screen-xs)

                            #counts
                                left: get-vw(10px,$screen-xs)
                                height: get-vw(23px,$screen-xs)
                                width: get-vw(23px,$screen-xs)
                                padding: get-vw(6px,$screen-xs)
                                font-size: get-vw(8px,$screen-xs)
                        
                    #source
                        @extend %padding1
                        font-size: get-vw(15px,$screen-xs)

                    #html
                        @extend %padding1
                        +font-extra-light
                        font-size: get-vw(16px,$screen-xs)
                        line-height: get-vw(28px,$screen-xs)

                        p
                            margin-bottom: get-vw(23px,$screen-xs)

                    .ads
                        padding: get-vw(17px,$screen-xs)

                    #writer
                        @extend %padding1

                        > .push-container-right
                            +aspect-ratio(192px, 81px)
                            font-size: get-vw(14px,$screen-xs)

                        > .push-container-left
                            font-size: get-vw(14.2px,$screen-xs)
                            +aspect-ratio(358px, 81px)

                            #profile-name-caption 
                                #profile
                                    width: percentage(45px / 358px)

                                #name-caption
                                    width: percentage((358px - 45px) / 358px)

        &#search-page
            .contents
                .push-container-scroll > .push-container-left .push-articles ul li 
                    .push-articles-img
                        width: percentage(275px / 550px)

                    .push-articles-info-container
                        width: percentage((550px - 275px) / 550px)
                        +aspect-ratio(275px,177px)

                        .push-articles-info 
                            padding-left: get-vw(10px,$screen-xs)
                            
                            #title
                                font-size: get-vw(24px,$screen-xs)

                            #caption
                                font-size: get-vw(12.3px,$screen-xs)

                            #person-date
                                font-size: get-vw(12.7px,$screen-xs)
                                margin-top: get-vw(10px,$screen-xs)

                .search-header
                    padding-bottom: get-vw(24px,$screen-xs)
                    margin-bottom: get-vw(19px,$screen-xs)

                    #title
                        font-size: get-vw(26px,$screen-xs)
                        line-height: get-vw(36px,$screen-xs)

                    #filter
                        margin-top: get-vw(9px,$screen-xs)
                        font-size: get-vw(15.5px,$screen-xs)
                        display: block

                        label
                            width: 100%
                            display: block

                        #box-1
                            padding: 0px
                            padding-right: get-vw(10px,$screen-xs)
                            width: get-vw(159px,$screen-xs)

                        #box-2
                            padding: 0px
                            padding-right: get-vw(11px,$screen-xs)
                            width: get-vw(264px,$screen-xs)
                            
                        #go
                            line-height: get-vw(29px,$screen-xs)
                            padding: 0px
                            width: get-vw(57px,$screen-xs)

                    #results 
                        label
                            width: 100%
                            float: none
                            font-size: get-vw(21.5px,$screen-xs)
                            line-height: get-vw(46px,$screen-xs)

                        #results-input
                            // width: percentage((550px - 212px) / 550px)
                            // float: none
                            // margin: get-vw(2px,$screen-xs)

                        

        &#landing-pages
            .contents 
                .push-container-scroll .push-container-left > .push-container .push-articles ul li 
                    .push-articles-img:before
                        width: get-vw(28px,$screen-xs)
                        height: get-vw(28px,$screen-xs)

                    &.video
                        .push-articles-img:before
                            width: get-vw(46px,$screen-xs)
                            height: get-vw(53px,$screen-xs)

                .push-sort-by
                    font-size: get-vw(14.8px,$screen-xs)
                    position: inherit
                    height: auto
                    margin-top: get-vw(-10px,$screen-xs)
                    margin-bottom: get-vw(42px,$screen-xs)
                    width: get-vw(250px,$screen-xs)

                    label
                        padding-right: get-vw(5px,$screen-xs)

                article 
                    #title
                        font-size: get-vw(22.2px,$screen-xs)
                        line-height: get-vw(31px,$screen-xs)                

                    #details
                        font-size: get-vw(18.2px,$screen-xs)

                    #bottom-container 
                        .info-container
                            font-size: get-vw(15.7px,$screen-xs)

                        .push-container-left
                            width: percentage((550px - 197px) / 550px)
                            +aspect-ratio(353px, 93px)

                        .push-container-right.social
                            width: percentage(197px / 550px)