@media (max-width: $screen-xlg)
    main.main
        // font-size: get-vw(13.8px)

        &#inner-pages .contents article .comments#button + .u-cf + .comments
            margin-top: get-vw(40px)

        &#inner-pages .contents article .comments#button
            font-size: get-vw(11.5px)

@media (max-width: $screen-xlg) and (min-width: $screen-md)
    .push-container.push-container-lock
        max-width: get-vw(1040px)

    main.main 
        .push-container-left
            // width: get-vw(660px)
            @include calc(width, get-vw(660px), "100% - 350px")

        &#inner-pages, &#landing-pages, &#search-page
            .contents
                .push-container-scroll
                    .push-container-right
                        // width: get-vw(300px)
                        width: 300px

                > .push-container
                    padding: get-vw(40px) get-vw(20px) get-vw(40px) get-vw(20px)

        .contents
            > .push-container
                width: get-vw(1280px)

        &#landing-pages .contents .push-sort-by
            width: get-vw(240px)
            height: get-vw(73px)
            font-size: get-vw(13.7px)

        &#inner-pages .contents article .comments#button
            font-size: get-vw(14px)

            button
                height: get-vw(38px)
                line-height: get-vw(38px)
                margin-bottom: 0px

            #counts
                top: 50%
                +transform(translateY(-50%))
                left: get-vw(10px)
                height: get-vw(25px)
                line-height: get-vw(25px)
                width: get-vw(25px)

            #arrow
                width: get-vw(16px)
                height: get-vw(12px)
                top: 50%
                +transform(translateY(-50%))
                background-size: 100%