// $screen-xxs: $screen-xs

@media (max-width: $screen-xs)
    .push-container 
        > .push-title,
        > .sc-sticky-container > .push-title
            font-size: get-vw(21.9px,$screen-xxs)

    footer.main
        font-size: get-vw-(10px,xs)
        line-height: get-vw(23px,$screen-xxs)
        +font-bold

        > p
            font-size: get-vw-(9px,xs)
            height: get-vw(35px,$screen-xxs)
            line-height: get-vw(35px,$screen-xxs)

        .push-container.push-container-lock
            width: 100%

    main.main
        .jscroll-added
            padding-top: get-vw(36px,$screen-xxs)

        .push-pagination
            font-size: get-vw(23px,$screen-xxs)

            .hidden-xs
                display: none

        button:not(.unskin)
            font-size: get-vw(12px,$screen-xxs)

        .push-container-right 
            .push-poll
                margin-bottom: get-vw(38px,$screen-xxs)

            .push-articles
                margin-bottom: get-vw(39px,$screen-xxs)

            .push-ads
                margin-bottom: get-vw(39px,$screen-xxs)

        .push-articles 
            > a button
                width: get-vw(250px,$screen-xxs)
                +font-regular

            &.type-1 ul 
                margin-bottom: get-vw(8px,$screen-xxs)

                li
                    float: none
                    width: 100%
                    padding-bottom: get-vw(10px,$screen-xxs)

                    .push-articles-img
                        width: percentage(120px / 300px)

                        &:before
                            width: get-vw(23px,$screen-xxs)
                            height: get-vw(22px,$screen-xxs)

                    .push-articles-info-container
                        width: percentage((300px - 120px) / 300px)

                        .push-articles-info
                            padding-left: get-vw(9px,$screen-xxs)

                            #title
                                font-size: get-vw(14px,$screen-xxs)
                                color: #565656

            ul li 
                padding-top: get-vw(19px,$screen-xxs)
                padding-bottom: get-vw(21px,$screen-xxs)

                .push-articles-img
                    width: percentage(154px / 300px)

                .push-articles-info-container
                    width: percentage((300px - 154px) / 300px)
                    // +aspect-ratio(146px, 99px)

                    .push-articles-info 
                        #title
                            font-size: get-vw(13px,$screen-xxs)
                            line-height: get-vw(16px,$screen-xxs)
                            color: #505050

                        #person-date
                            margin-top: 0px

                            #person
                                display: none

                            #date
                                position: absolute
                                left: 0px
                                width: 100%
                                // bottom: get-vw(-4px,$screen-xxs)
                                font-size: get-vw(12px,$screen-xxs)
                                padding-left: get-vw(7px,$screen-xxs)
                                color: darken($GRAY,1)
                                +font-regular

                    #responses-shares
                        display: none

        &#inner-pages, &#landing-pages, &#search-page
            .contents 
                > .push-container
                    padding: get-vw(40px,$screen-xxs) get-vw(8px,$screen-xxs) get-vw(40px,$screen-xxs) get-vw(8px,$screen-xxs)

                .push-container-scroll 
                    .push-container 
                        > .push-title,
                        > .sc-sticky-container > .push-title
                            font-size: get-vw(22.2px,$screen-xxs)

                    .push-container-left .push-articles ul li
                        padding-bottom: get-vw(20px,$screen-xxs)
                        margin-bottom: get-vw(20px,$screen-xxs)

                    .push-container-right 
                        .push-articles
                            margin-bottom: get-vw(39px,$screen-xxs)

                            &.type-1 button
                                width: get-vw(250px,$screen-xxs)
                                font-size: get-vw(12px,$screen-xxs)

                        .push-ads
                            margin-bottom: get-vw(39px,$screen-xxs)

        &#inner-pages
            .contents 

                #push-ftw 
                    margin-bottom: get-vw(17px,$screen-xxs)

                    li
                        width: 100%
                        float: none
                        display: block
                        +clearfloat
                        margin-bottom: get-vw(20px,$screen-xxs)

                        .push-articles-img
                            width: percentage(154px / 304px)

                        .push-articles-info-container
                            width: percentage((304px - 154px) / 304px)
                            font-size: get-vw(14px,$screen-xxs)
                            +aspect-ratio(150px,104px)
                            padding: 0px

                            .push-articles-info
                                +aspect-ratio-float
                                padding-left: get-vw(7px,$screen-xxs)

                                #source
                                    display: block
                                    position: absolute
                                    bottom: 0px
                                    left: get-vw(8px,$screen-xxs)
                                    width: 100%

                article 
                    %margin2
                        margin-left: get-vw(-8px,$screen-xxs)
                        margin-right: get-vw(-8px,$screen-xxs)

                    #article-video
                        @extend %margin2
                        margin-bottom: get-vw(26px,$screen-xxs)

                        & + #ads
                            padding-bottom: get-vw(2px,$screen-xxs)

                    .push-gallery
                        @extend %margin2
                        margin-bottom: 0px

                        & + #ads
                            padding-top: get-vw(40px,$screen-xxs)
                            padding-bottom: get-vw(4px,$screen-xxs)

                        .social
                            width: get-vw(105px,$screen-xxs)
                            top: get-vw(5px,$screen-xxs)
                            margin-bottom: 0px
                            padding: 0px get-vw(15px,$screen-xxs)
                            padding-right: 0px
                            right: get-vw(6px,$screen-xxs)

                            i[class*="icon-"]
                                margin: get-vw(4px,$screen-xxs) 0px 0px get-vw(10px,$screen-xxs)

                        .pg-big .img-container #img-info
                            font-size: get-vw(12.7px,$screen-xxs)
                            line-height: get-vw(27px,$screen-xxs)
                            padding: get-vw(5px,$screen-xxs) 0px 0px 0px

                    .social-save-container article
                        margin-top: 0px
                        margin-bottom: get-vw(20px,$screen-xxs)

                    .social
                        width: get-vw(200px,$screen-xxs)
                        margin-top: 0px
                        margin-bottom: get-vw(20px,$screen-xxs)

                        &.bottom-social
                            margin-top: get-vw(30px,$screen-xxs)
                            margin-bottom: get-vw(5px,$screen-xxs)

                            & + article
                                margin-top: get-vw(30px,$screen-xxs)
                                margin-bottom: get-vw(5px,$screen-xxs)
                        
                        i[class*="icon-"]
                            margin: 0px get-vw(20px,$screen-xxs) 0px 0px

                    .comments
                        &#button
                            width: get-vw(230px,$screen-xxs)
                            display: block
                            margin: auto
                            float: none
                            font-size: get-vw(14px,$screen-xxs)

                            + .u-cf + .comments
                                margin-top: get-vw(20px,$screen-xxs)

                            button
                                height: get-vw(38px,$screen-xxs)
                                line-height: get-vw(38px,$screen-xxs)

                            #counts
                                font-size: get-vw(8px,$screen-xxs)
                                width: get-vw(25px,$screen-xxs)
                                height: get-vw(25px,$screen-xxs)
                                line-height: get-vw(25px,$screen-xxs)
                                left: get-vw(8px,$screen-xxs)

                            #arrow
                                right: get-vw(12px,$screen-xxs)
                                width: get-vw(16px,$screen-xxs)
                                height: get-vw(12px,$screen-xxs)
                                background-size: 100%

                    #tags
                        width: 100%
                        float: none
                        margin-top: get-vw(25px,$screen-xxs)
                        font-size: get-vw(14px,$screen-xxs)
                        padding: 0px
                        margin-bottom: get-vw(20px,$screen-xxs)
                        +clearfloat

                        label
                            width: percentage(45px / 304px)
                            margin-right: percentage(5px / 304px)

                        #tag-container
                            width: percentage((304px - 50px) / 304px)

                    #article-img
                        @extend %margin2

                    #title
                        font-size: get-vw(30px,$screen-xxs)
                        line-height: get-vw(35px,$screen-xxs)
                        margin-bottom: get-vw(9px,$screen-xxs)

                    #details
                        font-size: get-vw(14px,$screen-xxs)
                        line-height: get-vw(16px,$screen-xxs)
                        padding-bottom: get-vw(21px,$screen-xxs)

                    #source
                        font-size: get-vw(14.4px,$screen-xxs)
                        padding: 0px
                        line-height: get-vw(28px,$screen-xxs)
                        margin-bottom: get-vw(28px,$screen-xxs)
                        
                    #ads
                        padding: get-vw(12px,$screen-xxs) 0px

                    #html
                        font-size: get-vw(16px,$screen-xxs)
                        line-height: get-vw(25px,$screen-xxs)

                        p
                            margin-bottom: get-vw(23px,$screen-xxs)


                    #writer 
                        > .push-container-left
                            width: 100%
                            float: none
                            font-size: get-vw(14px,$screen-xxs)
                            line-height: get-vw(14px,$screen-xxs)

                            #profile-name-caption 
                                #profile
                                    display: none

                                #name-caption
                                    width: 100%
                                    padding-left: 0px

                        > .push-container-right
                            width: 100%
                            float: none
                            +aspect-ratio(304px, 33px)
                            font-size: get-vw(14px,$screen-xxs)
                            line-height: get-vw(15px,$screen-xxs)
                            margin-bottom: get-vw(36px,$screen-xxs)

                            #category-time-container
                                display: block
                                text-align: left

        &#search-page
            .contents 
                .push-container-scroll > .push-container-left .push-articles ul li 
                    padding-bottom: 0px
                    margin-bottom: get-vw(20px,$screen-xxs)
                    border: none

                    .push-articles-img
                        width: percentage(155px / 304px)

                    .push-articles-info-container
                        width: percentage((304px - 155px) / 304px)
                        +aspect-ratio(149px,100px)

                        .push-articles-info 
                            #caption
                                display: none

                            #person-date 
                                font-size: get-vw(12px,$screen-xxs)
                                margin-top: get-vw(12px,$screen-xxs)

                                #person
                                    display: block

                .search-header 
                    padding-bottom: get-vw(20px,$screen-xxs)
                    margin-bottom: get-vw(21px,$screen-xxs)

                    #title
                        font-size: get-vw(22.3px,$screen-xxs)
                        padding-bottom: get-vw(18px,$screen-xxs)

                    #filter
                        #filter-container
                            width: 100%
                            display: block

                            #filter-container-cell
                                display: block
                                width: 100%

                        #box-1
                            width: 100%
                            display: block
                            padding: get-vw(18px,$screen-xxs) 0px 0px 0px
                            font-size: get-vw(13px,$screen-xxs)

                        #box-2
                            width: 100%
                            display: block
                            padding: get-vw(23px,$screen-xxs) 0px get-vw(22px,$screen-xxs) 0px
                            font-size: get-vw(13px,$screen-xxs)

                        #button-go
                            text-align: center
                            display: block
                            width: 100%

                        #go
                            line-height: get-vw(30px,$screen-xxs)
                            padding: 0px
                            width: get-vw(60px,$screen-xxs)
                            font-size: get-vw(14px,$screen-xxs)

                        label
                            font-size: get-vw(19.5px,$screen-xxs)
                            line-height: get-vw(26px,$screen-xxs)
                            color: $ORANGE

                    #results 
                        label
                            font-size: get-vw(18.7px,$screen-xxs)
                            line-height: get-vw(55px,$screen-xxs)

                        #results-input
                            width: 100%
                            font-size: get-vw(16px,$screen-xxs)

        &#landing-pages
            .contents
                .push-container-scroll > .push-container-left > .push-container
                    .push-articles ul li 
                        .push-articles-info-container .push-articles-info #title 
                            font-size: get-vw(13px,$screen-xxs)

                        &.video .push-articles-img:before
                            width: get-vw(20px,$screen-xxs)
                            height: get-vw(22px,$screen-xxs)

                .push-sort-by
                    margin-top: get-vw(7px,$screen-xxs)
                    width: get-vw(240px,$screen-xxs)
                    font-size: get-vw(15px,$screen-xxs)
                    margin-bottom: get-vw(42px,$screen-xxs)

                article 
                    #title
                        font-size: get-vw(20.3px,$screen-xxs)
                        line-height: get-vw(25px,$screen-xxs)
                        margin-top: get-vw(10px,$screen-xxs)

                    #details
                        font-size: get-vw(17px,$screen-xxs)
                        margin: get-vw(10px,$screen-xxs) get-vw(3px,$screen-xxs)
                        margin-bottom: get-vw(14px,$screen-xxs)

                    #article-img:before
                        right: get-vw(12px,$screen-xxs)
                        top: get-vw(10px,$screen-xxs)
                        width: get-vw(23px,$screen-xxs)
                        height: get-vw(23px,$screen-xxs)

                    #bottom-container 
                        font-size: get-vw(17px,$screen-xxs)

                        .info-container
                            font-size: get-vw(19px,$screen-xxs)

                            #person
                                padding-right: get-vw(30px,$screen-xxs)

                            #date
                                font-size: get-vw(15.4px,$screen-xxs)

                        .push-container-left
                            float: none
                            width: 100%
                            +aspect-ratio(304px, 57px)

                        .push-container-right.social 
                            width: 100%
                            float: none

                            i[class*="icon-"]
                                margin: 0px get-vw(10px,$screen-xxs) get-vw(38px,$screen-xxs) get-vw(10px,$screen-xxs)
                                width: get-vw(44px,$screen-xxs)

        &#homepage .contents 
            #push-skinning-container.with-skin #push-skinning-mobile
                margin-bottom: get-vw(34px,$screen-xxs)

            .push-container
                &#push-container-left-and-right
                    padding: get-vw(10px,$screen-xxs)
                    padding-top: get-vw(29px,$screen-xxs)
                    padding-bottom: 0px

                    .push-container-scroll .push-container-left 
                        > .push-title,
                        > .sc-sticky-container > .push-title
                            font-size: get-vw(21px,$screen-xxs)

                        .push-trending-latest
                            width: get-vw(232px,$screen-xxs)
                            margin-top: 0px
                            display: block
                            position: relative
                            margin: auto
                            margin-top: get-vw(8px,$screen-xxs)
                            margin-bottom: get-vw(7px,$screen-xxs)

                            ul li #text
                                font-size: get-vw(11.5px,$screen-xxs)

                &#push-home-top-container 
                    +background-gradient(#242424, #f1f1f1)

                    > .push-container
                        padding: get-vw(10px,$screen-xxs)
                        padding-top: get-vw(14px,$screen-xxs)

                        > .push-title,
                        > .sc-sticky-container > .push-title
                            margin-bottom: get-vw(5px,$screen-xxs)

            .push-headlines
                margin-left: get-vw(-10px,$screen-xxs)
                margin-right: get-vw(-10px,$screen-xxs)

                ul 
                    &.slick-initialized .slick-dots
                        display: block
                        position: static
                        text-align: center
                        margin-top: get-vw(9px,$screen-xxs)

                        li
                            height: get-vw(8px,$screen-xxs)
                            width: get-vw(8px,$screen-xxs)
                            margin: 0px get-vw(2px,$screen-xxs)
                            right: 0px

                    li .push-headlines-info 
                        padding: 0px get-vw(56px,$screen-xxs) 0px get-vw(10px,$screen-xxs)

                        .ph-title
                            font-size: get-vw(20px,$screen-xxs)
                            margin-bottom: get-vw(5px,$screen-xxs)
                            line-height: get-vw(26px,$screen-xxs)

                        .ph-person
                            display: none

            // .push-lsn
            //     margin-bottom: get-vw(24px,$screen-xxs)
            //     padding-bottom: 0px
            //     border: none

            //     &:before
            //         background: none

            //     .push-lsn-img
            //         width: percentage(180px / 300px)

            //     .push-lsn-info-container
            //         width: percentage((300px - 180px) / 300px)
            //         +aspect-ratio(120px, 117px)

            //         .push-lsn-info
            //             font-size: get-vw(14px,$screen-xxs)
            //             padding-left: get-vw(8px,$screen-xxs)
            //             padding-right: 0px

            //             #source-date
            //                 #date
            //                     display: none

            //                 #source
            //                     font-size: get-vw(13px,$screen-xxs)
            //                     color: lighten($GRAY, 20)
            //                     +font-medium

            //     ul li
            //         width: 100%
            //         float: none
            //         display: block
            //         margin-bottom: get-vw(15px,$screen-xxs)
            //         +clearfloat

        