extends includes/_template

block CONFIG
    - var CONFIG_title = '404 Not Found'

block CONTENT
    // #error-page - START
    main.main(role='main')#error-page
        include mixins/_ads
        // ERROR - START
        section.contents
            img(src=IMAGES+'push-logo.png' alt='LOGO')
            p#title OOPS!
            p#subtitle Hindi namin ma-PUSH ang page na hinahanap mo.
            hr/
            p#title-1 Please try refreshing the page.
            p#subtitle-1 You may also return to the #[a(href='index.html') previous page] or go to our #[a(href='index.html') homepage]
        // ERROR - END
    // #error-page - END    