extends includes/_template    

block CONFIG
    - var CONFIG_page = 'fs'

include mixins/_aside
include mixins/_inner

block CONTENT        
    // #inner-pages - START
    main.main(role='main')#inner-pages
        include mixins/_ads
        //INNER PAGE - START
        section.contents
            .push-container.push-container-lock
                //.push-container-scroll
                .push-container-scroll
                    //.push-container-left - START
                    .push-container.push-container-left
                        //.push-infinite-scroll - START
                        .push-infinite-scroll
                            +article({
                                type:'fs',
                                bc:[
                                    {
                                        text:'Fresh Scoops',
                                        link:'fresh-scoops-landing.html'
                                    },
                                    {
                                        text:"'Mater Dolorosa' Tops Digital Movie Purchases",
                                    },
                                ]
                            })
                            // FROM THE WEB - START
                            .push-container#push-ftw
                                .push-title FROM THE WEB
                                ul
                                    - for(i=1;i<=4;i++)
                                        li.three.columns
                                            a(href='#')
                                                .push-articles-img
                                                    img(src=SAMPLES+'ftw-'+i+'.png' alt='TITLE')
                                                .push-articles-info-container
                                                    .push-articles-info
                                                        #title This Beef Fondue recipe will make your celebrations even
                                                        #source Maggi
                            // FROM THE WEB - END
                        //.push-infinite-scroll - END
                    //.push-container-left - END
                    +aside
                    //CLEARFLOAT
                    .u-cf
        //INNER PAGE - END
    // #inner-pages - END