extends includes/_template    

block CONFIG
    - var CONFIG_page = 'fs'

include mixins/_aside
include mixins/_inner

block CONTENT        
    // #landing-pages - START
    main.main(role='main')#landing-pages
        include mixins/_ads
        //LANDING PAGE - START
        section.contents
            .push-container.push-container-lock
                //.push-container-scroll
                .push-container-scroll
                    //.push-container-left - START
                    .push-container.push-container-left
                        +breadcrumbs([
                            {
                                text: 'Fresh Scoops'
                            }
                        ])
                        .push-title FRESH SCOOPS
                        // ARTICLE - START
                        article
                            a(href='fresh-scoops-inner.html')
                                #title Paolo Ballesteros Wins Another Award For “Die Beautiful”
                                #details Paolo Ballesteros wins the Special Jury Prize Award for Outstanding Performance at the 21st International Film Fest in Kerala, India. 
                                #article-img
                                    img(src=SAMPLES+'la-1.png')
                            #bottom-container
                                .push-container-left
                                    .info-container
                                        #person by Joan Leary
                                        #date #[i.fa.fa-clock-o(aria-hidden='true')]5 minutes ago
                                .push-container-right.social
                                    i.icon-fb(data-url='fresh-scoops-inner.html') #[img(src=IMAGES+'social-fb.png')]
                                    i.icon-tw(data-url='fresh-scoops-inner.html' data-text='Testing') #[img(src=IMAGES+'social-tw.png')]
                                    i.icon-gplus(data-url='fresh-scoops-inner.html') #[img(src=IMAGES+'social-gplus.png')]
                        // ARTICLE - END
                        // ALL LATEST NEWS - START
                        .push-container
                            .push-title ALL LATEST NEWS
                            //SORTER - START
                            .push-sort-by
                                label Sort By
                                #selection-container
                                    select(data-search='false')
                                        option DATE - NEWEST
                                        option DATE - OLDEST
                                        option MOST SHARED
                            //SORTER - END
                            .push-articles
                                include mixins/_landing
                                +pusharticles({
                                    type:'fs',
                                    link:'fresh-scoops-inner.html'
                                })
                                //LOAD MORE NEWS
                                button.orange LOAD MORE NEWS
                        // ALL LATEST NEWS - END
                    //.push-container-left - END
                    +aside
                    //CLEARFLOAT
                    .u-cf
        //LANDING PAGE - END    
    // #landing-pages - END
        