extends includes/_template    

block CONFIG
    - var CONFIG_page = 'p'

include mixins/_aside
include mixins/_inner

block CONTENT        
    // #landing-pages - START
    main.main(role='main')#landing-pages
        include mixins/_ads
        //LANDING PAGE - START
        section.contents
            .push-container.push-container-lock
                //.push-container-scroll
                .push-container-scroll
                    //.push-container-left - START
                    .push-container.push-container-left
                        +breadcrumbs([
                            {
                                text: 'Photos'
                            }
                        ])
                        .push-title PHOTOS
                        // ARTICLE .photo - START
                        article.photo
                            a(href='photos-inner.html')
                                #title Ang Babae Sa Septic Tank 2 Press Conference
                                #details Are you ready for Eugene Domingo’s Comeback? Take a closer look with our “Ang Babae Sa Septic Tank 2” special coverage!
                                #article-img
                                    img(src=SAMPLES+'pa-1.png')
                            #bottom-container
                                .push-container-left
                                    .info-container
                                        #person by Joan Leary
                                        #date #[i.fa.fa-clock-o(aria-hidden='true')] 5 minutes ago
                                .push-container-right.social
                                    i.icon-fb #[img(src=IMAGES+'social-fb.png')]
                                    i.icon-tw #[img(src=IMAGES+'social-tw.png')]
                                    i.icon-gplus #[img(src=IMAGES+'social-gplus.png')]
                        // ARTICLE .photo - END
                        // ALL PHOTOS - START
                        .push-container
                            .push-title ALL PHOTOS
                            //SORTER - START
                            .push-sort-by
                                label Sort By
                                #selection-container
                                    select(data-search='false')
                                        option DATE - NEWEST
                                        option DATE - OLDEST
                                        option MOST SHARED
                            //SORTER - END
                            .push-articles
                                include mixins/_landing
                                +pusharticles({
                                    type:'p',
                                    link:'photos-inner.html'
                                })
                                //LOAD MORE PHOTOS
                                button.orange LOAD MORE PHOTOS
                        // ALL PHOTOS - END
                    //.push-container-left - END
                    +aside
                    //CLEARFLOAT
                    .u-cf
        //LANDING PAGE - END    
    // #landing-pages - END