extends includes/_template    

block CONFIG
    - var CONFIG_title = 'Search'

include mixins/_aside

block CONTENT
    // #search-page - START
    main.main(role='main')#search-page
        include mixins/_ads
        //SEARCH PAGE - START
        section.contents
            .push-container.push-container-lock
                //.push-container-scroll
                .push-container-scroll
                    //.push-container-left - START
                    .push-container.push-container-left
                        .search-header
                            #title Search Results
                            #results
                                label Showing results for:
                                //- #results-input Jessy Mendiola #[i X]
                                #results-input #[input(type='textbox' value='Jessy Mendiola')] #[i X]
                            #filter
                                label Filter results:
                                #filter-container
                                    #filter-container-cell
                                        #box-1
                                            select(name="")
                                                option All
                                                - for(i=1;i<10;i++)
                                                    option(value=i)='OPTION #'+i
                                        #box-2
                                            select(name="")
                                                option All
                                                - for(i=1;i<10;i++)
                                                    option(value=i)='OPTION #'+i
                                        #button-go
                                            button.unskin#go GO

                        .push-articles
                            ul
                                - for(i=1;i<=10;i++)
                                    li
                                        a(href='#')
                                            .push-articles-img
                                                img(src=SAMPLES+'a-'+i+'.png' alt='TITLE')
                                            .push-articles-info-container
                                                .push-articles-info
                                                    #title This is <b>Jessy Mendiola</b> for Luis Manzano
                                                    #person-date
                                                        #person by Joan Leary
                                                        #date #[i.fa.fa-clock-o(aria-hidden='true')] 2 minutes ago
                                                    if (config.devtest)
                                                        #caption 123 #[#readmore #[a(href="#") Read More]]
                                                        //- #caption.
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim 
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim 
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim 
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim 
                                                            #[#readmore #[a(href="#") Read More]]
                                                    else
                                                        #caption.
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim #[#readmore #[a(href="#") Read More]]
                        // PAGINATION - START
                        .push-pagination
                            .push-pagination-pn
                                a(href='#')
                                    | &lt; 
                                    span.hidden-xs.hidden-sm PREVIOUS
                            #push-pagination-pages
                                ul
                                    li
                                        a(href='#') 1
                                    li
                                        a(href='#') 2
                                    li.active
                                        a(href='#') 3
                                    li
                                        a(href='#') 4
                                    li
                                        a(href='#') 5...
                                    li
                                        a(href='#') 120
                            .push-pagination-pn
                                a(href='#')
                                    span.hidden-xs.hidden-sm NEXT
                                    |  &gt;
                        // PAGINATION - END
                    //.push-container-left - END
                    +aside
                    //CLEARFLOAT
                    .u-cf
        //SEARCH PAGE - END
    // #search-page - END
        