extends includes/_template

block CONFIG
    - var CONFIG_page = 'special'
    - var CONFIG_title = '65th Miss Universe'

block CONTENT
    // #special-page - START
    main.main(role='main')#special-page
        include mixins/_ads
        section.contents
            // .header-container
            .push-container.push-container-large-lock.header-container
                // header background (1280x550)
                img(src=SAMPLES+'special-page-header-1280x550.jpg' class="push-background")
                // / header background
                nav
                    ul
                        li #[a(href='#' data-target='page-1') FRESH SCOOPS]
                        li #[a(href='#' data-target='page-2') PHOTOS]
                        li #[a(href='#' data-target='page-3') VIDEOS]
            // /.header-container
            // .header-container
            .push-container.push-container-large-lock.header-container
                // header background (1280x530)
                img(src=SAMPLES+'special-page-header-BACKGROUND.png' class="push-background")
                // / header background
                #contents
                    #title Miss Universe 2016 Exclusives
                    #caption Lorem ipsum dolor sit amet consectetur adisciping. Cras commodo erat quis congue pretium. Aliquam erat volutpat.
                    .push-container.push-container-lock#featured
                        ul
                            //scoops
                            li
                                a(href='#')
                                    .push-featured-img
                                        if (config.devtest)
                                            img(src='https://unsplash.it/600/600' alt='TITLE')
                                        else
                                            img(src=SAMPLES+'special-featured-fresh-scoops.png' alt='TITLE')
                                    .push-featured-info
                                        .ph-title Pia Wurtzbach thinks Liza Soberano is fit for Miss Universe
                                        .ph-date 3 minutes ago
                            //photos
                            li
                                a(href='#')
                                    .push-featured-img
                                        if (config.devtest)
                                            img(src='https://unsplash.it/601/601' alt='TITLE')
                                        else
                                            img(src=SAMPLES+'special-featured-photos.png' alt='TITLE')
                                    .push-featured-info
                                        .ph-title Pia Wurtzbach thinks Liza Soberano is fit for Miss Universe
                                        .ph-date 3 minutes ago
                            //videos
                            li
                                a(href='#')
                                    .push-featured-img
                                        if (config.devtest)
                                            img(src='https://unsplash.it/602/602' alt='TITLE')
                                        else
                                            img(src=SAMPLES+'special-featured-videos.png' alt='TITLE')
                                    .push-featured-info
                                        .ph-title Pia Wurtzbach thinks Liza Soberano is fit for Miss Universe
                                        .ph-date 3 minutes ago
            // /.header-container
            // #fresh-scoops
            .push-container.push-container-lock#fresh-scoops(target='page-1')
                .push-container-header
                    .push-title FRESH SCOOPS
                    a(href='fresh-scoops-landing.html')
                        button(type="button") SEE ALL FRESH SCOOPS
                .push-fresh-scoops
                    ul.slick
                        - for(h=1;h<=5;h++)
                            - for(i=1;i<=3;i++)
                                //320x480
                                li.gallery
                                    a(href='fresh-scoops-inner.html')
                                        .push-fs-img
                                            img(src=SAMPLES+'special-fresh-scoops-'+i+'.png' alt='TITLE')
                                        .push-fs-info-container
                                            #title Miss France "Everything Still Feels Like A Dream!"
                                            #person-date
                                                #person by Jhai Ho
                                                #date #[i.fa.fa-clock-o(aria-hidden='true')] 2 minutes ago
            // / #fresh-scoops
            // #latest-photos
            .push-container.push-container-large-lock#latest-photos(target='page-2')
                // latest photos background (1280x938)
                img(src=SAMPLES+'special-page-1280x980-bg.png' class="push-background")
                // / latest photos background
                .push-container.push-container-lock#latest-photos-contents
                    .push-container-header
                        .push-title LATEST PHOTOS
                        a(href='photos-landing.html')
                            button(type='button') SEE ALL LATEST PHOTOS
                    .push-articles
                        ul
                            - for(i=1;i<=(config.devtest ? 1 : 6);i++)
                                li
                                    a(href='fresh-scoops-inner.html')
                                        .push-articles-img
                                            img(src=SAMPLES+'sp-a1.jpg' alt='TITLE')
                                        .push-articles-info-container
                                            .push-articles-info
                                                #title Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover
                                                #person-date
                                                    #person by Jhai Ho
                                                    #date #[i.fa.fa-clock-o(aria-hidden='true')] 2 minutes ago
            // / #latest-photos
            // #latest-videos
            .push-container.push-container-lock#latest-videos(target='page-3')
                .push-container-header
                    .push-title LATEST VIDEOS
                    a(href='videos-landing.html')
                        button(type='button') SEE ALL LATEST VIDEOS

                //FEATURED VIDEO
                #featured
                    a(href='videos-inner.html')
                        .push-articles-img
                            img(src=SAMPLES+'special-page-videos-featured.png' alt='TITLE')
                        .push-articles-info-container
                            .push-articles-info
                                #title WATCH: Miss Universe 2017 Stunning Traditional Costumes At The Beauty Pageant
                                #person-date
                                    #person by Jhai Ho
                                    #date #[i.fa.fa-clock-o(aria-hidden='true')] 2 minutes ago
                                #caption Judges and mentors of Miss Universe Philippines Maxine Medina all agree that she was 'one of the prettiest' contestants the Philippines " has ever sent to Miss Universe and to any beauty pageant."
                .push-articles
                    ul
                        - for(i=1;i<=3;i++)
                            //.video
                            li.video
                                a(href='fresh-scoops-inner.html')
                                    .push-articles-img
                                        img(src=SAMPLES+'special-page-videos-1.png' alt='TITLE')
                                    .push-articles-info-container
                                        .push-articles-info
                                            #title LOOK: Miss Universe Candidates Stay Behind To Explore PH
                                            #person-date
                                                #person by Jhai Ho
                                                #date #[i.fa.fa-clock-o(aria-hidden='true')] 2 minutes ago
            // / #latest-videos
        include mixins/_ads
    // #special-page - END