extends includes/_template    

block CONFIG
    - var CONFIG_page = 'v'

include mixins/_aside
include mixins/_inner

block CONTENT       
    // #landing-pages - START
    main.main(role='main')#landing-pages
        include mixins/_ads
        //LANDING PAGE - START
        section.contents
            .push-container.push-container-lock
                //.push-container-scroll
                .push-container-scroll
                    //.push-container-left - START
                    .push-container.push-container-left
                        +breadcrumbs([
                            {
                                text: 'Videos'
                            }
                        ])
                        .push-title VIDEOS
                        // ARTICLE .video - START
                        article.video
                            a(href='videos-inner.html')
                                #title HOT SPOT! | EPISODE 173
                                #details Kathryn Bernardo, excited nang makatrabaho ang nanay ni Daniel Padilla na si Karla Estrada!
                                #article-img
                                    // INSERT VIDEO CODE HERE
                                    img(src=SAMPLES+'va-1.png')
                                    // INSERT VIDEO CODE HERE
                            #bottom-container
                                .push-container-left
                                    .info-container
                                        #person by Joan Leary
                                        #date #[i.fa.fa-clock-o(aria-hidden='true')] 5 minutes ago
                                .push-container-right.social
                                    i.icon-fb #[img(src=IMAGES+'social-fb.png')]
                                    i.icon-tw #[img(src=IMAGES+'social-tw.png')]
                                    i.icon-gplus #[img(src=IMAGES+'social-gplus.png')]
                        // ARTICLE .video - END
                        // ALL VIDEO - START
                        .push-container
                            .push-title ALL VIDEOS
                            //SORTER - START
                            .push-sort-by
                                label Sort By
                                #selection-container
                                    select(data-search='false')
                                        option DATE - NEWEST
                                        option DATE - OLDEST
                                        option MOST SHARED
                            //SORTER - END
                            .push-articles
                                include mixins/_landing
                                +pusharticles({
                                    type:'v',
                                    link:'videos-inner.html'
                                })
                                //LOAD MORE VIDEOS
                                button.orange LOAD MORE VIDEOS
                        // ALL VIDEO - END
                    //.push-container-left - END
                    +aside
                    //CLEARFLOAT
                    .u-cf
        //LANDING PAGE - END    
    // #landing-pages - END
        