&#error-page
    .contents
        text-align: center
        padding-top: 70px
        padding-bottom: 50px

        #title, #subtitle,
        #title-1, #subtitle-1
            margin-bottom: 0px

        a
            color: $VIOLET
            text-decoration: underline

        hr
            border-top-color: $VIOLET
            width: 100px
            border-top-width: 5px
            margin: 25px auto

        #title
            font-size: 90px
            line-height: 124px
            color: $ORANGE
            +text-shadow(3px 3px 1px #b86983)
            @extend .font-bold
            @include screen(xs)
                font-size: get-vw-(65px,xs)

        #title-1
            font-size: 22px
            @include screen(md)
                font-size: get-vw-(20px,md)
            @include screen(sm)
                font-size: get-vw-(24px,sm)
                line-height: get-vw-(33px,sm)
            @include screen(xs)
                font-size: get-vw-(18px,xs)
                line-height: get-vw-(29px,xs)

        #subtitle
            font-size: 25px
            @extend .font-medium
            @include screen(md)
                font-size: get-vw-(22px,md)
            @include screen(sm)
                margin: 0px get-vw-(70px,sm)
                line-height: get-vw-(33px,sm)
                font-size: get-vw-(24px,sm)
            @include screen(xs)
                line-height: get-vw-(34px,xs)
                font-size: get-vw-(20px,xs)

        #subtitle-1
            font-size: 22px
            line-height: 45px
            @include screen(md)
                font-size: get-vw-(20px,md)
            @include screen(sm)
                margin: 0px get-vw-(55px,sm)
                font-size: get-vw-(23px,sm)
                line-height: get-vw-(38px,sm)
            @include screen(sm)
                margin: 0px get-vw-(55px,xs)
                font-size: get-vw-(20px,xs)
                line-height: get-vw-(25px,xs)