&#homepage
  .ads
    background: white

  .contents
    // &.no-push-headlines .push-lsn .push-lsn-info-container .push-lsn-info #source-date #date
    &.no-push-headlines #push-home-top-container
      background: none !important

      &.with-skin
        display: none

    .push-container#push-home-top-container
      +background-gradient(#242424, white)

      > .push-container
        padding: 0px percentage(17px / $screen-xlg-max)
        padding-top: percentage(40px / $screen-xlg)
        padding-bottom: percentage(40px / $screen-xlg)

        > .push-title,
        > .sc-sticky-container > .push-title
          color: white
          display: inline-block

          &:before
            background: $ORANGE

    #push-skinning-container
      background-repeat: no-repeat
      background-position: center top

      & + #push-home-top-container
        background: none

        > .push-container > .push-title,
        .push-container > .sc-sticky-container > .push-title,
        .push-lsn .push-lsn-info-container .push-lsn-info #title,
        .push-lsn .push-lsn-info-container .push-lsn-info #source-date #source
          color: $BLACK

        .push-lsn .push-lsn-info-container .push-lsn-info #source-date #date
          color: lighten($BLACK,25)

      #push-skinning-mobile
        display: none

      &.with-skin
        padding-top: percentage(160px / $screen-xlg)
        position: relative
        @include screen(md)
          height: auto !important

        &:before
          display: block
          content: ' '
          position: absolute
          top: 0px
          left: 0px
          right: 0px
          height: 20px
          z-index: 10
          +box-shadow2(0px, 15px, 30px, -20px, black, inset)

        #push-skinning-mobile
          cursor: pointer
          display: block
          position: absolute      
          top: 0
          left: 0
          right: 0
          z-index: 9
          margin: auto
          text-align: center
          width: 1400px
          @include screen(custom1o)
            width: get-vw-(1400px,custom1)
          @include screen(lgo)
            width: get-vw-(1400px)
            // left: get-vw-(-60px)
          @include screen(md)
            position: static
            width: 100%

          &.fixed
            background-repeat: no-repeat
            width: 100%
            background-position: center top
            background-size: percentage(1400px / $screen-xlg)

            picture
              +opacity(0)
              @include screen(md)
                +opacity(1)

          &.picture-fixed
            picture
              display: none

            .push-picture
              [data-size]
                +opacity(0)

              @include screen(lg)
                [data-size="1"], [data-size="2"]
                  display: none

              @include screen(md)
                [data-size]
                  +opacity(1)

                [data-size="3"]
                  display: none

                [data-size="2"]
                  display: block

              @include screen(sm)
                [data-size="2"]
                  display: none

                [data-size="1"]
                  display: block

          img
            width: 100%

        .push-container#push-container-left-and-right
          +box-shadow2(0px, 0px, 15px, 5px, rgba(0, 0, 0, 0.1))
          padding-top: percentage(20px / $screen-xlg)
          background-color: white
          position: absolute
          top: 0
          left: 0
          right: 0
          margin: 0 auto
          z-index: 9
          width: 100%
          @include screen(md)
            position: static
        

    .push-container#push-container-left-and-right
      background: white
      padding: percentage(20px / $screen-xlg)
      padding-top: 0px
      @include screen(custom1o)
        // max-width: get-vw-(1040px,custom1)
      @include screen(lgo)
        max-width: get-vw-(1040px)

      .push-container-scroll
        $leftw: $screen-xlg-left
        .push-container-left
          position: relative

          .push-articles
            margin-bottom: percentage(20px / $leftw)

          .push-trending-latest
            right: 0px
            top: 0px
            width: percentage(230px / $leftw)
            +aspect-ratio(230px, 45px)          
            position: absolute
            font-size: 0.8em

            ul
              +aspect-ratio-float

              li
                float: left
                // display: table
                height: 100%
                border: 1px solid $GRAY
                width: 50%
                text-align: center
                cursor: pointer

                a
                  display: table                
                  height: 100%
                  width: 100%
                  color: $GRAY
                // &.active
                //   border: 1px solid $ORANGE
                //   color: $ORANGE

                //   #icon i
                //     background-image: url('/../../../../images/latest-active.png')
                &.active
                  border: 1px solid $ORANGE

                  a
                    color: $ORANGE

                &:not(.active)
                  a:hover
                    color: $GRAY

                &:nth-child(2n+1)
                  padding-left: percentage(12px / 230px)
                  +border-radius-separate(25px, 0px, 25px, 0px)

                  #icon i
                    background-image: url('/../../..../../images/latest-inactive.png')
                
                  &.active
                    #icon i
                      background-image: url('/../../../../images/latest-active.png')

                  &:not(.active)
                    border-right-color: transparent

                &:nth-child(2n+2)
                  padding-left: percentage(12px / 230px)
                  border-left-color: transparent
                  +border-radius-separate(0px, 25px, 0px, 25px)

                  #icon i
                    background-image: url('/../../../../images/trending-inactive.png')

                  &.active
                    border-left-color: $ORANGE
                    color: $ORANGE

                    #icon i
                      background-image: url('/../../../../images/trending-active.png')
                //   border-left: none

                //   &.active
                //     #icon i
                //     background-image: url('/../../../../images/trending-active.png')
                //     background-repeat: no-repeat

                //   #icon i
                //     background-image: url('/../../../../images/trending-inactive.png')

                #icon, #text
                  display: table-cell
                  vertical-align: middle

                #icon i
                  height: 17px
                  width: 20px
                  display: inline-block
                  background-repeat: no-repeat

    .push-lsn
      $_wmd: (690px / 2)
      $_wsm: (550px / 2)
      padding-bottom: percentage(40px / $screen-xlg-max)
      margin-bottom: percentage(40px / $screen-xlg-max)
      position: relative
      // border-bottom: 1px solid darken($GRAY, 10)
      @include screen(md)
        margin-bottom: percentage(40px / $screen-sm)
        padding-bottom: percentage(40px / $screen-sm) 
      @include screen(sm)
        margin-bottom: get-vw(20px,$screen-xs)
        padding-bottom: get-vw(50px,$screen-xs)
      @include screen(xs)
        margin-bottom: get-vw(24px,$screen-xxs)
        padding-bottom: 0px
        border: none
      // &:before
      //   content: ' '
      //   display: block
      //   position: absolute
      //   bottom: 0px
      //   left: 0px
      //   width: 100%
      //   height: 1px
      //   background: darken($GRAY, 10)
      //   @include background(linear-gradient(to right, transparent, darken($GRAY, 10) 20%, darken($GRAY, 10), darken($GRAY, 10) 80%, transparent))
      //   @include screen(xs)
      //     background: none

      li:hover #title
        color: $ORANGE

      a
        color: white

      $lsn-w: ($screen-xlg-without-padding / 3)
      .push-lsn-img
        float: left
        width: percentage(180px / $lsn-w)
        +aspect-ratio(180px, 117px)
        @include screen(md)
          width: percentage(179px / $_wmd)
        @include screen(sm)
          width: percentage(136px / $_wsm)
        @include screen(xs)
          width: percentage(180px / 300px)

        img
          +aspect-ratio-float-img
          border: 1px solid white

      .push-lsn-info-container
        +aspect-ratio(155px, 117px)
        float: left
        width: percentage(($lsn-w - 180px) / ($screen-xlg-without-padding / 3))
        @include screen(md)
          width: percentage(($_wmd - 179px) / $_wmd)
          +aspect-ratio(166px, 116px)
        @include screen(sm)
          width: percentage(($_wsm - 136px) / $_wsm)
          +aspect-ratio(139px,88px)
        @include screen(xs)
          width: percentage((300px - 180px) / 300px)
          +aspect-ratio(120px, 117px)

        .push-lsn-info
          +aspect-ratio-float
          padding: 0px percentage(10px / ($lsn-w - 180px / 2))
          padding: 0px 10px
          padding-right: percentage(15px / ($lsn-w - 180px / 2))
          @include screen(md)
            font-size: +get-vw(25px)
          @include screen(sm)
            font-size: get-vw(13px,$screen-xs)
          @include screen(xs)
            font-size: get-vw(14px,$screen-xxs)
            padding-left: get-vw(8px,$screen-xxs)
            padding-right: 0px

          #title
            line-height: 1.4em
            +transition(all 0.2s ease-in-out 0s)

          #source-date
            position: absolute
            bottom: 0px
            padding-right: inherit
            @include screen(sm)
              font-size: get-vw(14px,$screen-xs)

            #source, #date
              font-size: 0.85em
              display: block
              line-height: 1.25em

            #source
              @include screen(xs)
                font-size: get-vw(13px,$screen-xxs)
                color: lighten($GRAY, 20)
                +font-medium

            #date
              color: $GRAY
              @include screen(xs)
                display: none

      @include screen(md)
        ul li
          width: 50%
          display: none

          &:nth-child(1),&:nth-child(2)
            display: block

      @include screen(xs)
        ul li
          width: 100%
          float: none
          // display: block
          margin-bottom: get-vw(15px,$screen-xxs)
          +clearfloat

    .push-headlines
      ul 
        &.slick-initialized
          .slick-dots
            @extend %slick-dots

          .slick-arrow
            position: absolute
            top: 0px
            bottom: 0px
            margin: auto
            width: 39px
            background-repeat: no-repeat
            z-index: 10
            background-position: center
            cursor: pointer

            &.ph-prev
              left: -92px
              background-image: url(/assets/theme/images/left-l.png)
              @include screen(lgo)
                left: get-vw-(-92px)

            &.ph-next
              right: -92px
              background-image: url(/assets/theme/images/right-l.png)
              @include screen(lgo)
                right: get-vw-(-92px)

        li
          position: relative

          .push-headlines-img
            +aspect-ratio(1000px, 524px)

            img
              +aspect-ratio-float-img

          .push-headlines-info
            @include background(linear-gradient(to bottom, transparent, transparentize(black,0.5) 50%, transparentize(black,0.3)))
            position: absolute
            left: 0px
            right: 0px
            bottom: 0px
            color: white
            padding-top: percentage(100px / 1000px)
            padding-bottom: percentage(50px / 1000px)
            padding-left: percentage(65px / 1000px)
            padding-right: percentage(260px / 1000px)

            .ph-title
              font-size: 2.6em
              line-height: 115%
              margin-bottom: 10px

            .ph-person
              line-height: 100%
              font-size: 1.3em