&#inner-pages
    .contents
        .push-gallery
            .slick-active .social
                opacity: 1

            .social
                position: absolute
                right: 0px
                top: 0px
                z-index: 10
                width: percentage(95px / $screen-xlg-left)
                opacity: 0
                +transition(opacity 0.1s ease-out 0s)

                &.social-fixed
                    i[class*="icon-"]
                        background-image: url(/assets/theme/images/social-2-x1.png)
                        background-size: 200% auto
                        background-repeat: no-repeat
                        @include screen(retina)
                            background-image: url(/assets/theme/images/social-2-x2.png)

                        &.icon-fb
                            background-position: 0% 0%

                        &.icon-tw
                            background-position: 100% 0%
                
                i[class*="icon-"]
                    height: auto
                    float: left
                    width: percentage(35px / 95px)
                    margin: percentage(7px / 95px) percentage(5px / 95px)

                    &:before
                        display: none

                    img
                        display: block

                // @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
                //     .icon-fb
                //         img
                //             display: none !important

                //         &:before
                //             display: block !important
                //             background-image: url(/assets/theme/images/social-fb-2-x2.png)
                //         &:hover:before
                //             background-image: url(/assets/theme/images/social-fb-2-x2.png)

                //     .icon-tw
                //         img
                //             display: none !important

                //         &:before
                //             display: block !important
                //             background-image: url(/assets/theme/images/social-tw-2-x2.png)
                //         &:hover:before
                //             background-image: url(/assets/theme/images/social-tw-2-x2.png)

            .pg-thumbnails
                background: lighten($GRAY,25)

                .pg-prev, .pg-next
                    width: percentage(25px / $screen-xlg-left)
                    position: absolute
                    top: 0px
                    bottom: 0px
                    height: 100%
                    background-position: center
                    z-index: 10
                    background-repeat: no-repeat
                    cursor: pointer
                    background-size: 90%
                    @include screen(retina)
                        background-image: url(/assets/theme/images/arrows-s-x2.png) !important
                        background-size: 200% !important

                .pg-prev
                    background-image: url(/assets/theme/images/left-s.png)       
                    left: 0px
                    @include screen(retina)
                        background-position: 0% 50%
                .pg-next
                    background-image: url(/assets/theme/images/right-s.png)             
                    right: 0px
                    @include screen(retina)
                        background-position: 100% 50%

                .slick-slider
                    padding: percentage(20px / $screen-xlg-left) percentage(25px / $screen-xlg-left)

                .img-container
                    +aspect-ratio(113px, 113px)
                    background: black

                    img
                        +aspect-ratio-float
                        max-width: 95%
                        max-height: 100%
                        margin: auto

            .pg-big
                .pg-prev, .pg-next
                    width: percentage(25px / $screen-xlg-left)
                    position: absolute
                    top: percentage(50px / $screen-xlg-left)
                    bottom: percentage(50px / $screen-xlg-left)
                    height: percentage((414px - 100px) / 414px)
                    background-position: center
                    z-index: 10
                    background-repeat: no-repeat
                    cursor: pointer
                    background-size: 100%

                .pg-prev
                    background-image: url(/assets/theme/images/left.png)       
                    left: percentage(10px / $screen-xlg-left)

                .pg-next
                    background-image: url(/assets/theme/images/right.png)             
                    right: percentage(10px / $screen-xlg-left)

                .img-container
                    +aspect-ratio(660px, 414px)
                    background: black

                    img
                        +aspect-ratio-float
                        max-width: 100%
                        max-height: 100%
                        margin: auto

                    #img-info
                        position: absolute
                        bottom: 0px
                        left: 0px
                        right: 0px
                        width: 100%
                        background: rgba(0, 0, 0, 0.7)
                        padding: percentage(8px / $screen-xlg-left)
                        color: white
                        text-align: center
                        font-size: 1.15em
                        line-height: 1.5em
                        padding-top: percentage(15px / $screen-xlg-left)

                        #ii-caption
                            font-size: 0.85em
                            color: $GRAY

                            b, a
                                color: white
                                @extend .font-regular

        article
            > img
                @extend %padding

            #title
                font-size: 2.88em
                line-height: 1.07em
            #details
                font-size: 1.15em
                line-height: 2em
                padding-bottom: 10px
                border-bottom: 1px solid lighten($GRAY, 25)
            #writer
                +clearfloat

                $left: 430px
                > .push-container-left
                    +aspect-ratio($left, 82px)
                    width: percentage($left / $screen-xlg-left)

                    #profile-name-caption
                        +aspect-ratio-float
                        +flexbox2
                        +align-items(center)

                        #profile
                            width: percentage(40px / $left)
                            +aspect-ratio(39px,44px)

                            img
                                +aspect-ratio-float
                                margin: auto

                        #name-caption
                            width: percentage(($left - 40px) / $left)
                            padding-left: percentage(7px / $left)

                            #name
                                color: $GRAY
                                font-size: 119%
                                margin-bottom: 4px

                            #caption
                                line-height: 100%
                                @extend .font-medium

                                a
                                    font-weight: 400
                                    color: $GRAY

                $right: ($screen-xlg-left - $left)
                > .push-container-right
                    width: percentage($right / $screen-xlg-left)
                    +aspect-ratio($right, 82px)

                    #category-time-container
                        +aspect-ratio-float
                        +flexbox2
                        +align-items(center)
                        +justify-content(flex-end)
                        text-align: right

                        #time
                            color: $GRAY
                            font-size: 89%

                        #category
                            font-size: 115%
                            margin-bottom: 4px

                        a
                            color: $ORANGE

                #profile img
                    +border-radius(50px)
                    max-width: 100%

            $r: 200px
            .social
                width: percentage($r / $screen-xlg-left)
                z-index: 11
                white-space: nowrap

                i[class*="icon-"]
                    margin: percentage(20px / $r) percentage(20px / $r) percentage(20px / $r) 0px

                &.bottom-social i[class*="icon-"]
                    margin-bottom: percentage(24px / $r)

                @extend %social-fixed

            #article-img, #article-video
                // +aspect-ratio(660px, 414px)
                // visibility: hidden
                // opacity: 0
                +transition(opacity 0.3s ease-out 0.2s)

                img, iframe, #scm-image > div, > div
                    // +aspect-ratio-float
                    // height: 100% !important
                    width: 100%

                // &.fixed
                //     // visibility: visible
                //     // opacity: 1

                //     &:after
                //         display: none

                    // .after
                    //     +aspect-ratio-after()
                        // padding-top: $height / $width * 100%

                &.skipfixed:after
                    display: block

            #source
                font-style: italic
                padding: percentage(5px / $screen-xlg-left) 0px
                margin-bottom: percentage(10px / $screen-xlg-left)

                b
                    @extend .font-regular

            #ads
                text-align: center
                padding: percentage(20px / $screen-xlg-left)

                img, iframe
                    max-width: 100%

            .push-tag
                margin-top: 20px
                +clearfloat
                @include screen(md)
                    margin-top: get-vw-(20px,md)
                @include screen(sm)
                    margin-top: get-vw-(20px,sm)
                @include screen(xs)
                    margin-top: get-vw-(20px,xs)

            #tags
                font-size: 1em
                float: left
                width: percentage(365px / $screen-xlg-left)
                padding-right: 20px
                margin-top: 10px
                @extend .font-medium

                label
                    margin-bottom: 0px
                    margin-right: percentage(10px / 347px)
                    float: left
                    width: percentage(35px / 347px)

                #tag-container
                    float: left
                    width: percentage((347px - 45px) / 347px)

                a
                    color: lighten($GRAY,10)
                    font-weight: 400
                    margin-right: 5px

            .comments
                img
                    max-width: 100%

                &#button
                    float: left
                    width: percentage(($screen-xlg-left - 365px) / $screen-xlg-left)
                    position: relative

                    & + .u-cf + .comments,
                    & + .u-cf + .gig-comments-container,
                        margin-top: 40px
                        width: 100% !important
                        display: none

                    &.open #arrow
                        background: url(/assets/theme/images/arrow-up.png)
                        background-repeat: no-repeat
                        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
                            background-image: url(/assets/theme/images/arrow-up-x2.png)
                            background-size: 100%
                    
                    button
                        font-size: 0.91em
                        @extend .font-medium

                    #counts
                        +border-radius(50px)
                        position: absolute
                        left: 10px
                        top: 7px
                        color: white
                        background: $ORANGE
                        height: 25px
                        width: 25px
                        +flexbox2
                        padding: 6px
                        +align-items(center)
                        font-size: 70%
                        +justify-content(center)

                    #arrow
                        background: url(/assets/theme/images/arrow-down.png)
                        display: block
                        position: absolute
                        width: 16px
                        height: 12px
                        background-repeat: no-repeat
                        top: 15px
                        right: 14px

                        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
                            background-image: url(/assets/theme/images/arrow-down-x2.png)
                            background-size: 100%

            #html
                font-size: 115%
                line-height: 151%
                @extend .font-light

                img, iframe
                    max-width: 100%

                img
                    @include screen(sm)
                        width: auto !important
                        height: auto !important

        #push-ftw
            margin-top: percentage(15px / $screen-xlg-left)
            +clearfloat

            > .push-title,
            > .sc-sticky-container > .push-title
                line-height: 2.4em

            li
                padding-right: percentage(11px / $screen-xlg-left)
                @extend .font-medium

                &:hover #title
                    color: $ORANGE

                .push-articles-img
                    +aspect-ratio(154px, 104px)

                    img
                        +aspect-ratio-float-img

                .push-articles-info-container
                    margin: 5px 0px
                    line-height: 115%

                    #title
                        margin-bottom: 8px

                    #source
                        color: $GRAY