
&#landing-pages
    .contents
        article

            & + .push-container
                position: relative

            a #details
                color: black

            &.photo
                #article-img:before
                    @extend .type-photo-before

            // &.video
            //   #article-img:before
            //     @extend .type-video-before

            #title
                font-size: 1.6em
                line-height: 1.55em
                @extend .font-bold

            #details
                font-size: 1.3em
                line-height: 1.25em
                margin-top: percentage(10px / $screen-xlg-left)
                margin-bottom: percentage(15px / $screen-xlg-left)

            #article-img
                // +aspect-ratio(660px, 368px)
                // visibility: hidden
                // opacity: 0
                +transition(opacity 0.3s ease-out 0.2s)

                // &.fixed
                    // visibility: visible
                    // opacity: 1

                    // &:after
                    //     display: none

                // .after
                //     +aspect-ratio-after

                // &:before
                //     @extend .type-before
                //     background-size: 108%
                //     height: 28px
                //     width: 28px
                //     background-position: center
                //     top: percentage(10px / 368px)
                //     right: percentage(10px / 660px)

                img
                    // +aspect-ratio-float-img
                    width: 100%

            $r: 200px
            $l: ($screen-xlg-left - $r)
            #bottom-container
                +clearfloat

                .push-container-left
                    width: percentage($l / $screen-xlg-left)
                    font-size: 1.15em
                    color: darken($GRAY,10)
                    // height: percentage(87px / $screen-xlg-left)
                    +aspect-ratio(460px, 87px)

                .info-container
                    +aspect-ratio-float
                    +flexbox2
                    height: 100%
                    +align-items(center)

                    #person, #date
                        // display: table-cell
                        // vertical-align: middle

                    #date i
                        margin-right: 5px

                #person
                    // min-width: percentage(225px / 446px)
                    // max-width: percentage(300px / 446px)
                    padding-right: 40px
                    @include screen(lgo)
                        padding-right: get-vw-(40px)
                    @include screen(md)
                        padding-right: get-vw-(40px,md)
                    @include screen(sm)
                        padding-right: get-vw-(40px,sm)
                    @include screen(xs)
                        padding-right: get-vw-(40px,xs)

                .push-container-right.social
                    width: percentage($r / $screen-xlg-left)
                    text-align: center

                    i[class*="icon-"]
                        margin: percentage(20px / $r) 0px percentage(20px / $r) percentage(20px / $r)

                    @extend %social-fixed

        .push-sort-by
            position: absolute
            top: 0px
            right: 0px
            width: 240px
            height: 73px
            color: $GRAY            
            +flexbox2
            +align-items(center)

            label
                // display: table-cell
                // vertical-align: middle
                padding-right: 5px
                width: percentage(57px / 240px)
                margin-bottom: 0px

            #selection-container
                // display: table-cell
                // vertical-align: middle
                width: percentage((240px - 57px) / 240px)

                select
                    width: 100%
                    margin-bottom: 0px

                .select2-container--default .select2-selection--single
                    +border-radius(50px)
                    border-color: lighten($GRAY,20)

                .select2-container--default .select2-selection--single .select2-selection__arrow b
                    border-color: $ORANGE transparent transparent transparent

                .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
                    border-color: transparent transparent $ORANGE transparent
        
        .push-container-scroll 
            .push-container-left
                > .push-container
                    position: relative

                    .push-articles ul li
                        &:first-child
                            padding-top: 0px

                        &.video .push-articles-img:before
                            background: url(/assets/theme/images/vid-icon-l.png)
                            width: percentage(33px / 240px)
                            // width: get-vw(33px)
                            height: percentage(37px / 155px)
                            // height: get-vw(37px)
                            margin: auto
                            top: 0
                            right: 0
                            left: 0
                            bottom: 0
                            background-size: 100%
                            background-repeat: no-repeat
                            @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
                                background-image: url(/assets/theme/images/vid-icon-l-x2.png)

                        .push-articles-img:before
                            width: percentage(33px / 240px)
                            // width: get-vw(33px)
                            height: percentage(33px / 155px)
                            // height: get-vw(33px)
                            top: percentage(11px  / 240px)
                            right: percentage(8px  / 155px)

                        .push-articles-info-container
                            min-height: 155px
                            @include screen(lgo)
                                min-height: get-vw-(155px)
                            @include screen(md)
                                min-height: get-vw-(163px,md)
                            @include screen(sm)
                                min-height: get-vw-(173px,sm)
                            @include screen(xs)
                                min-height: get-vw-(98px,xs)
                            
                            &:after
                                display: none

                            .push-articles-info
                                position: relative

                                #person-date
                                    margin-bottom: 30px
                                    @include screen(lgo)
                                        margin-bottom: get-vw-(30px)
                                    @include screen(md)
                                        margin-bottom: get-vw-(30px,md)
                                    @include screen(sm)
                                        margin-bottom: get-vw-(30px,sm)
                                    @include screen(xs)
                                        margin-bottom: get-vw-(30px,xs)
                                    