&#search-page
    .contents
        $paiw: ($screen-xlg-left - 240px)
        .push-articles ul li .push-articles-info-container 
            position: relative
            padding-bottom: 18px
            min-height: 156px
            @include screen(lg)
                min-height: get-vw-(156px)
            @include screen(md)
                min-height: get-vw-(113px,md)
            @include screen(sm)
                min-height: get-vw-(177px,sm)
            @include screen(xs)
                padding-bottom: 0px

            &:after
                display: none !important

            .push-articles-info 
                min-height: initial
                position: initial

                #title
                    min-height: initial

                #person-date
                    font-size: 0.87em
                    margin-top: percentage(10px / $paiw)
                    color: darken($GRAY, 10)

                    #date
                        @include screen(xs)
                            position: static
                            padding-left: 0px
                            margin-top: 5px

                #caption
                    margin-top: percentage(16px / $paiw)
                    color: darken($GRAY, 10)
                    @extend .font-light

                    a
                        color: black
                        display: block

                #readmore 
                    margin-top: 10px
                    position: absolute
                    bottom: 0
                    width: 100%

                    a
                        color: $ORANGE

        .push-pagination
            margin-top: percentage(15px / $screen-xlg-left)

        .search-header
            +clearfloat
            padding-bottom: percentage(10px / $screen-xlg-left)
            border-bottom: 1px solid lighten($GRAY, 25)

            #title
                color: $ORANGE
                font-size: 2.18em
                line-height: 1em
                padding-bottom: percentage(15px / $screen-xlg-left)
                border-bottom: 1px solid lighten($GRAY, 25)

            #results
                +clearfloat

                label
                    color: $ORANGE
                    font-size: 1.72em
                    float: left
                    margin-bottom: 0px
                    line-height: 2.56em
                    width: percentage(248px / $screen-xlg-left)
                    @extend .font-regular
                
                #results-input
                    float: left
                    width: percentage(($screen-xlg-left - 248px) / $screen-xlg-left)
                    line-height: 2.33em
                    padding: 0px percentage(10px / $screen-xlg-left)
                    padding-right: percentage(30px / $screen-xlg-left)
                    font-size: 1.43em
                    border: 1px solid lighten($GRAY,25)
                    position: relative
                    height: 48px
                    margin-top: 6px
                    @include screen(lgo)
                        height: get-vw-(48px)                        
                    @include screen(md)
                        width: percentage((688px - 205px) / 688px)
                        font-size: get-vw(20px,$screen-sm2)
                        margin: get-vw(16px,$screen-sm2) 0px
                    @include screen(sm)
                        width: percentage((550px - 212px) / 550px)
                        float: none
                        margin: get-vw(2px,$screen-xs)
                        height: get-vw-(43px,sm)
                        font-size: get-vw-(20.4px,sm)

                    input
                        margin-bottom: 0px
                        position: absolute
                        top: 0px
                        left: 0px
                        height: 100%
                        width: 100%
                        border: none
                        padding: 0px 5px
                        padding-right: 25px
                        @include screen(lg)
                            padding-right: get-vw-(25px)
                        @include screen(md)
                            padding-right: get-vw-(25px,md)
                        @include screen(sm)
                            padding-right: get-vw-(25px,sm)
                        @include screen(xs)
                            padding-right: get-vw-(20px,xs)

                    i
                        font-style: normal
                        position: absolute
                        right: percentage(8px / $screen-xlg-left)
                        top: 0px
                        cursor: pointer
                        top: 32%
                        +transform("translateY(-32%)")
                        line-height: normal
                        @include screen(sm)
                            top: 21%
                        @include screen(xs)
                            top: 10%

            #filter
                +clearfloat
                display: table
                width: 100%

                label
                    font-size: 1.3em
                    width: percentage(128px / $screen-xlg-left)
                    padding-right: percentage(10px / $screen-xlg-left)
                    line-height: 2.12em
                    margin-bottom: 0px
                    color: darken($GRAY,15)
                    display: table-cell
                    vertical-align: middle
                    @extend .font-regular

                .select2
                    width: 100% !important

                #filter-container
                    width: 100%
                    display: table-cell
                    vertical-align: middle

                    #filter-container-cell
                        display: table
                        width: 100%
                
                #box-1
                    display: table-cell
                    vertical-align: middle
                    // padding: percentage(4px / ($screen-xlg-left - 128px)) 0px
                    padding-right: percentage(14px / ($screen-xlg-left - 128px))
                    width: percentage(164px / ($screen-xlg-left - 128px))

                    select
                        width: percentage(150px / ($screen-xlg-left - 128px))
                        margin-bottom: 0px
                        height: percentage(30px / ($screen-xlg-left - 128px))
                        margin: percentage(2px / ($screen-xlg-left - 128px)) 0px

                    .select2-container--default .select2-selection--single 
                        border-color: lighten($GRAY,15)

                        .select2-selection__arrow b
                            border-color: $ORANGE transparent transparent transparent
                    
                #box-2
                    display: table-cell
                    vertical-align: middle
                    // padding: percentage(4px / ($screen-xlg-left - 128px)) 0px
                    width: percentage(315px / ($screen-xlg-left - 128px))
                    padding-right: percentage(10px / ($screen-xlg-left - 128px))

                    select
                        width: percentage(307px / ($screen-xlg-left - 128px))
                        margin-bottom: 0px
                        height: percentage(30px / ($screen-xlg-left - 128px))
                        margin: percentage(2px / ($screen-xlg-left - 128px)) 0px

                    .select2-container--default .select2-selection--single 
                        border-color: lighten($GRAY,15)

                        .select2-selection__arrow b
                            border-color: $ORANGE transparent transparent transparent

                #button-go
                    display: table-cell
                    vertical-align: middle

                #go
                    display: table-cell
                    vertical-align: middle
                    padding: percentage(6px / 55px) 0px
                    line-height: normal
                    // display: block
                    height: auto
                    // margin: percentage(4px / ($screen-xlg-left - 128px)) 0px
                    background: $ORANGE
                    color: white
                    font-size: 1em
                    border: none
                    margin-bottom: 0px
                    @extend .font-medium
                    width: 55px
                    @include screen(lgo)
                        width: get-vw-(55px)
                    @include screen(md)
                        width: get-vw-(65px,md) !important
                    @include screen(sm)
                        width: get-vw-(65px,sm) !important
                    @include screen(xs)
                        width: get-vw-(65px,xs) !important
                        margin: auto
                    