&#special-page
    .push-container.push-container-large-lock
        width: 100%
        // max-width: $screen-xlg
        // @include screen(lg)
        //     max-width: get-vw-($screen-xlg)

    .contents
        .push-background
            max-width: 100%

        .push-container
            > .push-container-header
                +clearfloat

                .push-title
                    width: percentage(700px / 997px)
                    float: left
                    @include screen(md)
                        width: percentage(434px / 728px)
                    @include screen(xs)
                        width: 100%
                        float: none
                a
                    display: block
                    height: 105px
                    float: left
                    width: percentage((997px - 700px) / 997px)
                    line-height: 119px
                    +flexbox2
                    +align-items(center)
                    @include screen(md)
                        width: percentage((728px - 434px) / 728px)
                    @include screen(sm)
                        line-height: get-vw-(104px,sm)
                        height: get-vw-(104px,sm)
                    @include screen(xs)
                        line-height: get-vw-(9px,xs)
                        height: get-vw-(52px,xs)
                        width: get-vw-(209px,xs)
                    button
                        width: 100%
                        padding: 0px 30px
                        @include screen(md)
                            font-size: get-vw-(14px,md)
                            padding: 0px get-vw-(30px)
                        @include screen(xs)
                            font-size: get-vw-(12px,xs)
                            height: get-vw-(33px,xs)
                            line-height: get-vw-(34px,xs)

            > .push-title,
            > .sc-sticky-container > .push-title,
            > .push-container-header > .push-title,
            > .sc-sticky-container > .push-container-header > .push-title
                font-size: 36px
                line-height: 105px
                color: $ORANGE
                @include screen(md)
                    font-size: get-vw-(29.5px,md)
                    line-height: get-vw-(110px,md)
                @include screen(sm)
                    font-size: get-vw-(29.7px,sm)
                    line-height: get-vw-(104px,sm)
                @include screen(xs)
                    font-size: get-vw-(24px,xs)
                    line-height: get-vw-(28px,xs)
                    margin-top: get-vw-(21px,xs)
                    
                &:before
                    display: none
            
            &.push-container-lock
                max-width: percentage(997px / $screen-xlg)
                // @include screen(lgo)
                //     max-width: get-vw(997px)
                @include screen(md)
                    max-width: get-vw-(695px,md)
                @include screen(sm)
                    max-width: get-vw-(528px,sm)

        #latest-videos
            %vid-icon
                content: ' '
                display: block
                background: url(/assets/theme/images/vid-icon-2.png)
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                margin: auto
                z-index: 1
                background-size: 100%
                background-repeat: no-repeat

            > .push-articles
                +clearfloat

                ul
                    li
                        padding: 0px
                        width: percentage(33.33333 / 100)
                        float: left
                        border-bottom: 0px solid transparent
                        margin-top: 20px
                        margin-bottom: 44px
                        padding: 0px 6px
                        @include screen(sm)
                            width: 50%
                            display: none
                            &:nth-child(1),
                            &:nth-child(2)
                                display: block

                            &:hover .push-articles-info-container .push-articles-info #title
                                +link(#505050)
                        @include screen(xs)
                            width: 100%
                            float: none
                            padding: 0px

                        .push-articles-img
                            float: none
                            width: 100%
                            +aspect-ratio(320px, 240px)

                            &:before
                                @extend %vid-icon
                                height: 100px
                                width: 100px
                                @include screen(md)
                                    height: get-vw-(75px,md)
                                    width: get-vw-(75px,md)

                        .push-articles-info-container
                            float: none
                            width: 100%

                            &:after
                                display: none

                            .push-articles-info
                                padding: 0px
                                position: static
                                min-height: inherit

                                #title
                                    font-size: 24px
                                    padding-top: 7px
                                    @extend .font-light
                                    @include screen(lg)
                                        font-size: get-vw-(24px)
                                        padding-top: get-vw-(7px)
                                    @include screen(md)
                                        padding-top: get-vw-(6px,md)
                                        +font-medium
                                        font-size: get-vw-(16px,md)
                                        line-height: get-vw-(21px,md)
                                    @include screen(sm)
                                        font-size: get-vw-(20px,sm)
                                        margin-top: get-vw-(14px,sm)
                                        line-height: get-vw-(25px,sm)
                                    @include screen(xs)
                                        font-size: get-vw-(20px,xs)
                                        line-height: get-vw-(24px,xs)

                                #person-date
                                    margin-top: 19px
                                    font-size: 14.4px
                                    @include screen(lg)
                                        margin-top: get-vw-(19px)
                                        font-size: get-vw-(14.4px)
                                    @include screen(md)
                                        font-size: get-vw-(14px,md)
                                        margin-top: get-vw-(7px,md)
                                        +font-medium
                                        color: lighten($GRAY,5)
                                    @include screen(sm)
                                        #person, #date
                                            font-size: get-vw-(14.3px,sm)
                                            display: inline
                                            width: auto
                                            padding: 0px
                                            position: static
                                            margin-right: get-vw-(22px,sm)
                                    @include screen(xs)
                                        #person, #date
                                            font-size: get-vw-(14.3px,xs)
                                            margin-right: get-vw-(22px,xs)

            #featured
                +aspect-ratio(1001px, 580px)
                @include screen(xs)                
                    &:after
                        display: none

                &:hover #title
                    +link
                    +transition(all 0.2s ease-in-out 0s)

                .push-articles-img
                    +aspect-ratio-float
                    @include screen(xs)
                        position: static
                        +aspect-ratio(1001px, 580px)                        

                    &:before
                        @extend %vid-icon
                        height: 160px
                        width: 160px
                        @include screen(md)
                            height: get-vw-(100px,md)
                            width: get-vw-(100px,md)

                    img
                        +aspect-ratio-float-img

                .push-articles-info-container
                    @include background(linear-gradient(to bottom, transparent, transparentize(black,0.5) 50%, transparentize(black,0.3)))
                    position: absolute
                    bottom: 0px
                    left: 0px
                    right: 0px
                    color: white
                    padding: 10px 20px
                    font-size: 16.5px
                    @include screen(md)
                        padding: get-vw-(10px,md)
                    @include screen(xs)
                        position: static
                        padding: 0px
                        background: none
                        color: black

                    #title
                        font-size: 28.5px
                        @include screen(md)
                            font-size: get-vw-(26.5px,md)
                        @include screen(xs)
                            font-size: get-vw-(20px,xs)
                            padding-top: get-vw-(6px,xs)

                    #caption
                        @extend .font-light
                        @include screen(md)
                            display: none

                    #person-date
                        font-size: 14.3px
                        line-height: 43px
                        color: $GRAY
                        @include screen(md)
                            line-height: get-vw-(38px,md)
                        @include screen(xs)
                            padding-top: get-vw-(9px,xs)

                        > div
                            display: inline

                            &:nth-child(1)
                                margin-right: 23px

        #latest-photos
            +aspect-ratio(1280px, 938px)
            @include screen(md)
                +aspect-ratio(728px,708px)
            @include screen(sm)
                +aspect-ratio(561px,1143px)
            @include screen(xs)
                +aspect-ratio(313px,1543px)

            &.fixed
                background-size: 100% 100%
                @include screen(sm)
                    background-position-x: center
                    background-position-y: top
                    background-size: cover
                    background-repeat-x: no-repeat
                    background-repeat-y: no-repeat
                    background-attachment: fixed
                    background-origin: initial
                    background-clip: initial
                    background-color: initial

                #latest-photos-contents
                    position: static

                .push-background
                    display: none

                &:after
                    display: none

            .push-background
                +aspect-ratio-float
                @include screen(md)
                    height: 100%
                    width: 100%

            #latest-photos-contents
                +aspect-ratio-float
                right: auto
                left: 134px
                width: 100%
                @include screen(lgo)
                    left: get-vw-(134px)
                @include screen(md)
                    left: get-vw-(34px,md)
                @include screen(sm)
                    left: get-vw-(18px,sm)

                > .push-container-header a button
                    color: white

                > .push-articles
                    +clearfloat

                    ul
                        +flexbox2
                        +align-items(baseline)
                        +flex-wrap(wrap)

                        li
                            padding: 0px
                            width: percentage(33.33333 / 100)
                            // float: left
                            padding: 0px 6px
                            border-bottom: 0px solid transparent
                            margin-bottom: 40px
                            @include screen(sm)
                                width: 50%
                                &:hover .push-articles-info-container .push-articles-info #title
                                    +link
                            @include screen(xs)
                                width: 100%
                                float: none
                                padding: 0px
                                margin-bottom: get-vw-(26px,xs)
                                display: none
                                &:nth-child(1),
                                &:nth-child(2),
                                &:nth-child(3),
                                &:nth-child(4)
                                    display: block

                            .push-articles-img
                                float: none
                                width: 100%
                                +aspect-ratio(320px, 240px)

                            .push-articles-info-container
                                float: none
                                width: 100%

                                &:after
                                    display: none

                                .push-articles-info
                                    padding: 0px
                                    color: white
                                    position: static
                                    min-height: inherit

                                    #title
                                        font-size: 25px
                                        padding-top: 7px
                                        @extend .font-light
                                        @include screen(lg)
                                            font-size: get-vw-(25px)
                                            padding-top: get-vw-(7px)
                                        @include screen(md)
                                            font-size: get-vw-(18px,md)
                                            line-height: get-vw-(23px,md)
                                            +font-regular
                                        @include screen(sm)
                                            padding-top: get-vw-(18px,sm)
                                            font-size: get-vw-(18px,sm)
                                            color: white
                                            line-height: get-vw-(25px,sm)
                                        @include screen(xs)
                                            padding-top: get-vw-(8px,xs)
                                            font-size: get-vw-(19px,xs)
                                            line-height: get-vw-(25px,xs)
                                        

                                    #person-date
                                        color: lighten($GRAY,10)
                                        margin-top: 19px
                                        font-size: 14.4px
                                        @include screen(lg)
                                            margin-top: get-vw-(19px)
                                            font-size: get-vw-(14.4px)
                                        @include screen(md)
                                            +font-regular
                                            margin-top: get-vw-(7px,md)
                                            font-size: get-vw-(14px,md)
                                            +clearfloat
                                        @include screen(sm)
                                            #person, #date
                                                font-size: get-vw-(14.3px,sm)
                                                display: inline
                                                width: auto
                                                padding: 0px
                                                position: static
                                                margin-right: get-vw-(22px,sm)
                                        @include screen(xs)
                                            margin-top: get-vw-(5px,xs)
                                            #person, #date
                                                font-size: get-vw-(14px,xs)
                                                margin-right: get-vw-(26px,xs)
                                                
        #fresh-scoops
            border-top: 1px solid $GRAY

            & + #latest-photos
                margin-top: 25px

            .push-fresh-scoops
                +clearfloat

                #mobile-nav
                    display: none
                    text-align: right
                    font-size: 22px
                    margin-top: 15px
                    @include screen(sm)
                        display: block
                        font-size: get-vw-(22px,sm)
                        margin-top: get-vw-(15px,sm)

                    #mobile-nav-arrows
                        display: inline-block

                        .slick-arrow
                            display: inline !important

                            & + .slick-arrow
                                margin-left: 10px

                ul.slick
                    li.gallery
                        width: percentage(3.33333 / 10)
                        float: left
                        padding: 0px 7px
                        position: relative
                        @include screen(lg)
                            padding: 0px get-vw-(7px)
                        @include screen(md)
                            padding: 0px get-vw-(25px,md)
                        @include screen(sm)
                            padding: 0px

                        &:hover #title
                            +link
                            +transition(all 0.2s ease-in-out 0s)

                        .push-fs-img
                            // +aspect-ratio(320px, 480px)
                            +aspect-ratio(320px, 240px)

                            img
                                +aspect-ratio-float-img

                        .push-fs-info-container
                            @include background(linear-gradient(to bottom, transparent, transparentize(black,0.5) 50%, transparentize(black,0.3)))
                            position: absolute
                            bottom: 0px
                            color: white
                            left: 7px
                            right: 7px
                            padding: 8px
                            @include screen(lg)
                                left: get-vw-(7px)
                                right: get-vw-(7px)
                                padding: get-vw-(8px)
                            @include screen(md)
                                left: get-vw-(25px,md)
                                right: get-vw-(25px,md)
                                padding: get-vw-(7px,md)
                            @include screen(sm)
                                @include background(linear-gradient(to bottom, transparent, transparentize(black,0.3) 50%, transparentize(black,0.1)))
                                // left: get-vw-(50px,sm)
                                // right: get-vw-(50px,sm)
                                left: 0px
                                right: 0px
                                padding: get-vw-(20px,sm) get-vw-(18px,sm)
                                padding-right: get-vw-(80px,md)
                                // padding-right: -get-vw-(10px,xs)
                            // @include screen(xs)
                            //     left: 0px
                            //     right: 0px
                            //     padding-right: -get-vw-(10px,xs)
                            #title
                                font-size: 26px      
                                @include screen(lg) 
                                    font-size: get-vw-(26px)                         
                                @include screen(md)       
                                    font-size: get-vw-(22px,md)                   
                                @include screen(sm)   
                                    font-size: get-vw-(34px,sm)                       
                                @include screen(xs)   
                                    font-size: get-vw-(22px,xs)                       
                            #person-date
                                +clearfloat
                                font-size: 13.5px
                                padding-top: 14px
                                color: $GRAY
                                @include screen(lg)
                                    font-size: get-vw-(13.5px)
                                    padding-top: get-vw-(14px)
                                @include screen(md)
                                    font-size: get-vw-(14px,md)
                                    +font-light
                                @include screen(sm)
                                    font-size: get-vw-(14.4px,sm)
                                    padding-top: get-vw-(11px,sm)
                                @include screen(xs)
                                    font-size: get-vw-(14px,xs)
                                    padding-top: 0px
                                    +font-medium

                                #person
                                    display: none

                                > div
                                    width: 100%
                                    // width: 33%
                                    // float: left

                                    // &:nth-child(2)
                                    //     width: 66%

                .slick-dots
                    +clearfloat
                    @extend %slick-dots
                    position: static
                    text-align: center
                    padding: 38px
                    @include screen(xs)
                        padding: get-vw-(18px,xs)

                    li
                        width: 12px
                        height: 12px
                        border-color: $GRAY
                        cursor: pointer
        
        .header-container
            position: relative

            &:nth-child(1)
                +aspect-ratio(1280px, 550px)
                @include screen(xs)
                    // +aspect-ratio(313px, 233px) 
                    &:after
                        display: none

                    .push-background
                        position: initial !important
                        display: block

                nav
                    position: absolute
                    bottom: 0
                    left: 0
                    right: 0
                    margin: auto
                    width: 100%
                    text-align: center
                    font-size: 22px
                    font-size: 1.57em
                    border-bottom: 1px solid rgba(255, 255, 255, 0.10)
                    padding-bottom: 7px
                    @include screen(md)
                        height: get-vw-(40px,md)
                    @include screen(sm)
                        font-size: get-vw-(22px,md)
                    @include screen(xs)
                        height: get-vw-(34px,xs)

                    &:not(.mobile)
                        @include screen(xs)
                            display: none

                    &.mobile
                        display: none

                        .select2-container
                            @include screen(xs)
                                width: get-vw-(176px,xs) !important
                                font-size: get-vw-(14px,xs)

                        .select2-container--default .select2-selection--single .select2-selection__rendered
                            color: white

                        .select2-container--default .select2-selection--single
                            background-color: transparent
                            +border-radius(20px)

                        // @include screen(xs)
                        //     display: block

                        &:before
                            display: none

                    &:before
                        content: ' '
                        display: block
                        position: absolute
                        top: 0
                        left: 0
                        right: 0
                        margin: auto
                        width: 765px
                        border-top: 1px solid rgba(255, 255, 255, 0.15)
                        @include screen(lg)
                            width: get-vw(765px)
                        @include screen(md)
                            width: get-vw-(600px,md)
                        @include screen(sm)
                            width: get-vw-(525px,sm)

                    ul
                        li
                            display: inline
                            padding: 0px 27px
                            line-height: 60px
                            @include screen(md)
                                line-height: get-vw-(39px,md)

                            a
                                +link

                .push-background
                    +aspect-ratio-float

            &:nth-child(2)
                +aspect-ratio(1280px, 760px)
                @include screen(md)
                    +aspect-ratio(728px, 570px)
                @include screen(sm)
                    +aspect-ratio(561px, 1320px)
                @include screen(xs)
                    +aspect-ratio(313px, 858px)

                &.fixed
                    background-size: 100% 100%
                    @include screen(sm)
                        background-position-x: center
                        background-position-y: top
                        background-size: cover
                        background-repeat-x: no-repeat
                        background-repeat-y: no-repeat
                        background-attachment: fixed
                        background-origin: initial
                        background-clip: initial
                        background-color: initial

                    .push-background
                        display: none

                .push-background
                    position: absolute
                    left: 0px
                    right: 0px
                    width: 100%
                    top: 0px
                    @include screen(sm)
                        height: auto
                    @include screen(xs)
                        height: 60%

                #contents
                    +aspect-ratio-float
                    text-align: center
                    padding-top: 55px
                    @include screen(sm)
                        padding-top: get-vw-(34px,sm)
                    @include screen(xs)
                        padding-top: get-vw-(29px,xs)

                    #title
                        font-size: 40.4px
                        font-size: 2.88em
                        color: $ORANGE
                        @include screen(sm)
                            font-size: get-vw-(30.2px,sm)
                        @include screen(xs)
                            font-size: get-vw-(22px,xs)
                            line-height: get-vw-(23px,xs)

                    #caption
                        font-size: 20px
                        font-size: 1.36em
                        width: percentage(625px / $screen-xlg)
                        margin: auto
                        color: white
                        margin-top: 6px
                        @extend .font-extra-light
                        @include screen(md)
                            width: get-vw-(625px,md)
                        @include screen(sm)
                            width: get-vw-(510px,sm)
                            font-size: get-vw-(16.7px,sm)
                            +font-light
                        @include screen(xs)
                            font-size: get-vw-(16px,xs)

                    #featured
                        +clearfloat
                        margin-top: 38px
                        @include screen(xs)
                            margin-top: get-vw-(26px,xs)

                        ul
                            +aspect-ratio(981px, 512px)
                            &:after
                                @include screen(sm)
                                    display: none

                            li
                                float: left
                                width: 50%
                                position: relative
                                @include screen(sm)
                                    float: none
                                    width: 100%
                                    margin-bottom: get-vw-(10px,sm)
                                @include screen(xs)
                                    margin-bottom: get-vw-(10px,xs)

                                .push-featured-img
                                    +aspect-ratio-float

                                    img
                                        width: 100%
                                        height: 100%

                                .push-featured-info
                                    @include background(linear-gradient(to bottom, transparent, transparentize(black,0.5) 50%, transparentize(black,0.3)))
                                    position: absolute
                                    bottom: 0px
                                    left: 0px
                                    width: 100%
                                    text-align: left
                                    color: white
                                    font-size: 32px
                                    padding: 18px 20px
                                    @include screen(lg)
                                        font-size: get-vw-(32px)
                                        padding: get-vw-(18px) get-vw-(20px)
                                    @include screen(sm)
                                        font-size: get-vw-(32px,sm)
                                        padding: get-vw-(20px,sm)
                                    @include screen(xs)
                                        padding: get-vw-(6px,xs) get-vw-(9px,xs)
                                        font-size: get-vw-(21.9px,xs)                                        
                                        
                                    .ph-date
                                        font-size: 16px
                                        padding-top: 9px
                                        color: lighten($GRAY,10)
                                        @include screen(lg)
                                            font-size: get-vw-(16px)
                                            padding-top: get-vw-(9px)
                                        @include screen(sm)
                                            font-size: get-vw-(16px,sm)
                                            padding-top: get-vw-(10px,sm)
                                        @include screen(xs)
                                            display: none

                                &:nth-child(1)
                                    // +aspect-ratio(501px, 523px)
                                    position: absolute
                                    left: 0px
                                    top: 0px
                                    width: 50%
                                    height: 100%
                                    @include screen(sm)
                                        position: static
                                        height: auto
                                        width: auto
                                        +aspect-ratio(501px, 523px)

                                    &:hover .ph-title
                                        +link
                                        +transition(all 0.2s ease-in-out 0s)

                                &:nth-child(2), &:nth-child(3)
                                    // +aspect-ratio(499px, (520.38px / 2))
                                    position: absolute
                                    left: 50%
                                    top: 0px
                                    width: 50%
                                    height: 50%
                                    @include screen(sm)
                                        position: static
                                        height: auto
                                        width: auto
                                        left: 0px
                                        +aspect-ratio(499px, (520.38px / 2))

                                    &:hover .ph-title
                                        +link
                                        +transition(all 0.2s ease-in-out 0s)
                                    .push-featured-info
                                        @include screen(sm)
                                            font-size: get-vw-(24px,sm)
                                        @include screen(xs)
                                            font-size: get-vw-(19px,xs)
                                            padding: get-vw-(8px,xs) get-vw-(10px,xs)

                                &:nth-child(3)
                                    top: 50%

            .push-background
                position: absolute
                top: 0px
                left: 0px
                height: 100%
                width: 100%
                z-index: -1 !important
                @include screen(xs)
                    left: get-vw-(-49px,md)
                    right: get-vw-(-49px,md)
                    max-width: initial
                    height: auto

