<!--#push-home-top-container - START-->
  <div class="push-container" id="push-home-top-container">
    <div class="push-container push-container-lock">
      <!--HEADLINES - START-->
      <div class="push-headlines">
        <ul>
          <li *ngFor="let headline of headlines">
            <a href="#">
            <div class="push-headlines-img"><img src="assets/theme/images/_samples/headlines.png" alt="TITLE"></div>
            <div class="push-headlines-info">
              <div class="ph-title">{{headline.title}}</div>
              <div class="ph-person">by Yuki Pinon</div>
            </div></a>
          </li>
          <!--<li><a href="#">
            <div class="push-headlines-img"><img src="assets/theme/images/_samples/headlines.png" alt="TITLE"></div>
            <div class="push-headlines-info">
              <div class="ph-title">Pia Wurtzbach thinks Liza Soberano is fit for Miss Universe</div>
              <div class="ph-person">by Yuki Pinon</div>
            </div></a></li>
          <li><a href="#">
            <div class="push-headlines-img"><img src="assets/theme/images/_samples/headlines.png" alt="TITLE"></div>
            <div class="push-headlines-info">
              <div class="ph-title">Pia Wurtzbach thinks Liza Soberano is fit for Miss Universe</div>
              <div class="ph-person">by Yuki Pinon</div>
            </div></a></li>
          <li><a href="#">
            <div class="push-headlines-img"><img src="assets/theme/images/_samples/headlines.png" alt="TITLE"></div>
            <div class="push-headlines-info">
              <div class="ph-title">Pia Wurtzbach thinks Liza Soberano is fit for Miss Universe</div>
              <div class="ph-person">by Yuki Pinon</div>
            </div></a></li>
          <li><a href="#">
            <div class="push-headlines-img"><img src="assets/theme/images/_samples/headlines.png" alt="TITLE"></div>
            <div class="push-headlines-info">
              <div class="ph-title">Pia Wurtzbach thinks Liza Soberano is fit for Miss Universe</div>
              <div class="ph-person">by Yuki Pinon</div>
            </div></a></li>
          <li><a href="#">
            <div class="push-headlines-img"><img src="assets/theme/images/_samples/headlines.png" alt="TITLE"></div>
            <div class="push-headlines-info">
              <div class="ph-title">Pia Wurtzbach thinks Liza Soberano is fit for Miss Universe</div>
              <div class="ph-person">by Yuki Pinon</div>
            </div></a></li>
          <li><a href="#">
            <div class="push-headlines-img"><img src="assets/theme/images/_samples/headlines.png" alt="TITLE"></div>
            <div class="push-headlines-info">
              <div class="ph-title">Pia Wurtzbach thinks Liza Soberano is fit for Miss Universe</div>
              <div class="ph-person">by Yuki Pinon</div>
            </div></a></li>
          <li><a href="#">
            <div class="push-headlines-img"><img src="assets/theme/images/_samples/headlines.png" alt="TITLE"></div>
            <div class="push-headlines-info">
              <div class="ph-title">Pia Wurtzbach thinks Liza Soberano is fit for Miss Universe</div>
              <div class="ph-person">by Yuki Pinon</div>
            </div></a></li>
          <li><a href="#">
            <div class="push-headlines-img"><img src="assets/theme/images/_samples/headlines.png" alt="TITLE"></div>
            <div class="push-headlines-info">
              <div class="ph-title">Pia Wurtzbach thinks Liza Soberano is fit for Miss Universe</div>
              <div class="ph-person">by Yuki Pinon</div>
            </div></a></li>
          <li><a href="#">
            <div class="push-headlines-img"><img src="assets/theme/images/_samples/headlines.png" alt="TITLE"></div>
            <div class="push-headlines-info">
              <div class="ph-title">Pia Wurtzbach thinks Liza Soberano is fit for Miss Universe</div>
              <div class="ph-person">by Yuki Pinon</div>
            </div></a></li>
          <li><a href="#">
            <div class="push-headlines-img"><img src="assets/theme/images/_samples/headlines.png" alt="TITLE"></div>
            <div class="push-headlines-info">
              <div class="ph-title">Pia Wurtzbach thinks Liza Soberano is fit for Miss Universe</div>
              <div class="ph-person">by Yuki Pinon</div>
            </div></a></li>-->
        </ul>
      </div>
      <!--HEADLINES - END-->
    </div>
  </div>
  <!--#push-home-top-container - END-->
  <!--#push-skinning-container - START-->
  <div id="push-skinning-container">
    <div class="push-container push-container-lock" id="push-container-left-and-right">
      <!--.push-container-scroll-->
      <div class="push-container-scroll">
        <!--.push-container-left - START-->
        <div class="push-container push-container-left">
          <div class="push-title">FRESH SCOOPS</div>
          <!--TRENDING LATEST BUTTON-->
          <div class="push-trending-latest">
            <ul>
              <!--.active-->
              <li class="active"><a href="index.html">
                <div id="icon"><i></i></div> 
                <div id="text">LATEST</div></a></li>
              <!--not active-->
              <li><a href="index-skin.html">
                <div id="icon"><i></i></div> 
                <div id="text">TRENDING</div></a></li>
            </ul>
          </div>
          <!--ARTICLES-->
          <div class="push-articles">
            <ul>
              <li><a href="fresh-scoops-inner.html">
                <div class="push-articles-img"><img src="assets/theme/images/_samples/a-1.png" alt="TITLE"></div>
                <div class="push-articles-info-container">
                  <div class="push-articles-info">
                    <div id="title">Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover</div>
                    <div id="person-date">
                      <div id="person">by Jhai Ho</div>
                      <div id="date"><i class="fa fa-clock-o" aria-hidden="true"></i>2 minutes ago</div>
                    </div>
                    <div id="responses-shares">
                      <div id="responses"><i class="fa fa-comment" aria-hidden="true"></i>1.2K comments</div>
                      <div id="shares"><i class="fa fa-share" aria-hidden="true"></i>7.5K shares</div>
                    </div>
                  </div>
                </div></a></li>
              <li><a href="fresh-scoops-inner.html">
                <div class="push-articles-img"><img src="assets/theme/images/_samples/a-2.png" alt="TITLE"></div>
                <div class="push-articles-info-container">
                  <div class="push-articles-info">
                    <div id="title">Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover</div>
                    <div id="person-date">
                      <div id="person">by Jhai Ho</div>
                      <div id="date"><i class="fa fa-clock-o" aria-hidden="true"></i>2 minutes ago</div>
                    </div>
                    <div id="responses-shares">
                      <div id="responses"><i class="fa fa-comment" aria-hidden="true"></i>1.2K comments</div>
                      <div id="shares"><i class="fa fa-share" aria-hidden="true"></i>7.5K shares</div>
                    </div>
                  </div>
                </div></a></li>
              <li><a href="fresh-scoops-inner.html">
                <div class="push-articles-img"><img src="assets/theme/images/_samples/a-3.png" alt="TITLE"></div>
                <div class="push-articles-info-container">
                  <div class="push-articles-info">
                    <div id="title">Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover</div>
                    <div id="person-date">
                      <div id="person">by Jhai Ho</div>
                      <div id="date"><i class="fa fa-clock-o" aria-hidden="true"></i>2 minutes ago</div>
                    </div>
                    <div id="responses-shares">
                      <div id="responses"><i class="fa fa-comment" aria-hidden="true"></i>1.2K comments</div>
                      <div id="shares"><i class="fa fa-share" aria-hidden="true"></i>7.5K shares</div>
                    </div>
                  </div>
                </div></a></li>
              <li><a href="fresh-scoops-inner.html">
                <div class="push-articles-img"><img src="assets/theme/images/_samples/a-4.png" alt="TITLE"></div>
                <div class="push-articles-info-container">
                  <div class="push-articles-info">
                    <div id="title">Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover</div>
                    <div id="person-date">
                      <div id="person">by Jhai Ho</div>
                      <div id="date"><i class="fa fa-clock-o" aria-hidden="true"></i>2 minutes ago</div>
                    </div>
                    <div id="responses-shares">
                      <div id="responses"><i class="fa fa-comment" aria-hidden="true"></i>1.2K comments</div>
                      <div id="shares"><i class="fa fa-share" aria-hidden="true"></i>7.5K shares</div>
                    </div>
                  </div>
                </div></a></li>
              <li><a href="fresh-scoops-inner.html">
                <div class="push-articles-img"><img src="assets/theme/images/_samples/a-5.png" alt="TITLE"></div>
                <div class="push-articles-info-container">
                  <div class="push-articles-info">
                    <div id="title">Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover</div>
                    <div id="person-date">
                      <div id="person">by Jhai Ho</div>
                      <div id="date"><i class="fa fa-clock-o" aria-hidden="true"></i>2 minutes ago</div>
                    </div>
                    <div id="responses-shares">
                      <div id="responses"><i class="fa fa-comment" aria-hidden="true"></i>1.2K comments</div>
                      <div id="shares"><i class="fa fa-share" aria-hidden="true"></i>7.5K shares</div>
                    </div>
                  </div>
                </div></a></li>
              <li><a href="fresh-scoops-inner.html">
                <div class="push-articles-img"><img src="assets/theme/images/_samples/a-6.png" alt="TITLE"></div>
                <div class="push-articles-info-container">
                  <div class="push-articles-info">
                    <div id="title">Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover</div>
                    <div id="person-date">
                      <div id="person">by Jhai Ho</div>
                      <div id="date"><i class="fa fa-clock-o" aria-hidden="true"></i>2 minutes ago</div>
                    </div>
                    <div id="responses-shares">
                      <div id="responses"><i class="fa fa-comment" aria-hidden="true"></i>1.2K comments</div>
                      <div id="shares"><i class="fa fa-share" aria-hidden="true"></i>7.5K shares</div>
                    </div>
                  </div>
                </div></a></li>
              <li><a href="fresh-scoops-inner.html">
                <div class="push-articles-img"><img src="assets/theme/images/_samples/a-7.png" alt="TITLE"></div>
                <div class="push-articles-info-container">
                  <div class="push-articles-info">
                    <div id="title">Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover</div>
                    <div id="person-date">
                      <div id="person">by Jhai Ho</div>
                      <div id="date"><i class="fa fa-clock-o" aria-hidden="true"></i>2 minutes ago</div>
                    </div>
                    <div id="responses-shares">
                      <div id="responses"><i class="fa fa-comment" aria-hidden="true"></i>1.2K comments</div>
                      <div id="shares"><i class="fa fa-share" aria-hidden="true"></i>7.5K shares</div>
                    </div>
                  </div>
                </div></a></li>
              <li><a href="fresh-scoops-inner.html">
                <div class="push-articles-img"><img src="assets/theme/images/_samples/a-8.png" alt="TITLE"></div>
                <div class="push-articles-info-container">
                  <div class="push-articles-info">
                    <div id="title">Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover</div>
                    <div id="person-date">
                      <div id="person">by Jhai Ho</div>
                      <div id="date"><i class="fa fa-clock-o" aria-hidden="true"></i>2 minutes ago</div>
                    </div>
                    <div id="responses-shares">
                      <div id="responses"><i class="fa fa-comment" aria-hidden="true"></i>1.2K comments</div>
                      <div id="shares"><i class="fa fa-share" aria-hidden="true"></i>7.5K shares</div>
                    </div>
                  </div>
                </div></a></li>
              <li><a href="fresh-scoops-inner.html">
                <div class="push-articles-img"><img src="assets/theme/images/_samples/a-9.png" alt="TITLE"></div>
                <div class="push-articles-info-container">
                  <div class="push-articles-info">
                    <div id="title">Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover</div>
                    <div id="person-date">
                      <div id="person">by Jhai Ho</div>
                      <div id="date"><i class="fa fa-clock-o" aria-hidden="true"></i>2 minutes ago</div>
                    </div>
                    <div id="responses-shares">
                      <div id="responses"><i class="fa fa-comment" aria-hidden="true"></i>1.2K comments</div>
                      <div id="shares"><i class="fa fa-share" aria-hidden="true"></i>7.5K shares</div>
                    </div>
                  </div>
                </div></a></li>
              <li><a href="fresh-scoops-inner.html">
                <div class="push-articles-img"><img src="assets/theme/images/_samples/a-10.png" alt="TITLE"></div>
                <div class="push-articles-info-container">
                  <div class="push-articles-info">
                    <div id="title">Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover</div>
                    <div id="person-date">
                      <div id="person">by Jhai Ho</div>
                      <div id="date"><i class="fa fa-clock-o" aria-hidden="true"></i>2 minutes ago</div>
                    </div>
                    <div id="responses-shares">
                      <div id="responses"><i class="fa fa-comment" aria-hidden="true"></i>1.2K comments</div>
                      <div id="shares"><i class="fa fa-share" aria-hidden="true"></i>7.5K shares</div>
                    </div>
                  </div>
                </div></a></li>
            </ul>
          </div>
          <!--LOAD MORE STORIES-->
          <button class="orange" type="button">LOAD MORE STORIES</button>
        </div>
        <!--.push-container-left - END-->
          <!--.push-container-right - START-->
          <aside class="push-container-right">
            <!--PUSH POLL - START-->
            <div class="push-poll">
              <div id="title"><i class="fa fa-star" aria-hidden="true"></i> PUSH POLL <i class="fa fa-star" aria-hidden="true"></i></div>
              <!-- SAMPLE GENERATED POLL FROM KENTICO-->
              <div id="ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_sys_pnlUpdate">
                <div class="PollControl" id="ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_pnlControl" onkeypress="javascript:return false;"><span class="PollTitle" id="ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_lblTitle">Baron Geisler, may pag-asa pa kayang magbago?</span>
                  <div class="PollAnswers" id="ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_pnlAnswer"></div>
                  <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="PollAnswer" colspan="2"><span class="PollAnswerCheck checkbox">
                        <input id="ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_chk4" type="checkbox" name="ctl00$plcMain$plcZonePollItem$lt$zonePollItem$Poll$plcUp$viewPoll$chk4">
                        <label for="ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_chk4">Oo naman, may awa pa ang Diyos!</label></span></td>
                    </tr>
                    <tr>
                      <td style="width: 100%;">
                        <div class="PollGraph">
                          <div class="PollGraph0" style="width:100%;"> </div>
                        </div>
                      </td>
                      <td class="PollCount" style="white-space: nowrap;">67%</td>
                    </tr>
                    <tr>
                      <td class="PollAnswer" colspan="2"><span class="PollAnswerCheck checkbox">
                        <input id="ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_chk5" type="checkbox" name="ctl00$plcMain$plcZonePollItem$lt$zonePollItem$Poll$plcUp$viewPoll$chk5">
                        <label for="ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_chk5">Hindi. Wala na. Period. No Erasures!</label></span></td>
                    </tr>
                    <tr>
                      <td style="width: 100%;">
                        <div class="PollGraph">
                          <div class="PollGraph1" style="width:28%;"> </div>
                        </div>
                      </td>
                      <td class="PollCount" style="white-space: nowrap;">19%</td>
                    </tr>
                  </table>
                  <div class="PollFooter" id="ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_pnlFooter">
                    <input class="PollVoteButton btn btn-default" id="ctl00_plcMain_plcZonePollItem_lt_zonePollItem_Poll_plcUp_viewPoll_btnVote" type="submit" name="ctl00$plcMain$plcZonePollItem$lt$zonePollItem$Poll$plcUp$viewPoll$btnVote" value="Vote">
                  </div>
                </div>
              </div>
              <!-- SAMPLE GENERATED POLL FROM KENTICO-->
            </div>
            <!--PUSH POLL - START-->
            <!--LATEST PHOTOS - START                          -->
            <div class="push-container">
              <div class="push-title">LATEST PHOTOS</div>
              <div class="push-articles type-1">
                <ul>
                  <li class="photo"><a href="photos-inner.html">
                    <div class="push-articles-img"><img src="assets/theme/images/_samples/lp-1.png" alt="TITLE"></div>
                    <div class="push-articles-info-container">
                      <div class="push-articles-info">
                        <div id="title">Sam Concepcion's Cover of `Make Believe`</div>
                      </div>
                    </div></a></li>
                  <li class="photo"><a href="photos-inner.html">
                    <div class="push-articles-img"><img src="assets/theme/images/_samples/lp-2.png" alt="TITLE"></div>
                    <div class="push-articles-info-container">
                      <div class="push-articles-info">
                        <div id="title">Sam Concepcion's Cover of `Make Believe`</div>
                      </div>
                    </div></a></li>
                  <li class="photo"><a href="photos-inner.html">
                    <div class="push-articles-img"><img src="assets/theme/images/_samples/lp-3.png" alt="TITLE"></div>
                    <div class="push-articles-info-container">
                      <div class="push-articles-info">
                        <div id="title">Sam Concepcion's Cover of `Make Believe`</div>
                      </div>
                    </div></a></li>
                  <li class="photo"><a href="photos-inner.html">
                    <div class="push-articles-img"><img src="assets/theme/images/_samples/lp-4.png" alt="TITLE"></div>
                    <div class="push-articles-info-container">
                      <div class="push-articles-info">
                        <div id="title">Sam Concepcion's Cover of `Make Believe`</div>
                      </div>
                    </div></a></li>
                  <li class="photo"><a href="photos-inner.html">
                    <div class="push-articles-img"><img src="assets/theme/images/_samples/lp-5.png" alt="TITLE"></div>
                    <div class="push-articles-info-container">
                      <div class="push-articles-info">
                        <div id="title">Sam Concepcion's Cover of `Make Believe`</div>
                      </div>
                    </div></a></li>
                </ul>
                <!--SEE MORE PHOTOS--><a href="photos-landing.html">
                  <button>SEE MORE PHOTOS</button></a>
              </div>
            </div>
            <!--LATEST PHOTOS - END-->
            <!--MREC AD 300x250-->
            <div class="push-ads">
              <div class="push-ads-img">
                <!--PLACEHOLDER ONLY-->
                <picture><!--[if IE 9]><video style="display: none;"><![endif]-->
                  <source srcset="assets/theme/images/_samples/mrec-300-250.png" media="(min-width: 960px)">
                  <source srcset="assets/theme/images/_samples/ads-468-60.png" media="(max-width: 961px)"><!--[if IE 9]></video><![endif]--><img srcset="assets/theme/images/_samples/mrec-300-250.png" alt="Image">
                </picture>
                <!--PLACEHOLDER ONLY-->
              </div>
            </div>
            <!---->
            <!--LATEST VIDEOS - START-->
            <div class="push-container">
              <div class="push-title">LATEST VIDEOS</div>
              <div class="push-articles type-1">
                <ul>
                  <li class="video"><a href="videos-inner.html">
                    <div class="push-articles-img"><img src="assets/theme/images/_samples/lp-1.png" alt="TITLE"></div>
                    <div class="push-articles-info-container">
                      <div class="push-articles-info">
                        <div id="title">Sam Concepcion's Cover of `Make Believe`</div>
                      </div>
                    </div></a></li>
                  <li class="video"><a href="videos-inner.html">
                    <div class="push-articles-img"><img src="assets/theme/images/_samples/lp-2.png" alt="TITLE"></div>
                    <div class="push-articles-info-container">
                      <div class="push-articles-info">
                        <div id="title">Sam Concepcion's Cover of `Make Believe`</div>
                      </div>
                    </div></a></li>
                  <li class="video"><a href="videos-inner.html">
                    <div class="push-articles-img"><img src="assets/theme/images/_samples/lp-3.png" alt="TITLE"></div>
                    <div class="push-articles-info-container">
                      <div class="push-articles-info">
                        <div id="title">Sam Concepcion's Cover of `Make Believe`</div>
                      </div>
                    </div></a></li>
                  <li class="video"><a href="videos-inner.html">
                    <div class="push-articles-img"><img src="assets/theme/images/_samples/lp-4.png" alt="TITLE"></div>
                    <div class="push-articles-info-container">
                      <div class="push-articles-info">
                        <div id="title">Sam Concepcion's Cover of `Make Believe`</div>
                      </div>
                    </div></a></li>
                  <li class="video"><a href="videos-inner.html">
                    <div class="push-articles-img"><img src="assets/theme/images/_samples/lp-5.png" alt="TITLE"></div>
                    <div class="push-articles-info-container">
                      <div class="push-articles-info">
                        <div id="title">Sam Concepcion's Cover of `Make Believe`</div>
                      </div>
                    </div></a></li>
                </ul>
                <!--SEE MORE VIDEOS--><a href="videos-landing.html">
                  <button>SEE MORE VIDEOS</button></a>
              </div>
            </div>
            <!--LATEST VIDEOS - END-->
            <!--PUSH ALERT - START-->
            <div class="push-alert">
              <div id="title">PUSH ALERT!</div>
              <!--PLACEHOLDER ONLY-->
              <picture><!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="assets/theme/images/_samples/crowdy.png" media="(min-width: 960px)">
                <source srcset="assets/theme/images/_samples/crowdy-l.png" media="(max-width: 961px)"><!--[if IE 9]></video><![endif]--><img srcset="assets/theme/images/_samples/crowdy.png" alt="Image">
              </picture>
              <!--PLACEHOLDER ONLY-->
            </div>
            <!--PUSH ALERT - END-->
          </aside>
          <!--.push-container-right - END-->
        <!--CLEARFLOAT-->
        <div class="u-cf"></div>
      </div>
    </div>
  </div>
  <div class="push-container" id="push-home-top-container">
    <div class="push-container push-container-lock">
      <!--LATEST SHOWBIZ NEWS - START-->
      <div class="push-title">LATEST SHOWBIZ NEWS</div>
      <div class="push-lsn">
        <ul>
          <li class="four columns"><a href="#">
            <div class="push-lsn-img"><img src="assets/theme/images/_samples/lsn-1.png" alt="TITLE">
            </div>
            <div class="push-lsn-info-container">
              <div class="push-lsn-info"><span id="title">LOOK: Boy shows us his newly-built 5-story mansion</span>
                <div id="source-date"><span id="source">DZMM ChisMax</span><span id="date">5 minutes ago</span>
                </div>
              </div>
            </div></a></li>
          <li class="four columns"><a href="#">
            <div class="push-lsn-img"><img src="assets/theme/images/_samples/lsn-2.png" alt="TITLE">
            </div>
            <div class="push-lsn-info-container">
              <div class="push-lsn-info"><span id="title">LOOK:Jessy Mendiola’s reveals her ‘smokin’ hot’ summer body</span>
                <div id="source-date"><span id="source">ABS-CBN News</span><span id="date">20 minutes ago</span>
                </div>
              </div>
            </div></a></li>
          <li class="four columns"><a href="#">
            <div class="push-lsn-img"><img src="assets/theme/images/_samples/lsn-3.png" alt="TITLE">
            </div>
            <div class="push-lsn-info-container">
              <div class="push-lsn-info"><span id="title">The ‘Blind Item’that made all the girls curious</span>
                <div id="source-date"><span id="source">ABS-CBN Entertainment</span><span id="date">1 hour ago</span>
                </div>
              </div>
            </div></a></li>
        </ul>
        <!--CLEARFLOAT-->
        <div class="u-cf"></div>
      </div>
      <!--LATEST SHOWBIZ NEWS - END-->
    </div>
  </div>
  <!--#push-skinning-container - END-->