<main class="main" role="main" id="{{page}}">
  <!--ADS - START-->
  <section class="ads">
    <!--PLACEHOLDER ONLY-->
    <picture><!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="assets/theme/images/_samples/ads.png" media="(min-width: 960px)">
      <source srcset="assets/theme/images/_samples/ads-468-60.png" media="(max-width: 961px)"><!--[if IE 9]></video><![endif]--><img srcset="theme/images/_samples/ads.png" alt="Image">
    </picture>
    <!--PLACEHOLDER ONLY-->
  </section>
  <!--ADS - END-->
  <section class="contents">

    <router-outlet></router-outlet>

  </section>
</main>