=aspect-ratio($width, $height)
  position: relative

  &:after
    display: block
    content: " "
    width: 100%
    padding-top: $height / $width * 100%

=aspect-ratio-after()
  display: block
  content: " "
  width: 100%

=aspect-ratio-float
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

=aspect-ratio-float-img
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  max-height: 100%
  max-width: 100%

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%))
  ::-webkit-scrollbar 
    width:  $size
    height: $size

  ::-webkit-scrollbar-thumb 
    background: $foreground-color

  ::-webkit-scrollbar-track
    background: $background-color

  // For Internet Explorer
  body
    scrollbar-face-color: $foreground-color
    scrollbar-track-color: $background-color

=clearfloat
  &:before, &:after
    display: table
    content: ''
    clear: both

@function strip-unit($number)
  @if type-of($number) == 'number' and not unitless($number)
    @return $number / ($number * 0 + 1)

  @return $number

@function get-vw($target, $w: 1280)
  $vw-context: strip-unit($w) * 0.01 * 1px
  @return $target / $vw-context * 1vw

@mixin calc($property, $default, $expression)
  #{$property}: $default
  #{$property}: -webkit-calc(#{$expression})
  #{$property}: -moz-calc(#{$expression})
  #{$property}: calc(#{$expression})

// Responsive Sprites
// example - include responsive-sprite(346px, 2192px, 173px, 274px, 0px, 0px);
@mixin responsive-sprite($sprite-width, $sprite-height, $img-width, $img-height, $img-x, $img-y)
  background-size: percentage($sprite-width/$img-width) percentage($sprite-height/$img-height)
  background-position: percentage($img-x/($sprite-width - $img-width)) percentage($img-y/($sprite-height - $img-height))

//ENHANCEMENTS
$_test: false
$_screen-sm: $screen-sm
@if ($_test == true)
  $_screen-sm: 728px

@function get-vw-($px,$media: lg)
  @if $media == lg
    @return get-vw($px,$screen-xlg)
  @else if $media == md
    @return get-vw($px,$_screen-sm)
  @else if $media == sm
    @return get-vw($px,$screen-xs)
  @else if $media == xs
    @return get-vw($px,$screen-xxs)
  @else if $media == custom1
    @return get-vw($px,1400px)

@mixin screen($media)
  @if $media == ulg
    @media (min-width: $screen-xlg + 1)
      @content
  @else if $media == lg
    @media (max-width: $screen-xlg)
      @content
  @else if $media == lgo
    @media (max-width: $screen-xlg) and (min-width: $screen-md)
      @content
  @else if $media == ulgo
    @media (min-width: $screen-md + 1)
      @content
  @else if $media == md
    @media (max-width: $screen-md - 1)
      @content
  @else if $media == mdo
    @media (max-width: $screen-md - 1) and (min-width: $_screen-sm)
      @content
  @else if $media == sm
    @media (max-width: $_screen-sm - 1)
      @content
  @else if $media == smo
    @media (max-width: $_screen-sm - 1) and (min-width: $screen-xs)
      @content
  @else if $media == xs
    @media (max-width: $screen-xs - 1)
      @content
  @else if $media == custom1
    @media (max-width: 1400px)
      @content
  @else if $media == custom1o
    @media (max-width: 1400px) and (min-width: $screen-xlg + 1)
      @content
  @else if $media == retina
    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
      @content
      