/////////////////
// Scaffolding //
/////////////////

*
  // overflow-y: scroll
  -webkit-overflow-scrolling: touch

html
  font-size: 10px
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -ms-overflow-style: scrollbar

*,
*:before,
*:after
  box-sizing: border-box

body
  font-size: 14px
  min-width: 300px
  font-family: $font-primary
  line-height: normal

  > #aspnetForm
    margin-bottom: 0px

a
  color: $BLACK
  text-decoration: none
  +transition(all 0.2s ease-in-out 0s)

  &:hover
    color: darken($ORANGE,15)
    font-weight: inherit

ul, li
  padding: 0px
  margin: 0px
  list-style-type: none

%link
  color: white

  &:hover
    font-weight: inherit
    color: darken($ORANGE,15)

.link
  @extend %link

=link($color:white,$hoverColor:$ORANGE)
  // @include %link
  color: $color

  &:hover
    color: darken($hoverColor,15)

.push-lock
  max-width: $screen-xlg
  margin: auto

%tb4
  content: ' '
  display: none
  width: percentage(23px / 120px)
  // width: get-vw(23px)
  height: percentage(22px / 67px)
  // height: get-vw(22px)
  position: absolute
  top: 0px
  right: 0px
  z-index: 10
  background-size: 100%
  background-repeat: no-repeat
.type-before
  @extend %tb4

%tpb4
  display: block
  background-image: url(/assets/theme/images/img-icon.png)
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
    background-image: url(/assets/theme/images/img-icon-x2.png)
.type-photo-before
  @extend %tpb4

%tvb4
  display: block
  background-image: url(/assets/theme/images/vid-icon.png)
  // @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
  // background-image: url(/assets/theme/images/vid-icon-x2.png)
.type-video-before
  @extend %tvb4

.tooltip_templates
  display: none

%slick-dots
  position: absolute
  padding: 0px
  margin: 0px
  bottom: 7px
  right: 9px

  li
    height: 10px
    width: 10px
    display: inline-block
    +border-radius(50px)
    margin: 0px 0px 0px 12px
    border: 1px solid white

    &.slick-active
      background: $ORANGE                

  button
    display: none

%social-fixed

  &.social-fixed
    // [class*="icon-"]
    //   background-image: url(/assets/theme/images/social-x1.png)

    //   &:before
    //     display: none

    //   &.icon-fb
    //     +responsive-sprite(98px,147px,46px,46px,2px,0px)

    //     &:hover
    //       +responsive-sprite(98px,147px,46px,46px,49px,0px)

    $width:  330
    $height: 55
    $iwidth:  55
    $iheight: 55

    [class*="icon-"]
      background-image: url(/assets/theme/images/social-x1.png)
      // background-size: (($width / $iwidth) * 100%) (($height / $iheight) * 100%)
      background-size: 600% auto
      background-repeat: no-repeat

      &:before
        display: none

      &.icon-fb
        // background-position: (3 / ($width - $iwidth) * 100%) (100 / ($height - $iheight) * 100%)
        background-position: 80% 0%
        &:hover
          // background-position: (50 / ($width - $iwidth) * 100%) (100 / ($height - $iheight) * 100%)
          background-position: 100% 0%

      &.icon-tw
        // background-position: (3 / ($width - $iwidth) * 100%) 0px
        background-position: 0% 0%
        &:hover
          // background-position: (50 / ($width - $iwidth) * 100%) 0px
          background-position: 20% 0%

      &.icon-gplus
        // background-position: (3 / ($width - $iwidth) * 100%) (50 / ($height - $iheight) * 100%)
        background-position: 40% 0%
        &:hover
          // background-position: (50 / ($width - $iwidth) * 100%) (50 / ($height - $iheight) * 100%)
          background-position: 60% 0%

    @include screen(retina)
      $width:  310
      $height: 465
      $iwidth:  150
      $iheight: 150

      [class*="icon-"]
        background-image: url(/assets/theme/images/social-x2.png)
        // background-size: (($width / $iwidth) * 100%) (($height / $iheight) * 100%)
        background-size: 200% 300%
        background-repeat: no-repeat

        &:before
          display: none

        &.icon-fb
          // background-position: (0 / ($width - $iwidth) * 100%) (310 / ($height - $iheight) * 100%)
          background-position: 0% 100%
          &:hover
            // background-position: (157 / ($width - $iwidth) * 100%) (310 / ($height - $iheight) * 100%)
            background-position: 100% 100%

        &.icon-tw
          // background-position: (0 / ($width - $iwidth) * 100%) 0px
          background-position: 0% 0%
          &:hover
            // background-position: (150 / ($width - $iwidth) * 100%) 0px
            background-position: 100% 0%

        &.icon-gplus
          // background-position: (0 / ($width - $iwidth) * 100%) (150 / ($height - $iheight) * 100%)
          background-position: 0% 50%
          &:hover
            // background-position: (150 / ($width - $iwidth) * 100%) (150 / ($height - $iheight) * 100%)
            background-position: 100% 50%

%push-title
  font-size: 1.98em
  line-height: 2.65em
  position: relative
  display: inline-block

  &:before
    content: ' '
    display: block
    height: 5px
    width: 100px
    background: $VIOLET
    position: absolute
    top: 0px
    left: 0px
    +border-radius(50px)

// .video-js.vjs-mouse .vjs-big-play-button
//   &:before
//     margin-left: 12%
//   top: 50%
//   left: 50%
//   margin: -4em auto auto -6em

  

//////////////////
// Basic Layout //
//////////////////

// header
header
  &.uninav-push
    .push-lock
      @include screen(ulg)
        max-width: none

    input.uninav-icon-new.uninav-icon-search.search-button
      padding: 15px 0px

    .header-fixed
      background: darken($VIOLET, 10)

    &.uninav-header
      .header-nav-toggle
        background-color: $PINK

    &.uninav-default
      .header-text
        float: left
        margin: 0px 17px
        color: white
        font-size: 1.3em
        margin-top: 40px
        @extend .font-light

        #push-text-logo
          width: 282px
          display: block
          background-size: 100%
          background-repeat: no-repeat
          background-image: url(/assets/theme/images/push-logo-text.png)
          +aspect-ratio(282px,64px)

      .logo 
        margin-left: 49px
        @include screen(md)
          margin-left: 0px

        .uninav-icon-search
          @include screen(md)
            display: block

      &:not(.header-sticky) 
        .logo a>img
          height: 103px
          margin-bottom: 0
          margin-right: 0.5em
          margin-top: 81px
          z-index: 10

      &.header-sticky
        .header-collapse
          &.in .header-nav>ul
            text-align: left
            padding-left: 0px

            @include screen(ulgo)
              background: white
              
              li 
                padding: 17px 12px
                
                &.active a
                  color: $ORANGE

                a
                  +link(black)

        .header-text
          margin-top: 5px

          img
            height: 39px

          #push-text-logo
            width: 185px

        .logo 
          margin-left: 74px
          @include screen(md)
            margin-left: 0px

          a>img
            margin-top: 0px
            height: 38px
            width: 38px
          

      .header-social
        color: white
        padding-right: 15px

        .search
          width: 40px
          border-radius: 25px
          border: none
          height: 30px
          position: relative

          &.fixed
            #text
              display: none

            input, textarea
              position: absolute
              top: 0
              left: 0
              right: 0
              bottom: 0
              height: 100%
              width: 100%
              color: white
              background: transparent
              border: none
              white-space: nowrap
              overflow: hidden
              padding: 0px 35px 0px 10px

              &:focus
                outline: none

          a
            padding: 0px 15px
            height: 100%
            width: 100%
            color: white
            +flexbox2
            +align-items(center)
            @extend .font-light

            #text
              display: none
          
          i
            position: absolute
            right: 10px
            top: 4px

        .divider
          width: 1px
          height: 100%
          background: white
          height: percentage(35px / 55px)
          margin: 0px 15px

        .follow
          @extend .font-light
          font-size: 0.85em
          padding-right: 5px

        .ig .uninav-icon-ig
          width: 21px
          height: 20px
          background-position: -60px -4px

      .header-bar-inner
        overflow: visible

      .header-bar
        // @include background(linear-gradient(to right, darken($VIOLET, 10), darken($VIOLET, 10) 30%, lighten($VIOLET,5) 50%, darken($VIOLET, 10) 70%, darken($VIOLET, 10)))       
        @include background(linear-gradient(to right, #3e2350, lighten(#3e2350, 2) 10%, #612d7e 50%, lighten(#3e2350, 2) 90%, #3e2350))

      .header-nav>ul
        padding-left: 510px
        width: 100%
        background: darken($VIOLET, 10)
        @include background(linear-gradient(to right, #3e2350, lighten(#3e2350, 2) 10%, #612d7e 50%, lighten(#3e2350, 2) 90%, #3e2350))
        text-align: right
        // position: relative
        @include screen(md)
          text-align: left

        &:before
          position: absolute
          content: ' '
          display: block
          height: 1px
          width: 100%
          max-width: $screen-xlg
          // border-bottom: 1px solid #8d44b2          
          @include background(linear-gradient(to right, lighten(#31004a,15) 10%, lighten(#8d44b2,30) 50%, lighten(#31004a,15) 90%,#31004a))

        >li
          padding: 34px 12px
          float: none
          display: inline-block
          @include screen(md)
            padding: 15px 12px
          
          &.active >a
            color: $ORANGE

          >a
            padding: 0px
            font-size: 1.1em
            @extend .font-regular
            @extend .link

// footer
footer.main
  @include background(linear-gradient(to right, darken(#31004a,5) 15%, darken(#8d44b2,25) 50%, darken(#31004a,5) 85%,#31004a))
  @include screen(md)
    font-size: get-vw(12px,$screen-sm2)
    line-height: get-vw(23px,$screen-sm2)

  > .push-container
    +clearfloat
    padding-bottom: percentage(24px / $screen-xlg)
    
  .push-container
    &.push-container-lock
      @include screen(md)
        padding: 0px
        text-align: center
        width: get-vw(357px,$screen-sm2)
        padding: get-vw(15px,$screen-sm2)

  > p
    background: black
    text-align: center
    margin: 0px
    height: 35px
    line-height: 3em
    color: white
    font-size: 0.8em
    +font-regular
    @include screen(md)
      font-size: get-vw(14px,$screen-sm2)
      height: auto

  #logo
    float: left
    width: percentage(169px / $screen-xlg-max)
    padding-top: percentage(33px / $screen-xlg-max)

    #logo-img
      +aspect-ratio(109px, 120px)
      margin-left: percentage(20px / 169px)
      width: percentage(109px / 169px)

      img
        +aspect-ratio-float-img

  .mobile-line
    width: percentage((213px + 186px)  / $screen-xlg-max)
    float: left
    padding-top: percentage(34px / $screen-xlg-max)
    @include screen(md)
      display: block
      width: 100%
      padding-top: 0px

    .push-f-links:nth-child(1)
      width: percentage(351px / 399px)
      padding-top: 0px
      float: none

      ul 
        @include screen(md)
          +flexbox2
          +flex-wrap(wrap)
          margin: auto

        li
          width: 50%
          float: left
          @include screen(md)
            float: none
            width: auto
            margin: auto

    // .push-f-links:nth-child(2)
    //   padding-top: 0px
    //   width: percentage((399px - 213px) / $screen-xlg-max)

  .push-f-links
    float: left
    line-height: 32px
    padding-top: percentage(34px / $screen-xlg-max)

    li.active a
      color: $ORANGE

    &:nth-child(3)
      width: percentage(213px / $screen-xlg-max)
  
  a
    +link
    @extend .font-light
    
    &:hover
      @extend .font-light

.tooltipster-base
  @include screen(md)
    display: none

.tooltip_content
  max-width: $screen-xlg-max
  margin: auto

  &.tooltip_ready .loader
    display: none

  .push-articles 
    +clearfloat
    padding: percentage(14px / $screen-xlg-max) 0px

    .loader
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0

      img
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        margin: auto

    ul li
      width: 20%
      float: left
      padding-right: percentage(12px / $screen-xlg-max)
      padding-left: percentage(12px / $screen-xlg-max)

      &.photo .push-articles-img:before
        @extend .type-photo-before
        width: percentage(23px / 184px)
        height: percentage(22px / 119px)

      &.video .push-articles-img:before
        @extend .type-video-before
        right: percentage(0px / 184px)
        top: percentage(85px / 119px)

      .push-articles-img
        +aspect-ratio(184px, 119px)
        background: black

        &:before
          @extend .type-before
          right: percentage(8px / 184px)
          top: percentage(88px / 119px)

        img
          +aspect-ratio-float-img

      .push-articles-info-container .push-articles-info
        padding: percentage(5px / 184px) 0px
        @extend .font-light

        #title-container
          +aspect-ratio(184px, 55px)

          #title
            +aspect-ratio-float

        #person-date
          font-size: 0.85em
          color: darken($GRAY,15)

.push-container
  margin: auto

  > .push-container-header, 
  > .sc-sticky-container > .push-container-header
    > .push-title
      @extend %push-title

    button
      margin-bottom: 0px

  > .push-title, 
  > .sc-sticky-container > .push-title
    @extend %push-title
    

  &.push-container-lock
    max-width: $screen-xlg-max
    max-width: percentage($screen-xlg-max / $screen-xlg)
    @include screen(md)
      max-width: none

.push-poll
  padding: 0
  text-align: center
  color: $VIOLET

  input[type=radio]
    -webkit-appearance: radio !important
    margin-left: 0px !important

  input[type=checkbox]
    -webkit-appearance: checkbox !important
    margin-left: 0px !important

  td
    padding: 12px 15px
    @include screen(md)
      padding: get-vw-(12px,md) get-vw-(15px,md) 
    @include screen(sm)
      padding: get-vw-(12px,sm) get-vw-(15px,sm) 
      &[style*='width:'] .PollGraph > div
        height: get-vw-(20px,sm)
    @include screen(xs)
      padding: get-vw-(12px,xs) get-vw-(15px,xs)
      &[style*='width:'] .PollGraph > div
        height: get-vw-(20px,xs)

  #title
    text-align: center
    background-color: $VIOLET
    color: white
    font-size: 31px
    font-size: 2.25em
    line-height: 80px
    // @include screen(md)
    // @include screen(sm)
    // @include screen(xs)
    @include screen(md)
      font-size: get-vw-(31px,md)
      line-height: get-vw-(80px,md)
    @include screen(sm)
      font-size: get-vw-(31px,sm)
      line-height: get-vw-(80px,sm)
    @include screen(xs)
      font-size: get-vw-(24px,xs)
      line-height: get-vw-(45px,xs)
    
    i
      font-size: 15px
      font-size: 0.5em
      vertical-align: middle

  .PollControl
    padding: 5px
    border: 2px solid lighten($GRAY,20)

    td
      border-bottom-color: transparent

    .PollCount
      @extend .font-medium
      font-size: 20px
      font-size: 1.4em
      @include screen(md)
        font-size: get-vw-(20px,md)
      @include screen(sm)
        font-size: get-vw-(20px,sm)
      @include screen(xs)
        font-size: get-vw-(20px,xs)

    .PollTitle
      display: block
      padding: 10px
      font-size: 20px
      font-size: 1.45em
      // @extend .font-bold
      @include screen(md)
        padding: get-vw-(10px,md)
        font-size: get-vw-(20px,md)
      @include screen(sm)
        padding: get-vw-(10px,sm)
        font-size: get-vw-(20px,sm)
      @include screen(xs)
        padding: get-vw-(10px,xs)
        font-size: get-vw-(16px,xs)

    .PollQuestion
      display: none

    .PollGraph       
      > div
        background: $ORANGE

    .PollAnswer
      padding: 0px

      .checkbox, .radiobox
        position: relative
        +flexbox2
        +align-items(center)

      .PollAnswerCheck
        text-align: left

      > span
        +flexbox2
        +align-items(center)

    // .PollAnswerRadio.radio
    //   text-align: left
    //   position: relative

    .PollFooter
      border-top: 1px solid #f7f3f0
      padding: 10px

    input[type=radio], input[type=checkbox]
      // position: absolute
      // top: 0px
      // left: 2px
      margin-bottom: 0px
      // top: 50%
      // +transform("translateY(-50%)")

    label, .PollAnswerText, .PollResult
      color: black
      margin-bottom: 0px
      @extend .font-medium
      padding-left: 10px
      font-size: 16px
      font-size: 1.13em
      @include screen(md)
        padding-left: get-vw-(10px,md)
        font-size: get-vw-(16px,md)
      @include screen(sm)
        padding-left: get-vw-(10px,sm)
        font-size: get-vw-(16px,sm)
      @include screen(xs)
        padding-left: get-vw-(10px,xs)
        font-size: get-vw-(14px,xs)

  .scm-container
    margin: 0

@include scrollbars(.5em, $GRAY, transparent)

.push-breadcrumbs
  margin-bottom: 20px
  +flexbox2
  font-size: 13.8px
  @include screen(lg)
    font-size: get-vw-(13.8px)
  @include screen(md)
    font-size: get-vw-(13.8px,md)
  @include screen(sm)
    font-size: get-vw-(13.8px,sm)
  @include screen(xs)
    font-size: get-vw-(13.8px,xs)

  li
    display: inline
    color: $ORANGE
    +flexbox2
    white-space: nowrap

    &:hover
      a
        color: darken($ORANGE,10)        

    & + li:before
      padding-left: 8px
      padding-right: 8px
      content: ">"

    a, &:before
      color: black

    &:last-child
      white-space: normal !important

/////////////
// Content //
/////////////

main.main
  margin-top: 66px
  overflow: hidden
  @include screen(lg)
    font-size: get-vw(13.8px)
  @include screen(md)
    font-size: +get-vw(18.8px)
    margin-top: 26px

  section.ads
    padding: 8px 0px
    
    > div
      margin: auto

  .ads
    text-align: center
    background: $GRAY2

    img, iframe
      max-width: 100%

  .push-container-scroll
    button
      width: 100%

  .push-container-left
    float: left
    width: percentage($screen-xlg-left / $screen-xlg-without-padding)
  
  $rightw: $screen-xlg-right
  .push-container-right
    float: right
    width: percentage($rightw / $screen-xlg-without-padding)

    .portrait, .landscape
      overflow: hidden

      .cnwidget
        @include screen(xs)
          width: 100% !important

    > .push-title, .sc-sticky-container > .push-title
      @extend %push-title
      line-height: 2.55em
      @include screen(md)
        font-size: get-vw(30.9px,$screen-sm2)
      @include screen(sm)
        font-size: get-vw(30.5px,$screen-xs)
      @include screen(xs)
        font-size: get-vw(21.9px,$screen-xxs)
    
    .push-poll
      margin-bottom: percentage(35px / $rightw)

      img
        max-width: 100%

    .push-container > .push-title
      line-height: 2.55em

    .push-ads
      margin-bottom: percentage(37px / $rightw)
      text-align: center
      overflow-y: hidden
      overflow-x: hidden

      [id*="div-gpt-ad"]
        margin: auto
        max-width: 100% !important

      [id*="google_ads_"]
        max-width: 100% !important

        iframe
          max-width: 100%


      img
        max-width: 100%

    .push-articles 
      margin-bottom: percentage(33px / $rightw)
      
      ul
        margin-bottom: percentage(33px / $rightw)

    .push-alert
      display: none

      #title
        text-align: center
        background: darken($VIOLET, 10)
        color: white
        font-size: 2.16em
        line-height: 2em

      img, iframe
        max-width: 100%

  button:not(.unskin):not(.bookmarked)
    +border-radius(25px)
    border: 2px solid
    font-size: 1.03em
    @extend .font-light
    +transition(background-color 0.2s ease-in-out 0s)
    @include screen(lg)
      font-size: get-vw-(14px)
      padding: 0px get-vw-(30px)
    @include screen(md)
      font-size: get-vw-(18px,md)
      padding: 0px get-vw-(30px,md)
    @include screen(sm)
      font-size: get-vw-(12px,sm)
      padding: 0px get-vw-(20px,sm)
    @include screen(xs)
      font-size: get-vw-(12px,xs)
      padding: 0px get-vw-(20px,xs)

    &.loading, &.loader
      background-image: url(/assets/theme/images/loader.gif)
      background-repeat: no-repeat
      background-position: 30%
      background-size: contain
      @include screen(xs)
        background-position: 18%

    &:hover
      background-color: black
      color: white

    &.orange
      border-color: $ORANGE
      color: $ORANGE

      &:hover
        background-color: darken($ORANGE,10)
        color: white

  .push-pagination
    font-size: 1.59em
    @extend .font-regular
    position: relative
    width: 100%
    text-align: center

    .push-pagination-pn
      position: absolute
      top: 0px
      bottom: 0px
      display: table

      > a
        display: table-cell
        height: auto
        color: $GRAY

        &:hover
          color: $ORANGE 

      &:nth-child(1)
        left: 0px

      &:nth-child(3)
        right: 0px

    #push-pagination-pages
      overflow: auto
      margin: auto
      display: inline-block

      ul
        padding: 0px
        margin: 0px

        li
          list-style-type: none
          float: left

          // +a_link(gray)

          a
            color: $GRAY
            padding: 0px 10px

          &.active a, a:hover
            color: $ORANGE !important

  .push-articles
    ul li
      padding-top: percentage(20px / $screen-xlg-left)
      padding-bottom: percentage(20px / $screen-xlg-left)
      +clearfloat
      border-bottom: 1px solid lighten($GRAY, 25)

      &:hover #title
        color: $ORANGE

      &.photo .push-articles-img:before
        @extend .type-photo-before

      &.video .push-articles-img:before
        @extend .type-video-before

      &:last-child
        border: none

      .push-articles-img
        float: left
        width: percentage(240px / $screen-xlg-left)
        +aspect-ratio(240px, 155px)
        background: black

        &:before
          @extend .type-before
          top: percentage(3px / 120px)
          right: percentage(3px / 120px)

        img
          +aspect-ratio-float-img

      .push-articles-info-container
        $paiw: ($screen-xlg-left - 240px)
        // +aspect-ratio($paiw, 155px)
        float: left
        width: percentage($paiw / $screen-xlg-left)

        .push-articles-info
          padding-left: percentage(20px / $paiw)
          // +aspect-ratio-float
          position: relative
          $_minh: 155px - 22px
          min-height: $_minh
          @include screen(lg)
            min-height: get-vw-($_minh)
          @include screen(md)
            min-height: get-vw-($_minh,md)
          @include screen(sm)
            min-height: get-vw-((175px - 21px),sm)
          @include screen(xs)
            min-height: get-vw-(75px,xs)

          #title
            font-size: 1.59em
            line-height: 1.05em
            +transition(all 0.2s ease-in-out 0s)
            @include screen(sm)
              line-height: get-vw-(32px,sm)
            @include screen(xs)
              line-height: get-vw-(32px,xs)
              min-height: get-vw-(83px,xs)

          #person-date
            color: darken($GRAY, 30)
            font-size: 1.05em
            margin-top: percentage(15px / $paiw)
            margin-bottom: 22px
            @extend .font-light
            @include screen(sm)
              margin-bottom: get-vw-(22px,sm)
            @include screen(xs)
              margin-bottom: get-vw-(22px,xs)

            #person
              padding-right: percentage(20px / $paiw)

            div
              display: inline-block
              vertical-align: middle

            #date i
              margin-right: 5px

          #responses-shares
            position: absolute
            width: 100%
            bottom: -22px
            left: auto
            font-size: 1.18em
            color: $GRAY
            @extend .font-light
            @include screen(xs)
              bottom: get-vw-(-22px,xs)

            #responses
              padding-right: percentage(8px / $paiw)

              i
                margin-right: 5px

            #shares i
              margin-right: 5px

            div
              display: inline-block
              vertical-align: middle
    
    $leftw: $screen-xlg-right
    &.type-1
      ul li 
        padding-bottom: 0px
        border: none

        .push-articles-img
          width: percentage(120px / $leftw)
          +aspect-ratio(120px, 67px)

        .push-articles-info-container
          width: percentage(($leftw - 120px) / $leftw)

      ul li .push-articles-info-container 
        &:after
          display: none !important

        .push-articles-info 
          position: static
          min-height: inherit

          #title
            font-size: 1em
            @include screen(sm)
              line-height: get-vw-(18px,sm)
            @include screen(xs)
              line-height: get-vw-(18px,xs)

  .social-save-container
    +flexbox2
    +align-items(center)

    article
      .bookmarked-saved-container 
        .bookmark-saved
          font-size: 13.6px
          @include screen(md)
            font-size: get-vw-(13.6px,md)
          @include screen(sm)
            font-size: get-vw-(13.6px,sm)
          @include screen(xs)
            font-size: get-vw-(13.6px,xs)
            left: initial
            right: -11px
            &::before
              left: initial
              right: 42px
            &::after
              left: initial
              right: 42px

        > button
          height: 35px
          width: 80px
          background-position: 15px 11px
          // @include screen(lg)
          //   background-position: get-vw-(15px) get-vw-(11px)
          //   height: get-vw-(35px)
          //   width: get-vw-(80px)
          // <div class="bookmark-saved" style="display: block; opacity: 1;"><a href="//staging-kapamilyaaccounts.abs-cbn.com/"><strong>Login</strong> to your Kapamilya Account to save this article and read it later.</a></div>

          span
            height: 35px
            line-height: 35px
            margin-left: 11px
            font-size: 9px
            // @include screen(lg)
            //   height: get-vw-(35px)
            //   line-height: get-vw-(35px)
            //   margin-left: get-vw-(11px)
            //   font-size: get-vw-(11px)
  .social
    $r: 200px
    
    i[class*="icon-"]
      cursor: pointer
      width: percentage(45px / $r)
      height: percentage(45px / $r)
      +aspect-ratio(45px,45px)
      display: inline-block

      img
        +aspect-ratio-float-img

    // @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
    %iconretina
      img
        display: none

      &:before
        background-size: 100%
        +aspect-ratio-float
        display: block
        content: ''

    .icon-fb
      @extend %iconretina
      &:before
        background-image: url(/assets/theme/images/social-fb-x2.png)
      &:hover:before
        background-image: url(/assets/theme/images/social-fb-hover-x2.png)

    .icon-tw
      @extend %iconretina
      &:before
        background-image: url(/assets/theme/images/social-tw-x2.png)
      &:hover:before
        background-image: url(/assets/theme/images/social-tw-hover-x2.png)

    .icon-gplus
      @extend %iconretina
      &:before
        background-image: url(/assets/theme/images/social-gplus-x2.png)
      &:hover:before
        background-image: url(/assets/theme/images/social-gplus-hover-x2.png)
  
  .jscroll-added
    padding-top: percentage(36px / $screen-xlg-left)
    padding-top: get-vw(36px)
    margin-top: percentage(34px / $screen-xlg-left)
    margin-top: get-vw(34px)
    border-top: 1px solid $GRAY

    .jscroll-loading
      // display: none
      .loader
        text-align: center
  
  @import 'pages/homepage'

  &#inner-pages, &#landing-pages, &#search-page
    .contents
      > .push-container
        padding: percentage(40px / $screen-xlg) percentage(20px / $screen-xlg) percentage(40px / $screen-xlg) percentage(20px / $screen-xlg)

      .push-container-scroll
        .push-container-right
          width: percentage(300px / $screen-xlg-without-padding)

          .push-alert
            display: block

            .cnAdzerkDiv
              margin: auto

  @import 'pages/landingpages'

  @import 'pages/innerpages'

  @import 'pages/searchpages'

  @import 'pages/specialpage'

  @import 'pages/errorpage'  