///////////////////
// Media Queries //
///////////////////

// Retina query (remove when not needed)
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
    header.uninav-push.uninav-default 
        &:not(.header-sticky) .logo a > .retinaContainer
            margin-bottom: 0
            margin-right: 0.5em
            margin-top: 81px

        &.header-sticky .logo a > .retinaContainer
            margin-top: 0px
            height: 38px
            width: 38px
            margin-right: 0.5em

        .logo a > 
            img
                display: none

            .retinaContainer
                display: block
                width: 103px
                height: 103px
                background-image: url(/assets/theme/images/push-logo-x2.png)
                background-size: 100%
                z-index: 10

        .header-text #push-text-logo
            background-image: url(/assets/theme/images/push-logo-text-x2.png)

@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 959px), (min-device-pixel-ratio: 2) and (max-width: 959px), (min-resolution: 192dpi) and (max-width: 959px), (min-resolution: 2dppx) and (max-width: 959px)
    header.uninav-push.uninav-default 
        .logo a > .retinaContainer
            height: 40px !important
            width: 40px !important
            margin-top: 0px !important
            margin-right: 0px !important

// // Largest devices
// @media (max-width: $screen-lg)
@import 'media_queries/xlg'
// @import 'media_queries/lg'
@import 'media_queries/md'
@import 'media_queries/sm'
@import 'media_queries/xs'
@import 'media_queries/xxs'

// // Large devices
// @media (max-width: $screen-md)

// // Medium devices
// @media (max-width: $screen-sm)

// // Small devices
// @media (max-width: $screen-xs)

