///////////////
// Variables //
///////////////

// Screen sizes
$screen-xxs: 320px
$screen-xs: 568px
$screen-sm2: 728px //BASE ON PSD
$screen-sm: 768px
$screen-md: 960px
// $screen-lg: 1240px
$screen-xlg: 1280px

$screen-xlg-max: 1040px

$screen-xlg-without-padding: 1000px
$screen-xlg-right: 300px
$screen-xlg-left: (($screen-xlg-without-padding - $screen-xlg-right) - 40px)

$screen-md-without-padding: 690px

// Fonts
$font-base: Arial, "Helvetica Neue", Helvetica, sans-serif
$font-primary: 'Montserrat',"museo-sans", $font-base
=font-regular
  font-family: $font-primary
  font-weight: 400
.font-regular
  +font-regular
=font-extra-light
  font-family: $font-primary
  font-weight: 100
.font-extra-light
  +font-extra-light
=font-light
  font-family: $font-primary
  font-weight: 300
.font-light
  +font-light
=font-medium
  font-family: $font-primary
  font-weight: 500
.font-medium
  +font-medium
=font-bold
  font-family: $font-primary
  font-weight: 700
.font-bold
  +font-bold

// Micro clearfix
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix
  *zoom: 1

  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both

// Image replacement technique
// http://nicolasgallagher.com/another-css-image-replacement-technique/
=ir
  font: 0/0 a
  color: transparent
  text-shadow: none
  background-color: transparent
  border: 0
.ir
  +ir

//COLORS
$VIOLET: #4e1769
$BLACK: #2f2f2f
$ORANGE: #f6b434
$GRAY: #ababab
$GRAY2: #ededed
$PINK: #f1447f