li
  a(href='fresh-scoops-inner.html')
      .push-articles-img
          img(src=SAMPLES+'a-'+ i +'.png' alt='TITLE')
      .push-articles-info-container
          .push-articles-info
              #title Dawn Zulueta -- Excited About Her New Role As Piolo Pascual's Lover
              #person-date
                  #person by Jhai Ho
                  #date #[i.fa.fa-clock-o(aria-hidden='true')]2 minutes ago
              #responses-shares
                  #responses #[i.fa.fa-comment(aria-hidden='true')]1.2K comments
                  #shares #[i.fa.fa-share(aria-hidden='true')]7.5K shares