include ../mixins/_aside

//HOMEPAGE - START
main.main(role='main')#homepage
    include ./../mixins/_ads
    section.contents
        //#push-home-top-container - START
        .push-container#push-home-top-container
            .push-container.push-container-lock
                //- //LATEST SHOWBIZ NEWS - START
                //- .push-title LATEST SHOWBIZ NEWS
                //- .push-lsn
                //-     ul
                //-         each d, i in data_lsn
                //-             li.four.columns
                //-                 a(href='#')
                //-                     .push-lsn-img
                //-                         if (config.devtest)
                //-                             img(src='https://unsplash.it/600/41'+(5+i) alt='TITLE')                                            
                //-                         else
                //-                             img(src=SAMPLES+'lsn-'+(i+1)+'.png' alt='TITLE')
                //-                     .push-lsn-info-container
                //-                         .push-lsn-info
                //-                             span#title=d.a
                //-                             div#source-date
                //-                                 if (config.devtest)
                //-                                     span#source='ABS-CBN Entertainment'
                //-                                 else
                //-                                     span#source=d.b
                //-                                 span#date=d.c
                //-     //CLEARFLOAT
                //-     .u-cf
                //- //LATEST SHOWBIZ NEWS - END
                //HEADLINES - START
                if (config.devtest != true)
                    .push-headlines
                        ul
                            - for(i=0;i<10;i++)
                                li
                                    a(href='#')
                                        .push-headlines-img
                                            img(src=SAMPLES+'headlines.png' alt='TITLE')
                                        .push-headlines-info
                                            .ph-title Pia Wurtzbach thinks Liza Soberano is fit for Miss Universe
                                            .ph-person by Yuki Pinon
                //HEADLINES - END
        //#push-home-top-container - END
        if (withSkin === true)
            //#push-skinning-container.with-skin - START
            //- - var bgImg = "background-image:url('"+SAMPLES+'home-skinning.png'+"');";
        else
            //#push-skinning-container - START
        //- #push-skinning-container(class=withSkin !== true ? '' : 'with-skin' )
        #push-skinning-container
            if (withSkin === true)
                //SKIN FOR SMALL DEVICES
                #push-skinning-mobile
                    picture
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        source(srcset=SAMPLES+'skin-568-60.png', media='(max-width: 568px)')
                        source(srcset=SAMPLES+'skin-728-60.png', media='(max-width: 959px) and (min-width: 569px)')
                        source(srcset=SAMPLES+'home-skinning.png', media='(min-width: 960px)')
                        <!--[if IE 9]></video><![endif]-->
                        img(srcset='')
                //SKIN FOR SMALL DEVICES
            .push-container.push-container-lock#push-container-left-and-right
                //.push-container-scroll
                .push-container-scroll
                    //.push-container-left - START
                    .push-container.push-container-left
                        .push-title FRESH SCOOPS
                        //TRENDING LATEST BUTTON
                        .push-trending-latest
                            ul
                                //.active
                                li(class=withSkin !== true ? 'active' : '') #[a(href="index.html") #[#icon #[i]] #[#text LATEST]]
                                //not active
                                li(class=withSkin === true ? 'active' : '') #[a(href="index-skin.html") #[#icon #[i]] #[#text TRENDING]]
                        //ARTICLES
                        .push-articles
                            ul
                                - for(i=1;i<=10;i++)
                                    include _home_li
                        //LOAD MORE STORIES
                        if (config.devtest)
                            button.load-more-btn.orange(onclick="LoadMoreStories('#articles-load-more-placeholder ul')" type="button") LOAD MORE STORIES
                            script.
                                function LoadMoreStories(){
                                    $('.push-container-left .push-articles ul').append(LoadMoreStoriesTest());
                                }
                        else
                            button.orange(type="button") LOAD MORE STORIES
                    //.push-container-left - END
                    +aside
                    //- aside.push-container-right
                        // LATEST PHOTOS - START
                        .push-container
                            .push-title Latest Photos
                            .push-articles.type-1
                                ul
                                    li.photo
                                        a(href='/2017/5/15/photos/youtube-fanfest-philippines-2017-highlights--161662')
                                            .push-articles-img
                                                img(src='https://push-data.abs-cbn.com/push/archive/photos/103089-YoutubeFanfest2017-52.jpg', alt='YouTube FanFest Philippines 2017 Highlights ')
                                            .push-articles-info-container
                                                .push-articles-info
                                                    #title YouTube FanFest Philippines 2017 Highlights 
                                    li.photo
                                        a(href='/2017/5/10/photos/cant-help-falling-in-love-thanksgiving-party-161661')
                                            .push-articles-img
                                                img(src='https://push-data.abs-cbn.com/push/archive/photos/103021-CHFIL-THANKSGIING-8.jpg', alt="Can't Help Falling In Love Thanksgiving Party")
                                            .push-articles-info-container
                                                .push-articles-info
                                                    #title Can't Help Falling In Love Thanksgiving Party
                                    li.photo
                                        a(href='/2017/5/10/photos/sandara-park-attends-one-step-premiere-night-in-ma-161660')
                                            .push-articles-img
                                                img(src='https://push-data.abs-cbn.com/push/archive/photos/103013-SANDARA-21.jpg', alt='Sandara Park attends One Step premiere night in Manila')
                                            .push-articles-info-container
                                                .push-articles-info
                                                    #title Sandara Park attends One Step premiere night in Manila
                                    li.photo
                                        a(href='/2017/5/10/photos/mighty-yaya-blogcon-161659')
                                            .push-articles-img
                                                img(src='https://push-data.abs-cbn.com/push/archive/photos/102990-Mighty-yaya-15.jpg', alt='Mighty Yaya Blogcon')
                                            .push-articles-info-container
                                                .push-articles-info
                                                    #title Mighty Yaya Blogcon
                                    li.photo
                                        a(href='/2017/5/9/photos/maymay-entratas-grand-20th-birthday-celebration-161658')
                                            .push-articles-img
                                                img(src='https://push-data.abs-cbn.com/push/archive/photos/102785-12.jpg', alt='Maymay Entrata’s Grand 20th Birthday Celebration')
                                            .push-articles-info-container
                                                .push-articles-info
                                                    #title Maymay Entrata’s Grand 20th Birthday Celebration
                                // SEE MORE PHOTOS
                                a(href='/photos')
                                    button(type='button') SEE MORE PHOTOS
                        // LATEST PHOTOS - END
                        .push-ads
                            #div-gpt-ad-1488789607954-1(style='height:250px; width:300px;')
                                script.
                                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1488789607954-1'); });
                        // LATEST VIDEOS - START
                        .push-container
                            .push-title Latest Videos
                            .push-articles.type-1
                                ul
                                    li.video
                                        a(href='/2017/5/16/videos/daryl-ong-may-plano-bang-sumabak-sa-aktingan-162165')
                                            .push-articles-img
                                                img(src='http://abscbnpmd.brightcove.com.edgesuite.net/pd/1888899668001/201705/1888899668001_5436098622001_5436090306001-vs.jpg?pubId=1888899668001', alt='Daryl Ong, may plano bang sumabak sa aktingan?')
                                            .push-articles-info-container
                                                .push-articles-info
                                                    #title Daryl Ong, may plano bang sumabak sa aktingan?
                                    li.video
                                        a(href='/2017/5/16/videos/yael-yuzon-on-marriage-with-karylle-were-just-enjo-162164')
                                            .push-articles-img
                                                img(src='http://abscbnpmd.brightcove.com.edgesuite.net/pd/1888899668001/201705/1888899668001_5436098614001_5436072759001-vs.jpg?pubId=1888899668001', alt='Yael Yuzon on marriage with Karylle: We’re just enjoying life')
                                            .push-articles-info-container
                                                .push-articles-info
                                                    #title Yael Yuzon on marriage with Karylle: We’re just enjoying life
                                    li.video
                                        a(href='/2017/5/15/videos/brace-arquiza-pinagtanggol-si-crush-ac-bonifacio-s-162163')
                                            .push-articles-img
                                                img(src='http://abscbnpmd.brightcove.com.edgesuite.net/pd/1888899668001/201705/1888899668001_5434425208001_5434411429001-vs.jpg?pubId=1888899668001', alt='Brace Arquiza, pinagtanggol si ', ac='', bonifacio='', sa='', mga='')
                                            .push-articles-info-container
                                                .push-articles-info
                                                    #title Brace Arquiza, pinagtanggol si "crush" AC Bonifacio sa mga bashers
                                    li.video
                                        a(href='/2017/5/11/videos/funniest-pinoy-alex-calleja-magkakaroon-ng-sarilin-162162')
                                            .push-articles-img
                                                img(src='http://abscbnpmd.brightcove.com.edgesuite.net/pd/1888899668001/201705/1888899668001_5430016378001_5430008845001-vs.jpg?pubId=1888899668001', alt='Funniest Pinoy Alex Calleja magkakaroon ng sariling show, nagpatikim ng joke')
                                            .push-articles-info-container
                                                .push-articles-info
                                                    #title Funniest Pinoy Alex Calleja magkakaroon ng sariling show, nagpatikim ng joke
                                    li.video
                                        a(href='/2017/5/11/videos/fast-facts-about-goblin-star-gong-yoo--162161')
                                            .push-articles-img
                                                img(src='http://abscbnpmd.brightcove.com.edgesuite.net/pd/1888899668001/201705/1888899668001_5429996129001_5429983563001-vs.jpg?pubId=1888899668001', alt='Fast Facts about Goblin Star Gong Yoo ')
                                            .push-articles-info-container
                                                .push-articles-info
                                                    #title Fast Facts about Goblin Star Gong Yoo 
                                // SEE MORE VIDEOS
                                a(href='/videos')
                                    button(type='button') SEE MORE VIDEOS
                        // LATEST VIDEOS - END
                        .push-ads
                            div(data-crowdynews-widget='ABSCBN1_vertical-widget')
                                script(src='//widget.crowdynews.com/ABSCBN1_vertical-widget.js', async='true')
                    //CLEARFLOAT
                    .u-cf
        .push-container#push-home-top-container
            .push-container.push-container-lock
                //LATEST SHOWBIZ NEWS - START
                .push-title LATEST SHOWBIZ NEWS
                .push-lsn
                    ul
                        each d, i in data_lsn
                            li.four.columns
                                a(href='#')
                                    .push-lsn-img
                                        if (config.devtest)
                                            img(src='https://unsplash.it/600/41'+(5+i) alt='TITLE')                                            
                                        else
                                            img(src=SAMPLES+'lsn-'+(i+1)+'.png' alt='TITLE')
                                    .push-lsn-info-container
                                        .push-lsn-info
                                            span#title=d.a
                                            div#source-date
                                                if (config.devtest)
                                                    span#source='ABS-CBN Entertainment'
                                                else
                                                    span#source=d.b
                                                span#date=d.c
                    //CLEARFLOAT
                    .u-cf
                //LATEST SHOWBIZ NEWS - END
        //#push-skinning-container - END
//HOMEPAGE - END