li(class=data.type !== false ? data.type : '')
    a(href=data.link)
        .push-articles-img
            img(src=data.img alt=data.title)
        .push-articles-info-container
            .push-articles-info
                #title-container
                    #title=data.title
                #person-date
                    #date=data.date